<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
    <!-- sidebar-->
   <div layout:fragment="content">
   
   <section class="countdown countdown--page spad set-bg" data-setbg="../img/countdown-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="countdown__text">
                        <h1 th:text="${memId + '의 이력'}">portfolio</h1>
                        <h4>portfolio</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Countdown Section End -->

    <!-- Tours Section Begin -->
    <section class="tours spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 order-lg-1">
	                <div class="tours__item__text">
	                    <h2>PARTICIPATE</h2>
	                        <div class="tours__text__widget">
	                        <h2>참여했던 팀</h2>
		                        <ul>
		                        	<div th:each="part:${participated}">		<!-- ${#dates.format(part.recordStart, 'yyyy-MM-dd')} -->
									<li><a th:href="@{/team/teamhispage(teamNo=${part.teamNo})}"><h3 th:text=${part.teamName}></h3></a><span th:text="${#dates.format(part.recordStart, 'yyyy-MM-dd')}"></span><span th:text="${#dates.format(part.recordEnd, 'yyyy-MM-dd')}"></span></li>                        
									
									</div>
		                        </ul>
	                        </div>
	                </div>
                </div>
                <div class="col-lg-6 order-lg-2">
                    <div class="tours__item__pic">
                        <img src="../img/tours/tour-1.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-4">
                    <div class="tours__item__text tours__item__text--right">
                        <h2>PARTICIPATING</h2>
                        <div class="tours__text__widget">
                            <h2>참여중인 팀</h2>
		                        <ul>
		                        	<div th:each="pa:${participat}">
									<li><a th:href="@{/team/teamhispage(teamNo=${pa.teamNo})}"><h3 th:text=${pa.teamName}></h3></a><p th:text="${#dates.format(pa.recordStart, 'yyyy-MM-dd')}"></p></li>                        
									
		                        </ul>
                        </div>
                       
                    </div>
                </div>
                <div class="col-lg-6 order-lg-3">
                    <div class="tours__item__pic tours__item__pic--left">
                        <img src="../img/tours/tour-2.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-5">
                    <div class="tours__item__text">
                        <h2>PRACTICE</h2>
                        <div class="tours__text__widget">
	                        <h2>개인 연습 이력</h2>
		                        <ul>
		                        	<div th:each="record:${record}">
									<li><a th:href="@{/page/practiceSelecter(practiceNo=${record.practiceNo}, memId=${memId})}"><h3 th:text=${record.practiceName}></h3></a><p th:text="${#dates.format(record.practiceDate, 'yyyy-MM-dd')}"></p></li>                        
									</div>
		                        </ul>
	                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-lg-6">
                    <div class="tours__item__pic tours__item__pic--last">
                        <img src="../img/tours/tour-3.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

   </div>
    <!-- Contact Section End -->
</html> 