    /*
    Flaticon icon font: Flaticon
    Creation date: 17/08/2020 06:54
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-restaurant:before { content: "\f100"; }
.flaticon-playground:before { content: "\f101"; }
.flaticon-plane:before { content: "\f102"; }
.flaticon-mail:before { content: "\f103"; }
.flaticon-phone-call:before { content: "\f104"; }
.flaticon-house:before { content: "\f105"; }
.flaticon-swimming:before { content: "\f106"; }
    
    $font-Flaticon-restaurant: "\f100";
    $font-Flaticon-playground: "\f101";
    $font-Flaticon-plane: "\f102";
    $font-Flaticon-mail: "\f103";
    $font-Flaticon-phone-call: "\f104";
    $font-Flaticon-house: "\f105";
    $font-Flaticon-swimming: "\f106";




    