    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}">

    <th:block layout:fragment="css">
        <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
        <link rel="stylesheet"
            th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
        <link rel="stylesheet" th:href="@{/css/barfiller.css}">
        <link rel="stylesheet" th:href="@{/css/nowfont.css}">
        <link rel="stylesheet" th:href="@{/css/rockville.css}">
        <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
        <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
        <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="stylesheet" th:href="@{/css/funding.css}">
        
  <style>
  #preview-img {
	width: 600px; 
	height:500px;
	object-fit: cover; /* 이미지 비율 유지하며 크기 맞추기 */
	object-position: center;
	display: block; /* 이미지를 블록 요소로 만들어 가운데 정렬 가능하게 함 */
	margin: 0 auto; /* 가운데 정렬 */
}

.image-container {
	width: 600px; 
	height:500px;
	border-radius: 20%; /* 동그라미 모양으로 만들기 */
	overflow: hidden; /* 이미지가 요소를 벗어나는 것을 방지 */
}

.image-container img {
	width: 100%; /* 이미지 요소에 width를 100% 지정하여 크기 조정 */
	height: auto; /* 비율에 맞게 자동 조정 */
	display: block; /* 가운데 정렬을 위한 필수 속성 */
	margin: auto; /* 가운데 정렬 */
}

.selectImage {
	width: 670px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	box-sizing: border-box;
}
  
  </style>
    </th:block>

    <!-- Content -->
    <div layout:fragment="content">
        
           

            <div class="breadcrumb-option">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrumb__links">
                                <form action="/boot/show/showList" id="" method="get">                    
			                        <button><i class="fa fa-home"></i>Home</button>
			                        <span> ➡ 공연등록</span>
		                        </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Breadcrumb End -->



            <section class="discography spad">
                <div class="container">
                
                    <div class="contact__form">
                        <div class="col-lg-12">
                            <div class="section-title center-title" style="margin:50px">
                                <h2>공연등록하기</h2>
                                <h1>Show Insert</h1>
                            </div>
                        </div>
                        
                        
                              
                        
                        
                        <form action="/boot/show/showInsert" method="POST">
						
                            <div style="position: relative; left: 150px;" class="input__list">
                             	
                            
                            	<input type="hidden" name="memNo" th:value="${session.memVO.memNo}" id="memNo">
                            	<input type="hidden" name="teamNo" th:value="${session.memVO.teamNo}" id="teamNo">                               
                                <label class="label1">공연명</label>
                                <input name="showName" type="text"
                                    style="width: calc(58% - 20px); height: 40px; margin:10px" id="showName"><br><br>
                                
                                
                                <!--  
                                <input name="showPlace" type="text"
                                    style="width: calc(58% - 20px); height: 40px; margin:10px " id="showPlace"><br>
                                -->    
                                <label class="label1">공연장소</label>
                                <th:block th:each="spaceList : ${spaceList}">
                                <label th:text="${spaceList.showPlace}" style="margin-left: 10px;"></label>
                                <input type="radio" name="space" th:value="${spaceList.showPlace}" 
                                	   style="width: 20px; height: 15px; margin-left: 10px; margin-bottom: 20px; margin-right: 0;"/>
                                
                                </th:block>    
                                <br>
                                    
                                <label class="label1">장르</label>
                                <input name="showType" type="text"
                                    style="width: calc(58% - 20px); height: 40px; margin:10px " id="showType"><br>
                                <label class="label1">예매기간</label>
                                <input class="input3" name="reservStart" type="date"
                                    style="width: calc(28% - 18px); height: 40px; margin:10px " id="reservStart"> ~ <input class="input3"
                                    name="reservEnd" type="date"
                                    style="width: calc(28% - 18px); height: 40px; margin:10px" id="reservEnd"><br>
                                    <label class="label1">공연날짜</label>
                                <input name="showDate" type="date"
                                    style="width: calc(58% - 20px); height: 40px; margin:10px" id="showDate"><br>
                                    <label class="label1">공연시간</label>
                                <input name="showTime" type="text"
                                    style="width: calc(58% - 20px); height: 40px; margin:10px" id="showTime"><br>

								<label class="label1">S석</label>
                                <input name="sPrice" type="number"
                                    style="width: calc(58% - 20px); height: 40px; margin:10px" id="sPrice">
                                    <br>
                                    <label class="label1">A석</label>
                                <input name="aPrice" type="number"
                                    style="width: calc(58% - 20px); height: 40px; margin:10px" id="aPrice">
                                    <br>
                                    <label class="label1">B석</label>
                                <input name="bPrice" type="number"
                                    style="width: calc(58% - 20px); height: 40px; margin:10px" id="bPrice">
                                    <br>

                                
                                


                                
                                <label class="label1" style="position: relative; bottom: 50px;" >상세설명</label>
                                <textarea name="showContent" class="textarea"
                                    style="width: calc(58% - 20px); height: 80px; margin:10px" id="showContent"></textarea><br>
                                    <label class="label1" style="position: relative; bottom: 50px;">유의사항</label>
                                <textarea name="showCaution" class="textarea"
                                    style="width: calc(58% - 20px); height: 80px; margin:10px" id="showCaution"></textarea>
                                    <button class="primary-btns2" type="submit" style="margin-left: 690px;" id="save">저장</button>
                            </div>
                            
                        </form>
                        
                        <br>
                        <br>
                        
                        
                        <div class="input__list" style="position: relative; left: 150px;">
                            <form th:action="@{/show/uploadImage}" method="post" enctype="multipart/form-data">	
                                <label class="label1" for="profile-image">대표이미지</label> 
                                <input type="file" id="profile-img" name="showImage" onchange="previewImage()" class="selectImage">
                                <div class="image-container">
                                    <img id="preview-img" src="#" >
                                </div>
                                <button class="primary-btns2" type="submit" id="imageSave" style="margin-left: 690px;">등록</button>
                             </form>
                    </div> 
                       
                    </div>
                    </div>
            </section>

<script th:src="@{/showJs/jquery-3.4.1.min.js}"></script>
<script type="text/javascript" th:inline="javascript">

$(document).ready(function() {
	
// 공연 추가 실행
$('#save').on('click', function(e) {

e.preventDefault();

addShow();

})


	//공연 추가
function addShow(){

$.ajax({
url:'/boot/show/showInsert',
type:'post',
data: JSON.stringify({
    "memNo" :  $('#memNo').val(),
    "showName" :  $('#showName').val(),
    "showPlace" :  $('input[name=space]:checked').val(),
    "showType" : $('#showType').val(),
    "reservStart" : $('#reservStart').val(),
    "reservEnd" : $('#reservEnd').val(),
    "showDate" : $('#showDate').val(),
    "showTime" : $('#showTime').val(),
    "ssPrice" : Number($('#sPrice').val()),
    "aaPrice" : Number($('#aPrice').val()),
    "bbPrice" : Number($('#bPrice').val()),
    "showContent" : $('#showContent').val(),
    "showCaution" : $('#showCaution').val(),
    "teamNo" : $('#teamNo').val(),
    "showDate2" : $('#showDate').val()
}),
contentType : 'application/json',
dataType : 'text',
success: function(result){

    if( result == 'success') {

    	Swal.fire({
            icon: 'success',                      
            title: '공연저장 성공.',         
        });

    }
},
error: function(){

	Swal.fire({
        icon: 'error',                      
        title: '공연저장 실패.',         
    });
    
}
})



}
	
})


function previewImage() {
			var preview = document.getElementById('preview');
			var file = document.getElementById('profile-img').files[0];
			var reader = new FileReader();

			reader.onloadend = function() {
				preview.src = reader.result;
			}

			if (file) {
				reader.readAsDataURL(file);
			} else {
				preview.src = "";
			}
		}

		var profileImgInput = document.getElementById('profile-img');
		var previewImg = document.getElementById('preview-img');

		profileImgInput.addEventListener('change', function(event) {
			var file = event.target.files[0];
			var reader = new FileReader();

			reader.addEventListener('load', function() {
				previewImg.src = reader.result;
				previewImg.style.display = 'block';
			});

			if (file) {
				reader.readAsDataURL(file);
			}
		});

</script>
          
       
    </div>


    </html>

    