<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
      
      <!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
      <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}" >
     <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/barfiller.css}">
    <link rel="stylesheet" th:href="@{/css/nowfont.css}">
    <link rel="stylesheet" th:href="@{/css/rockville.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/showCss/show01.css}">
     
     
     <link rel="stylesheet" th:href="@{/showCss/_mixins.css}">
   	 <link rel="stylesheet" th:href="@{/showCss/_site-blocks.css}">
   	 <link rel="stylesheet" th:href="@{/showCss/aos.css}">
   	 <link rel="stylesheet" th:href="@{/showCss/bootstrap.min.css}">
   	 <link rel="stylesheet" th:href="@{/showCss/daterangepicker.css}">
   	 <link rel="stylesheet" th:href="@{/showCss/jquery.fancybox.min.css}">
   	 <link rel="stylesheet" th:href="@{/showCss/owl.carousel.min.css}">
   	 <link rel="stylesheet" th:href="@{/showCss/owl.theme.default.min.css}">
   	 <link rel="stylesheet" th:href="@{/showCss/style.css}">
   	 <link rel="stylesheet" th:href="@{/showCss/mixins/_background-variant.css}">
   	 <link rel="stylesheet" th:href="@{/showCss/mixins/_deprecate.css}">
   	 <link rel="stylesheet" th:href="@{/showCss/mixins/_resize.css}">
   	 <link rel="stylesheet" th:href="@{/showCss/vendor/_rfs.css}">
   	 
   	 
   	 <link rel="preconnect" href="https://fonts.googleapis.com">
	 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	 <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
   	 
   	 
   	 <script src="https://kit.fontawesome.com/ada6fecb1f.js" crossorigin="anonymous"></script>
   	 
   	 
</th:block>

<head>

<style>
table, th, td {
border : 1px solid black;
empty-cells: hide;
border-collapse: collapse;
}

p, h3, label {

font-family: 'Noto Sans KR', sans-serif;


}



</style>

</head>
	
<div layout:fragment="content">
	<input type="hidden" name="showNo" th:value="${show.showNo}" id="showNo2"/>

	<div class="untree_co-section">
		<div class="container">
		<form action="/boot/show/showList" style="text-align: right;">
		<button class="btn btn-primary" type="submit" style="border-radius: 0px;" >HOME</button>
		</form>
		<h1 class="section-title text-left mb-4">SHOW</h1>
			<div class="row justify-content-between align-items-center">
				
				<div class="col-lg-6" style="width: 550px; height: 600px;" >
					<figure class="img-play-video">
						
						<img th:src="|/boot/${show.showImage}|" alt="Image" class="img-fluid rounded-20" 
						 	 style="width: 540px; height: 590px;">
					</figure>
				</div>

				<div class="col-lg-5">
					<h2 class="section-title text-left mb-4" th:text="${show.showName}"></h2>
					<p class="mb-4" th:text="${'공연날짜 :' + #dates.format(show.showDate, 'yyyy-MM-dd')}"></p>
					<p class="mb-4" th:text="${'공연시간 : ' + show.showTime}"></p>
					<p class="mb-4">공연장소 : [[${show.showPlace}]]</p>
					<p class="mb-4">관람시 유의사항 : [[${show.showCaution}]]</p>
					<p class="mb-4">상세내용 : [[${show.showContent}]]</p>
			
			<!-- 로그인시 보임 -->
					<div th:if="${session.memVO != null}">
						
						<!-- 예매기간중에만 예매하기, 찜하기 버튼 활성화 -->
						<th:block th:if="${showStatus == 1 and session.memVO.memRating != 'MR03'}">
						
								<form th:action="@{/show/showJJim}" method="POST" th:if="${show2 == null}" >
									<input type="submit" class="btn btn-primary" style="border-radius: 0px;" value="찜하기">
									<input type="hidden" th:name="showNo" th:value="${show.showNo}">
									<input type="hidden" th:name="memNo" th:value="${session.memVO.memNo}" >
								</form>
						
								<form th:action="@{/show/showJJimDeleteUpdate}" method="POST" th:if="${show2 != null}" >
									<input type="submit" class="btn btn-primary" style="border-radius: 0px;" value="찜해제하기">
									<input type="hidden" th:name="showNo" th:value="${show.showNo}">
									<input type="hidden" th:name="memNo" th:value="${session.memVO.memNo}" >
								</form>
								<br>								
										
								<form th:action="@{/show/showTicketing}" method="GET">
									<input type="submit" class="btn btn-primary" style="border-radius: 0px;" value="예매하기" />
								<!-- showNo를 파라미터값으로 넘김 -->
								<input type="hidden" th:name="showNo" th:value="${show.showNo}" id="showNo"/>
								</form>
						</th:block>
					
					</div>
							
					
					
					
					</p>
				</div>
			</div>
		</div>
	</div>
	

	<div class="untree_co-section">
		<div class="container">
		<h1 class="section-title text-left mb-4">TEAM</h1>
			<div class="row justify-content-between align-items-center">
				
				<div class="col-lg-6" style="width: 550px; height: 410px;">
					<figure class="img-play-video">
						<img th:src="|/boot/${show.teamImage}|" alt="Image" class="img-fluid rounded-20">
					</figure>
				</div>

				<div class="col-lg-5">
					<h2 class="section-title text-left mb-4" th:text="${show.teamName}"></h2>
					
					<p class="mb-4">팀 목표 : [[${show.teamTarget}]]</p>
					<p class="mb-4">팀 특징 :  [[${show.teamSpecificity}]]</p>
					<p>
					 <a th:href="@{/team/teamhispage(teamNo=${show.teamNo})}" class="btn btn-primary" style="border-radius: 0px;">팀히스토리</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="untree_co-section" th:if="${show.showDate2 < #dates.createNow()}">
		<th:block th:if="${session.memVO != null}">
			<input type="hidden" name="memNo" th:value="${session.memVO.memNo}" id="memberNo"  >
		</th:block>

		<div class="container">
		<h1 class="section-title text-left mb-4">REVIEW</h1>
		<br><br>
		<br>

		<th:block th:if="${session.memVO != null}">
		<div style="width: 100px;  display: flex; display: inline-block; justify-content: center;  ">	
			<p  style="width:100px; height: 30px; display: flex; display: inline-block; justify-content: center;" th:text="${session.memVO.memName}" id="memName">작성자</p>				
			<p  style="width:100px; height: 30px; display: flex; display: inline-block; justify-content: center;" >작성내용</p>	
		</div>
		<div style="width: 600px; display: flex; display: inline-block; justify-content: center; top: 30px;">
		<input type="text" placeholder="내용을 입력하세요." style="width: 600px;" id="content" >
		</div>
		<br>
		<div style="display: inline-block;">
		<p  style="display: inline-block; width: 100px;">별점</p>
		<label style="width: 10px;">1</label>
        <input type="radio" name="star" value="1" style="width: 30px; height: 13px; "/>
        <label style="width: 10px;">2</label>
        <input type="radio" name="star" value="2" style="width: 30px; height: 13px; "/>
        <label style="width: 10px;">3</label>
        <input type="radio" name="star" value="3" style="width: 30px; height: 13px; "/>
        <label style="width: 10px;">4</label>
        <input type="radio" name="star" value="4" style="width: 30px; height: 13px; "/>
        <label style="width: 10px;">5</label>
        <input type="radio" name="star" value="5" style="width: 30px; height: 13px; "/>
		</div>
		<div style="width: 400px; height: 100px; display: flex; display: inline-block; justify-content: center;">
		<button class="btn btn-primary" style="width: 100px; display: flex; display: inline-block; justify-content: center; margin-left: 250px; border-radius: 0px;" id="reviewAdd" >등록</button>
		</div>
		<br>
		</th:block>


		<div class="showReview">
		
		
		<br>
		<div style="height: 150px; width: 800px; background-color: lightgray;">
		<h3 style="display: flex; justify-content: left; margin-left: 60px; padding-top : 60px; ">등록된 리뷰가 없습니다.</h3>
		<br>
		</div>
		
		
		
	</div>
	
	</div>
<script th:src="@{/showJs/jquery-3.4.1.min.js}"></script>
<script type="text/javascript" th:inline="javascript">

$(document).ready(function() {

	// 리뷰 리스트 실행
	reviewList();


	// 리뷰 추가 실행
	$('#reviewAdd').on('click', function(e) {

		e.preventDefault();

		addReview();

	})


// 리뷰 리스트
	function reviewList() {

		var str = "";

		$.ajax({
                url:'/boot/show/reviewList',
                type:'post',
                data: { "showNo" :  $('#showNo2').val(),
						"memNo" :  $('#memberNo').val()},
                success: function(result){
                        			
                    if(result != null){

                        $('.showReview').html();

						$.each(result, function (index, item) {

							console.log(item);

						    var td = new Date(item.commentDate).toISOString().substring(0,10);	
					

								if( Math.floor(item.commentScope) == 5 ) {

									star = "★★★★★";

								} else if( Math.floor(item.commentScope) == 4 ) {

									star = "★★★★";

								} else if( Math.floor(item.commentScope) == 3 ) {

									star = "★★★";
									
								} else if( Math.floor(item.commentScope) == 2 ) {

									star = "★★";
									
								} else if( Math.floor(item.commentScope) == 1 ) {

									star = "★";
									
								} 

						                         									
							str += "<div>" 
							str += "<p style='display: flex; margin-left: 30px; display: inline-block; justify-content: center; width: 100px;'>"+item.memName+"</p>";
							str += "<p style='display: flex; display: inline-block; justify-content: center; width: 100px;'>"+td+"</p>";
							
							// 로그인시만 좋아요 버튼 보임
							if($('#memberNo').val() != null){
							
							str += "<div style='width: 650px; display: inline-block; padding-left:  500px;'>";
							
							if(item.likeBoolean == 0){								
								str += "<div class='heartClick' style='display: flex; display: inline-block;'>";
								str += "<i class='fa-regular fa-heart' style=' color: red;' ></i>";
								str += "<input type='hidden'  value='"+item.reviewNo+"' >"
								str += "<input type='hidden'  value='"+item.likeCount+"' ></div>"
							} else if(item.likeBoolean == 1){							
								str += "<div class='heartClick' style='display: flex; display: inline-block;'>";
								str += "<i class='fa-solid fa-heart' style=' color: red;' ></i>";
								str += "<input type='hidden'  value='"+item.reviewNo+"' >"
								str += "<input type='hidden'  value='"+item.likeCount+"' ></div>"
							}
							str += "<div class='likeCount' style='display: flex; display: inline-block;'>"
							str += "<p style='display: flex; display: inline-block;  width: 100px;'>"+item.likeCount+"</p></div>";
							str += "</div><br>";
							}

							str += "<div style='height: 150px; width: 800px; background-color: lightgray;'>";
							str += "<p style='display: flex; justify-content: left; margin-left: 60px; padding-top : 40px; '>"+item.commentContent+"</p>";
							str += "<p style='display: flex; justify-content: left; margin-left: 60px; color: yellow;  '>"+star+"</p></div><br>";
							if($('#memberNo').val() != null){

								if($('#memberNo').val() == item.memNo){
								
							str += "<div class='deleteBtn' style='width: 800px; display: flex; padding-left: 700px;'>";
							str += "<input type='hidden'  value='"+item.reviewNo+"' ><a style='display: inline-block;'>";
							str += "<button class='btn btn-primary' style='border-radius: 0px;'>삭제</button></a></div><br><br>"
								}
							}
							str += "</div>";
	
							$('.showReview').html(str);
							
							// 좋아요 상태변경
							reviewHandler();
						
						})
						 					                   
                        } else {
                            console.log('값이 없음')
                        }		
						
						// 리뷰 삭제 실행				
						deleteReview();
					   						
                },
                error: function(){
                  
                	Swal.fire({
                        icon: 'error',                      
                        title: '통신실패.',         
                    });
                }
                })
	}



	//리뷰 추가
function addReview(){

	$.ajax({
	url:'/boot/show/addReview',
	type:'post',
	data: {
		"showNo" :  $('#showNo2').val(),
		"memNo" :  $('#memberNo').val(),
		"commentContent" : $('#content').val(),
		"commentScope" : $('input[name=star]:checked').val()
	},
	success: function(result){

		if( result > 0) {

			Swal.fire({
            icon: 'success',                      
            title: '리뷰등록 성공.'
        });

			$('#content').val('');
			$('#star').val('');


			reviewList();

		}
	},
	error: function(){

		Swal.fire({
            icon: 'error',                      
            title: '리뷰등록 실패.',         
        });
		
	}
	})


	}

//리뷰 삭제
function deleteReview(){

$('.deleteBtn').find('button').on('click', function(e) {

e.preventDefault();

var reviewNo= $(this).parent().parent().find('input').val();


$.ajax({
url:'/boot/show/deleteReview',
type:'post',
data: {	
	"memNo" :  $('#memberNo').val(),
	"reviewNo" : reviewNo
},
success: function(result){

	if( result > 0) {

		Swal.fire({
            icon: 'success',                      
            title: '리뷰삭제 성공.',         
        });
		
		var str = "";

		if(reviewList() == null) {
			
			str += "<br><div style='height: 150px; width: 800px; background-color: lightgray;'>";
			str += "<h3 style='display: flex; justify-content: left; margin-left: 60px; padding-top : 60px;'>등록된 리뷰가 없습니다.</h3>"
			str += "<br></div>"
			
			$('.showReview').html(str);
			
		} else {
			
			reviewList()
			
		}

	}
},
error: function(){

	Swal.fire({
        icon: 'error',                      
        title: '리뷰삭제 실패.',         
    });
	
}
})



}
)}


// 좋아요 상태변경, 좋아요 수 증감
function reviewHandler() {

$('.heartClick').on('click', function() {
	
	let heart = $(this).find('i');
	var memNo = $('#memberNo').val();
	var reviewNo= $(this).find('input').val();
	var count = $(this).find('input:eq(1)');
	var countText = $(this).parent().find('.likeCount').find('p');

		//빈하트 눌렀을때
		if( $(this).find('i').attr('class') == "fa-regular fa-heart" ){
		
			$.ajax({
				url:'/boot/show/reviewLike',
				type:'post',
				data: {
					"memNo" : memNo,
					"reviewNo" : reviewNo,
					"showNo" :  $('#showNo').val()
				},
				success: function(result){
					
					if(result =='success'){
					   
					   heart.attr('class','fa-solid fa-heart').css('color','red');
					   countText.replaceWith("<p style='display: flex; display: inline-block;  width: 100px;'>"+(parseInt(count.val())+1)+"</p>")		
					   count.val(parseInt(count.val())+1);					  
					}
				},
				error: function(){

					Swal.fire({
			            icon: 'error',                      
			            title: '좋아요 실패.',         
			        });
				}
			});
	
		//꽉찬 하트 눌렀을때
		
		} else if( $(this).find('i').attr('class') == "fa-solid fa-heart"){

			$.ajax({
				url:'/boot/show/reviewUnLike',
				type:'post',
				data: {
					"memNo" : memNo,
					"reviewNo" : reviewNo,
					"showNo" :  $('#showNo').val()
				},
				success: function(result){
				   
					if(result =='success'){
						
						heart.attr('class','fa-regular fa-heart').css('color','red');
						countText.replaceWith("<p style='display: flex; display: inline-block;  width: 100px;'>"+(parseInt(count.val())-1)+"</p>")
						count.val(parseInt(count.val())-1);
					}
				},
				error: function(){
					Swal.fire({
			            icon: 'error',                      
			            title: '좋아요해제 실패.',         
			        });
				}
	})

}
	
})

}

})





</script>


	
	</div>

</div>



</html>
