<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
      
      <!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}" >
     <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/barfiller.css}">
    <link rel="stylesheet" th:href="@{/css/nowfont.css}">
    <link rel="stylesheet" th:href="@{/css/rockville.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/showCss/show01.css}">
</th:block>
<!-- index.html 고유 스크립트 추가 -->

    
    <!-- Content -->
<div layout:fragment="content">

    <!-- Event Section Begin -->
    <section class="event spad">
    
        <div class="container">
            <div class="row">
            <p>
           		 <form action="/boot/show/showAllList">       
                     <button class="btn btn-danger">전체목록</button>
                  </form>
                  
                  <!-- 대여된 공간이 있고, 등록한 공연이 없는 경우만 공연등록 버튼 활성화 -->
                  <th:block th:if="${session.memVO != null}">    
                   <form action="/boot/show/showInsert" th:if="${spaceStatus >= 1 and showStatus == 0}">
    				<button class="btn btn-primary" >공연등록</button>
   					 </form>
   				  </th:block>
                  </p>
                  
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>ALL RANKING</h2>
                    </div>
                </div>
            </div>
            
            <!--  이미지 슬라이드 start  -->
            <div class="row">
                <div class="event__slider owl-carousel">
                    <div class="col-lg-4" th:each="showInfo : ${showAllList}">
                        <div class="event__item">
							
							<!-- 이미지 클릭시 상세화면 이동 -->
							<form th:action="@{/show/showDetail}" method="GET">
                             <button class="btn btn-default "type="submit" style="width: 360px; height: 360px;">
                            <div class="event__item__pic set-bg" th:attr="data-setbg=|/boot/${showInfo.showImage}|">
                                <div class="tag-date">
                                    <span th:text="${showInfo.rownum + '위'}"></span>
                                </div>
                            </div>
                            </button>
                            <!-- 파라미터값으로 넘김 -->
                            <input type="hidden" th:name="showNo" th:value="${showInfo.showNo}"/>
							<input type="hidden" th:name="memNo" th:value="${session.memVO.memNo}" th:if="${session.memVO != null}"/>
                            </form>
                           
                           <div class="event__item__text">
                                <h4 th:text="${showInfo.showName}"></h4>
                                <h4 th:text="${showInfo.showType}"></h4>
                                <p><i class="fa fa-map-marker" th:text="${showInfo.showPlace}"></i></p>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
            <!--  이미지 슬라이드 end  -->
        </div>
    </section>
    <!-- Event Section End -->




     <!-- Event Section Begin -->
    <section class="event spad">
        <div class="container">
            <div class="row">
            <!-- 페이징 되어있는 리스트가 보이는 화면으로 이동 -->
            <form action="/boot/show/showTheaterList" id="" method="get">       
                     <button class="btn btn-danger" value="">전체목록</button>
                  </form>
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>THEATER RANKING</h2>
                    </div>
                </div>
            </div>
            
            
            
            <!--  이미지 슬라이드 start  -->
            <div class="row">
                <div class="event__slider owl-carousel">
                
                
                    <div class="col-lg-4" th:each="showInfo : ${showTheaterList}">
                        <div class="event__item">
                        
                        
                          <!-- 이미지 클릭시 상세화면 이동 -->
							<form th:action="@{/show/showDetail}" method="GET">
                             <button class="btn btn-default "type="submit" style="width: 360px; height: 360px;">
                            <div class="event__item__pic set-bg" th:attr="data-setbg=|/boot/${showInfo.showImage}|">
                                <div class="tag-date">
                                    <span th:text="${showInfo.rownum + '위'}"></span>
                                </div>
                            </div>
                            </button>
                            <!-- 파라미터값으로 넘김 -->
                            <input type="hidden" th:name="showNo" th:value="${showInfo.showNo}"/>
							<input type="hidden" th:name="memNo" th:value="${session.memVO.memNo}" th:if="${session.memVO != null}"/>
                            </form>
                            
                            
                            <div class="event__item__text">
                                <h4 th:text="${showInfo.showName}"></h4>
                                <h4 th:text="${showInfo.showType}"></h4>
                                <p><i class="fa fa-map-marker" th:text="${showInfo.showPlace}"></i></p>
                            </div>
                        </div>
                    </div>
                    
                    
                   
                </div>
            </div>
            <!--  이미지 슬라이드 end  -->
        </div>
    </section>
    <!-- Event Section End -->
    
    
    
    
    
    <!-- Event Section Begin -->
    <section class="event spad">
        <div class="container">
            <div class="row">
            <form action="/boot/show/showMusicalList" id="" method="get">       
                     <button class="btn btn-danger" value="">전체목록</button>
                  </form>
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>MUSICAL RANKING</h2>
                    </div>
                </div>
            </div>
            
            
            
            <!--  이미지 슬라이드 start  -->
            <div class="row">
                <div class="event__slider owl-carousel">
                    <div class="col-lg-4" th:each="showInfo : ${showMusicalList}">
                        <div class="event__item">
                        
                        
                          <!-- 이미지 클릭시 상세화면 이동 -->
							<form th:action="@{/show/showDetail}" method="GET">
                             <button class="btn btn-default "type="submit" style="width: 360px; height: 360px;">
                            <div class="event__item__pic set-bg" th:attr="data-setbg=|/boot/${showInfo.showImage}|">
                                <div class="tag-date">
                                    <span th:text="${showInfo.rownum + '위'}"></span>
                                </div>
                            </div>
                            </button>
                            <!-- 파라미터값으로 넘김 -->
                            <input type="hidden" th:name="showNo" th:value="${showInfo.showNo}"/>
							<input type="hidden" th:name="memNo" th:value="${session.memVO.memNo}" th:if="${session.memVO != null}"/>
                            </form>
                            
                            
                           <div class="event__item__text">
                                <h4 th:text="${showInfo.showName}"></h4>
                                <h4 th:text="${showInfo.showType}"></h4>
                                <p><i class="fa fa-map-marker" th:text="${showInfo.showPlace}"></i></p>
                            </div>
                        </div>
                    </div>
                   
                  
                   
                </div>
            </div>
            <!--  이미지 슬라이드 end  -->
        </div>
    </section>
    <!-- Event Section End -->
    
    
    
    
     <!-- Event Section Begin -->
    <section class="event spad">
        <div class="container">
            <div class="row">
            <form action="/boot/show/showKpopList" id="" method="get">       
                     <button class="btn btn-danger" value="">전체목록</button>
                  </form>
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>K-POP RANKING</h2>
                    </div>
                </div>
            </div>
            
            
            
            <!--  이미지 슬라이드 start  -->
            <div class="row">
                <div class="event__slider owl-carousel">
                    <div class="col-lg-4" th:each="showInfo : ${showKpopList}">
                        <div class="event__item">
                        
                        
                          <!-- 이미지 클릭시 상세화면 이동 -->
							<form th:action="@{/show/showDetail}" method="GET">
                             <button class="btn btn-default "type="submit" style="width: 360px; height: 360px;">
                            <div class="event__item__pic set-bg" th:attr="data-setbg=|/boot/${showInfo.showImage}|">
                                <div class="tag-date">
                                    <span th:text="${showInfo.rownum + '위'}"></span>
                                </div>
                            </div>
                            </button>
                            <!-- 파라미터값으로 넘김 -->
                            <input type="hidden" th:name="showNo" th:value="${showInfo.showNo}"/>
							<input type="hidden" th:name="memNo" th:value="${session.memVO.memNo}" th:if="${session.memVO != null}"/>
                            </form>
                            
                            
                            <div class="event__item__text">
                                <h4 th:text="${showInfo.showName}"></h4>
                                <h4 th:text="${showInfo.showType}"></h4>
                                <p><i class="fa fa-map-marker" th:text="${showInfo.showPlace}"></i></p>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
            <!--  이미지 슬라이드 end  -->
        </div>
    </section>
    <!-- Event Section End -->
    
    
    
    
     <!-- Event Section Begin -->
    <section class="event spad">
        <div class="container">
            <div class="row">
            <form action="/boot/show/showDanceList" id="" method="get">       
                     <button class="btn btn-danger" value="">전체목록</button>
                  </form>
                <div class="col-lg-12">
                
                    <div class="section-title">
                        <h2>DANCE RANKING</h2>
                    </div>
                </div>
            </div>
            
            
            
            <!--  이미지 슬라이드 start  -->
            <div class="row">
                <div class="event__slider owl-carousel">
                    <div class="col-lg-4" th:each="showInfo : ${showDanceList}">
                        <div class="event__item">
                        
                        
                          <!-- 이미지 클릭시 상세화면 이동 -->
							<form th:action="@{/show/showDetail}" method="GET">
                             <button class="btn btn-default "type="submit" style="width: 360px; height: 360px;">
                            <div class="event__item__pic set-bg" th:attr="data-setbg=|/boot/${showInfo.showImage}|">
                                <div class="tag-date">
                                    <span th:text="${showInfo.rownum + '위'}"></span>
                                </div>
                            </div>
                            </button>
                            <!-- 파라미터값으로 넘김 -->
                            <input type="hidden" th:name="showNo" th:value="${showInfo.showNo}"/>
							<input type="hidden" th:name="memNo" th:value="${session.memVO.memNo}" th:if="${session.memVO != null}"/>
                            </form>
                            
                            
                            <div class="event__item__text">
                                <h4 th:text="${showInfo.showName}"></h4>
                                <h4 th:text="${showInfo.showType}"></h4>
                                <p><i class="fa fa-map-marker" th:text="${showInfo.showPlace}"></i></p>
                            </div>
                        </div>
                    </div>
                   
                  
                </div>
            </div>
            <!--  이미지 슬라이드 end  -->
        </div>
    </section>
   
   
    </div>
    <!-- Event Section End -->
    
</html>