<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
      
      <!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}" >
     <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/barfiller.css}">
    <link rel="stylesheet" th:href="@{/css/nowfont.css}">
    <link rel="stylesheet" th:href="@{/css/rockville.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/showCss/show01.css}">
    
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">


</th:block>
<!-- index.html 고유 스크립트 추가 -->


    
    <!-- Content -->
<div layout:fragment="content">

<style>

.font {
font-family: 'Anton', sans-serif;
}
</style>			


    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
        
        <!-- 검색조건 -->
            <div class="show01">
                  <form action="/boot/show/showAllList" id="searchForm" method="get">
                  
                     <select name="type" >
                     
                     <!-- option의 값과 타입이 같으면 검색 후 seleted됨 -->
                        <option value="">--</option>
                        <th:block th:if="${pageMaker.cri.type == 'N'}">
                        <option value="N" selected>공연명</option>
                        </th:block>
                        <th:block th:unless="${pageMaker.cri.type == 'N'}">
                        <option value="N" >공연명</option>
                        </th:block>
                        
                         <th:block th:if="${pageMaker.cri.type == 'P'}">
                        <option value="P" selected>공연장소</option>
                        </th:block>
                        <th:block th:unless="${pageMaker.cri.type == 'P'}">
                        <option value="P" >공연장소</option>
                        </th:block>
                        
                        
                     </select>
                     
                     <!-- 검색 후 이동한 페이지에 정보들이 저장됨 -->
                     <input type="text" name="keyword" th:value="${pageMaker.cri.keyword}" >
                     <input type="hidden" name="pageNum" th:value='${pageMaker.cri.pageNum}'>
                     <input type="hidden" name="amount" th:value="${pageMaker.cri.amount}">
                     <button class="btn btn-primary" value="">Search</button>
                  </form>
                  
               <div class="show02">
               	  <nobr><a class="font" href="/boot/show/showAllList">ALL</a></nobr>
                  <nobr><a class="font" href="/boot/show/showTheaterList">THEATER</a></nobr>
                  <nobr><a class="font" href="/boot/show/showMusicalList">MUSICAL</a></nobr>
                  <nobr><a class="font" href="/boot/show/showKpopList">K-POP</a></nobr>
                  <nobr><a class="font" href="/boot/show/showDanceList">DANCE</a></nobr>
                  
               </div>
               </div>
        
        
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
	 				<form action="/boot/show/showList" id="" method="get">                    
                        <button><i class="fa fa-home"></i> Home</button>
                        <span> ➡ ALL</span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Discography Section Begin -->
    <section class="discography spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title center-title">
                        <h2>ALL LIST</h2>
                        <h1>Have a nice day</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6" th:each="showInfo : ${showList}" style="width: 800px; height: 450px;">
                    <div class="discography__item">
                        <div class="discography__item__pic">
                        
                        <form th:action="@{/show/showDetail}" method="GET">
                                <button class="btn btn-default "type="submit">
                            <img th:src="|/boot/${showInfo.showImage}|" style="width: 240px; height: 200px;">
                            </button>
                            <input type="hidden" th:name="showNo" th:value="${showInfo.showNo}"/>
                            <input type="hidden" th:name="memNo" th:value="${session.memVO.memNo}" th:if="${session.memVO != null}"/>
                             </form>
                             
                             
                        </div>
                        <div class="discography__item__text">
                            <span th:text="${showInfo.showName}"></span>
                            <h4 th:text="${showInfo.showType}"></h4>
                            <p><i class="fa fa-map-marker" th:text="${showInfo.showPlace}"></i></p>
                            
                        </div>
                    </div>
                </div>
                
                
                
               
                
               
                
                <!-- 페이징 처리 -->
            <div class="col-lg-12">
             <div class="pagination__links">
             			<!-- 이전으로 이동하는 페이지의 버튼 활성화 조건 boolean -->
                         <th:block th:if="${pageMaker.prev}">
                     <nobr><a th:href="${pageMaker.startPage -1 }">Previous</a></nobr>
                  </th:block>
                  
                  <!-- #numbers.sequence(1,2) 시작과 끝 값을 매개변수로 받아 반복문을 돌린다 -->
                  <nobr th:each="num : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}">
                  
                  <!-- 페이지번호 버튼의 값이 0이면 비활성화 -->
                  <th:block th:if="${num == 0}">
                     
                  </th:block>
                  
                  <th:block th:if="${num != 0}">
                  <a th:href="${num}" th:text="${num}"></a>   
                  </th:block>
                  
                  </nobr>
                  
                  <!-- 다음으로 이동하는 페이지의 버튼 활성화 조건 boolean -->
                  <th:block th:if="${pageMaker.next }">
                     <nobr><a th:href="${pageMaker.endPage +1 }">Next</a></nobr>
                  </th:block>      
                    </div>
            </div>
            
            <!-- 페이징 된 버튼을 눌렀을때 이동한 페이지에 정보저장 -->
            <form id="actionForm" action="/boot/show/showAllList" method="get">
               <input type="hidden" name="pageNum" th:value="${pageMaker.cri.pageNum }">
               <input type="hidden" name="amount" th:value="${pageMaker.cri.amount }">
               <input type="hidden" name="type" th:value="${pageMaker.cri.type }">
               <input type="hidden" name="keyword" th:value="${pageMaker.cri.keyword }">
               
            </form>
            
            </div>
        </div>
    </section>
    <!-- Discography Section End -->

<script th:src="@{/showJs/jquery-3.4.1.min.js}"></script>

  </div>
  
 

</html>