<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">


<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}" >
     <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/barfiller.css}">
    <link rel="stylesheet" th:href="@{/css/nowfont.css}">
    <link rel="stylesheet" th:href="@{/css/rockville.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/showCss/show01.css}">
    
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,200;1,300;1,400;1,500;1,700&display=swap}">
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css}">
    
    
    <link rel="stylesheet" th:href="@{/showCss2/bootstrap/bootstrap-grid.css}">
    <link rel="stylesheet" th:href="@{/showCss2/bootstrap/bootstrap-reboot.css}">
    <link rel="stylesheet" th:href="@{/showCss2/css/mixins/_text-hide.css}">
    <link rel="stylesheet" th:href="@{/showCss2/css/bootstrap-reboot.css}">
    <link rel="stylesheet" th:href="@{/showCss2/animate.css}">
    <link rel="stylesheet" th:href="@{/showCss2/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/showCss2/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/showCss2/owl.theme.default.min.css}">
    <link rel="stylesheet" th:href="@{/showCss2/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/showCss2/flaticon.css}">
    <link rel="stylesheet" th:href="@{/showCss2/style.css}">
    
    
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}" >
     <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/barfiller.css}">
    <link rel="stylesheet" th:href="@{/css/nowfont.css}">
    <link rel="stylesheet" th:href="@{/css/rockville.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    
</th:block>


  
<div layout:fragment="content">

 
	
    <section class="contact spad">
    <input type="hidden" th:value="${show.showNo}" id="showNo">
	<input type="hidden" th:value="${show.showName}" id="showName">
	<input type="hidden" th:value="${session.memVO.memNo}" id="memNo">
	<input type="hidden" th:value="${session.memVO.memName}" id="memName">
	<input type="hidden" th:value="${session.memVO.memAddress}" id="memAddress">
	<input type="hidden" th:value="${session.memVO.memEmail}" id="memEmail">
	<input type="hidden" th:value="${session.memVO.memTel}" id="memTel">
	<input type="hidden" th:value="${show.teamNo}" id="teamNo">
	<input type="hidden" th:value="${show.teamNum}" id="teamNum">
	
	
	
    
        <div class="container">
        
        <form action="/boot/show/showList" style="text-align: right;">
		<button class="btn btn-primary" type="submit" >HOME</button>
		</form>
            <div class="row">
                <div class="col-lg-4">
                    <div class="contact__address">
                        <div class="ticketing02">
                        <ul>
                            <li>
                            <h3 >공연날짜</h3>                          
                             <h4 id="date" th:text="${#dates.format(show.showDate, 'yyyy-MM-dd')}" ></h4>  
                            </li>
                        </ul>
                        <ul>
                            <li>
                              <h3>공연시간</h3>                          
                             <h4 id="time" th:text="${show.showTime}"></h4>                           
                            </li>
                        </ul>
                        <ul>
                            <li>
                            <h3>인원선택</h3> 
                            <input id="pNum" class="inputTag01" type="number" name="" value="0"> 
                            </li>
                        </ul>
                        
                        </div>
                        
                        <div class="ticketing01">
                        <ul>
                            <li>
                            <h3> 좌석별 가격현황</h3>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <h3><p class="pTag1"></p>S석</h3>
                                <h3 id="sPrice">[[${showSPrice.seatPrice}]]</h3>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <h3><p class="pTag2"></p>A석</h3>
                                <h3 id="aPrice">[[${showAPrice.seatPrice}]]</h3>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <h3><p class="pTag3"></p>B석</h3>
                                <h3 id="bPrice">[[${showBPrice.seatPrice}]]</h3>
                            </li>
                        </ul>
                        </div>
                    </div>
                </div>


                <!--찜목록 조회-->
                <div class="col-lg-8">
                    <div class="contact__form">
                        <div class="section-title2">
			      <h1>TICKETING</h1>
			      
			    </div>
			    
			    
			    
			    <div class="section-title2">
			      <h3 class="h3Tag1">SCREEN</h3>
			    </div>

       <table class="ticketing" id="ticket">
		<tr th:each="num : ${#numbers.sequence(1,15)}">
			<td th:each="num2,num2Status : ${#numbers.sequence(1,15)}" th:text="${num2Status.index} !=0 and ${num2Status.index} != 3 and ${num2Status.index} != 12?${num2-1}"></td>
		</tr>
		
	</table>
	
                           
                    </div>
                </div>


            </div>
        </div>
    </section>
    
  
  
  
    <section class="ftco-section">
    	<div class="container">
    		
    		<div class="row justify-content-end">
    			<div >
    				<div class="cart-total mb-3">
    					<h3>선택한사항</h3>
    					<p class="d-flex">
    						<span>날짜</span>
    						<span id="showDate"></span>
    					</p>
    					<p class="d-flex">
    						<span>시간</span>
    						<span id="showTime"></span>
    					</p>
    					<p class="d-flex">
    						<span>총인원수</span>
    						<span id="pNum2"></span>
    					</p>
    					<p class="d-flex">
    						<span>선택된 좌석</span>
    						<span id="seatSelect"></span>
    					</p>    					
    					<hr>
    					<p class="d-flex total-price">
    						<span>총금액</span>
    						<span id="seatPrice"></span>
    					</p>
    				</div>
    				<p class="text-center">
    				<a id="waitingPayment" href="" class="btn btn-primary py-3 px-4">장바구니</a>
    				<a id="payment" href="" class="btn btn-primary py-3 px-4">결제하기</a>
    				</p>
    			</div>
    		</div>
    	</div>
    </section>

    
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
<script th:src="@{/showJs/jquery-3.4.1.min.js}"></script>
<script type="text/javascript" th:inline="javascript">
var forbidSeatList  =[[${selectSeat}]]
var forbidSeat = []

for(var i =0; i < forbidSeatList.length; i++) {
	
	forbidSeat.push(forbidSeatList[i].seatNo);
	
}
 
</script>

<script th:src="@{/showJs/showTicketing.js}" th:inline="javascript"></script>


</div>



 
 
</html>