<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">
<div layout:fragment="content">

<section class="blog-details spad">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
<script src="https://uicdn.toast.com/editor/latest/i18n/ko-kr.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css" />
<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<meta charset='utf-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<title>Page Title</title>
<meta name='viewport' content='width=device-width, initial-scale=1'>

        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog__details__content">
                        <div class="blog__details__item">
                            
                            <div class="blog__details__item__text">
                                <h3 th:text=${notice.noticeName}></h3>
                                <span th:text=${notice.memId}></span>
                                <div class="blog__details__item__widget">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <ul>
                                                <li>View <span th:text=${notice.viewCount}></span></li>
                                            </ul>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blog__details__desc">
                           <div class="entry-content">
					        <div id="viewer"></div>
					    	<textarea id="viewers" class="hidden" style="display : none;">[[${notice.noticeContent}]]</textarea>
					    	</div>
                        </div>
                        <div style="text-align: center;">
							<a href="/boot/notice/noticeList" class="primary-btn border-btn2">목록으로</a>
							<a th:href="@{/notice/noticeModForm(noticeNo=${notice.noticeNo}, memId=${notice.memId}, noticeName=${notice.noticeName}, noticeContent=${notice.noticeContent})}" th:if="${session.memVO.memRating == 'MR03'}"><button id="btn" class="primary-btns" type="submit">수정</button></a>
						</div>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-viewer.js"></script>
    <script>


    	const editor = new toastui.Editor({
            				el: document.querySelector('#viewer'),
            				initialEditType: "markdown",
            	    		initialValue: document.querySelector("#viewers").value
            				});
    </script>

</div>
</html>