<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">
<!-- sidebar-->
<div layout:fragment="content">
	<section class="contact spad">
		<div class="container" style="padding: 10px; margin-left: 200px;">

			<div class="col-lg-16">
				<div class="contact__form">
					<div class="section-title">
						<h3>공지사항 게시판</h3>
					</div>

					<table class="table" style="text-align: center;">
						<thead>
							<tr>
								<th>글번호</th>
								<th></th>
								<th>제목</th>
								<th></th>
								<th>작성자</th>
								<th></th>
								<th>작성일자</th>
								<th></th>
								<th>조회수</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="notice:${noticeList}"
								th:if="${notice.noticeStatus == 1}">
								<td th:text="${notice.noticeNo}"></td>
								<td></td>
								<td><a
									th:href="@{/notice/noticeSelecter(noticeNo=${notice.noticeNo}, memId=${notice.memId})}"
									th:text="${notice.noticeName}"></a></td>
								<td></td>
								<td th:text="${notice.memId}"></td>
								<td></td>
								<!-- th:text="${#dates.format(practice.practiceDate, 'yyyy-MM-dd')}" -->
								<td th:text="${#dates.format(notice.noticeDate, 'yyyy-MM-dd')}"></td>
								<td></td>
								<td th:text="${notice.viewCount}"></td>
							</tr>
						</tbody>
					</table>
					<div></div>
					<form action="/boot/notice/noticeList" id="searchForm" method="get">
						<select name="type">
							<!-- option의 값과 타입이 같으면 검색 후 seleted됨 -->
							<option value="">--</option>
							<th:block th:if="${pageMaker.cri.type == 'N'}">
								<option value="N" selected>제목</option>
							</th:block>
							<th:block th:unless="${pageMaker.cri.type == 'N'}">
								<option value="N">제목</option>
							</th:block>

							<th:block th:if="${pageMaker.cri.type == 'C'}">
								<option value="C" selected>내용</option>
							</th:block>
							<th:block th:unless="${pageMaker.cri.type == 'C'}">
								<option value="C">내용</option>
							</th:block>
						</select>

						<!-- 검색 후 이동한 페이지에 정보들이 저장됨 -->
						<input type="text" name="keyword" th:value="${pageMaker.cri.keyword}"> 
						<input type="hidden" name="pageNum" th:value='${pageMaker.cri.pageNum}'> 
						<input type="hidden" name="amount" th:value="${pageMaker.cri.amount}">
						<button class="btn btn-primary" value="">Search</button>
					</form>
				</div>
				<a href="/boot/notice/noticeInsertForm"><button class="primary-btnO4" type="button" style="margin-left: 1100px; padding: 2px;" th:if="${session.memVO.memRating == 'MR03'}">글작성</button></a>
			</div>
		</div>

		<div class="col-lg-12">
			<div class="pagination__links">
				<!-- 이전으로 이동하는 페이지의 버튼 활성화 조건 boolean -->
				<th:block th:if="${pageMaker.prev}">
					<nobr>
						<a th:href="${pageMaker.startPage -1 }">Previous</a>
					</nobr>
				</th:block>

				<!-- #numbers.sequence(1,2) 시작과 끝 값을 매개변수로 받아 반복문을 돌린다 -->
				<nobr th:each="num : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}">
					<!-- 페이지번호 버튼의 값이 0이면 비활성화 -->
					<th:block th:if="${num == 0}"></th:block>
					<th:block th:if="${num != 0}">
						<a th:href="${num}" th:text="${num}"></a>
					</th:block>
				</nobr>
				<!-- 다음으로 이동하는 페이지의 버튼 활성화 조건 boolean -->
				<th:block th:if="${pageMaker.next }">
					<nobr>
						<a th:href="${pageMaker.endPage +1 }">Next</a>
					</nobr>
				</th:block>
			</div>
		</div>

		<!-- 페이징 된 버튼을 눌렀을때 이동한 페이지에 정보저장 -->
		<form id="actionForm" action="/boot/notice/noticeList" method="get">
			<input type="hidden" name="pageNum" th:value="${pageMaker.cri.pageNum }">
			<input type="hidden" name="amount" th:value="${pageMaker.cri.amount }">
			<input type="hidden" name="type" th:value="${pageMaker.cri.type }">
			<input type="hidden" name="keyword" th:value="${pageMaker.cri.keyword }">
		</form>
	</div>
</section>
</div>
</html>