<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">
<div layout:fragment="content">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css" />
	<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
	<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>Page Title</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<!-- 디자인 수정용 CSS 추가 -->
<style>
#editor {
	/* border : 1px solid; */
	width: 70%;
	text-align: left;
	margin: 0 ;
}
/* editor content 받을 div태그 스타일 추가. */
#contents {
	width: 50%;
	height: 100px;
	margin: 30px auto;
	border: 1px solid;
}

#accordion {
	width: 70%;
	margin: 0 auto;
}
</style>



	<div class="breadcrumb-option">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb__links">
						<a href="#"><i class="fa fa-home"></i> Home</a> <span>공지사항 수정</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Breadcrumb End -->


	<!-- Discography Section Begin -->
	<section class="discography spad">
		<div class="container">

			<div class="contact__form">
				<div class="col-lg-12">
					<div class="section-title">
						<h2 style="">공지사항 수정</h2>
						<h1></h1><br>
					</div>
				</div>
				
				
				<form role="form" th:action="@{/notice/noticeMod}" method="POST">
					<div class="input__list">
						<input name="noticeNo" class="input" type="hidden" th:value="${noticeVO.noticeNo}">
						<label class="label1">제목</label> 
						<input name="noticeName" class="input" type="text" th:value="${noticeVO.noticeName}"><br>
						<div id="editor"></div>
						
					</div>
						<input id="content" type="hidden" th:value="${noticeVO.noticeContent}">
					<div style="text-align: center;">
						<a href="/boot/notice/noticeList" class="primary-btn border-btn2">목록으로</a>
						<button id="btn" class="primary-btns" type="submit">수정</button>
						<a class="primary-btns" th:href="@{/notice/noticeDelete(noticeNo=${noticeVO.noticeNo})}">삭제</a>
					</div>
				</form>
			</div>
		</div>
	</section>
	<!-- Discography Section End -->
	<script
		src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
		
	<script>
	 const onUploadImage = async (blob, callback) => {
         const formData = new FormData();
         formData.append("image", blob);
         formData.append("uri", window.location.pathname);
         
	      $.ajax({
           type: "post",
           url: "/boot/page/image",
           async: true,
           data: formData,
           processData: false,
           contentType: false,
           success: function (data) {
             imageURL = data;
             callback(imageURL, "image");
             console.log(imageURL)
           },
           error: function (request, status, error) {
             alert(request + ", " + status + ", " + error);
           },
         });
       };

       const editor = new toastui.Editor({
         el: document.querySelector("#editor"),
         height: "500px",
         initialEditType: "wysiwyg",
         placeholder: "내용을 입력해주세요",
         language: "ko-kr",
         initialValue: document.querySelector("#content").value,
         hooks: {
           addImageBlobHook: onUploadImage
         }
       });
       
       
       var formObj = $('form[role="form"]')
    	$('button[type="submit"]').on('click',function(e){
        	e.preventDefault()//기본기능 차단
        	console.log('submit click')
			console.log(editor.getHTML())
        var str = "<input type='hidden' name='noticeContent' value='"+editor.getHTML()+"'>"
        formObj.append(str).submit()
    })
       
    </script>
    </div>
</html>