<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    <link rel="stylesheet"
        th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/barfiller.css}">
    <link rel="stylesheet" th:href="@{/css/nowfont.css}">
    <link rel="stylesheet" th:href="@{/css/rockville.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/mypage.css}">
</th:block>

<div layout:fragment="content">
    <!-- sidebar-->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="contact__address">
                        <div class="mypage__item__mypic"  >
                                
                        </div>
                        <div class="section-title">
                            <h2>MyPage</h2>
                        </div>
                        <ul>
                            <li>
                                <a href="/boot/mypage/mypage" class="back">
                                    <h5>내정보</h5>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="/boot/mypage/fundingJjim" class="back">
                                    <h5>찜목록</h5>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li >
                                <a href="/boot/mypage/payment" class="back">
                                <h5>결제내역</h5>
                                </a>  
                            </li>
                        </ul>
                            <ul>
                                <li>
                                    <a href="/boot/mypage/refund" class="back">
                                        <h5>환불내역</h5>
                                    </a>
                                </li>
                            </ul>
                        <ul>
                            <li>
                                <a href="/boot/mypage/messageList" class="back">
                                    <h5>메시지함</h5>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="/boot/mypage/noticeList" class="back">
                                    <h5>작성한 글 목록</h5>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="/boot/mypage/myReply" class="back">
                                    <h5>작성한 댓글/리뷰</h5>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="/boot/mypage/favorit" class="back">
                                    <h5>좋아하는 아티스트</h5>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <!--좋아하는 아티스트-->
                <div class="col-lg-8">
                    <div class="contact__form">
                  <!-- Discography Section Begin -->
                    <section class="discography spad">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="section-title section-titleOs">
                                        <h2>좋아하는아티스트</h2>
                                        <h1>favorit artist</h1>
                                    </div>
                                </div>
                            </div> 
                            <form th:action="@{/mypage/favorit}" method="GET">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-sm-6" th:each="favorit : ${favorit}">
                                 <label for="check1" th:text="${favorit.teamName}"></label>
                                    <div class="discography__item">
                                        <div class="discography__item__pic">
                                            <img th:src="|/boot/${favorit.teamImage}|" alt="">  
                                        </div>
                                    </div>
                                </div>
                                

                               
                                <!--페이징-->
                            
                            
                            </div>
                            </form>
                            </div>
                        </div>
                    </section>
                    <!-- Discography Section End -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
</div>

</html>