<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    <link rel="stylesheet"
        th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/barfiller.css}">
    <link rel="stylesheet" th:href="@{/css/nowfont.css}">
    <link rel="stylesheet" th:href="@{/css/rockville.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/mypage.css}">
</th:block>

<div layout:fragment="content">
    <!-- sidebar-->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="contact__address">
                        <div class="mypage__item__mypic"  >
                           
                        </div>
                        <div class="section-title">
                            <h2>MyPage</h2>
                        </div>
                        <ul>
                            <li>
                                <a href="/boot/mypage/mypage" class="back">
                                    <h5>내정보</h5>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="/boot/mypage/fundingJjim" class="back">
                                    <h5>찜목록</h5>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li >
                                <a href="/boot/mypage/payment" class="back">
                                <h5>결제내역</h5>
                                </a>  
                            </li>
                        </ul>
                            <ul>
                                <li>
                                    <a href="/boot/mypage/refund" class="back">
                                        <h5>환불내역</h5>
                                    </a>
                                </li>
                            </ul>
                        <ul>
                            <li>
                                <a href="/boot/mypage/messageList" class="back">
                                    <h5>메시지함</h5>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="/boot/mypage/noticeList" class="back">
                                    <h5>작성한 글 목록</h5>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="/boot/mypage/myReply" class="back">
                                    <h5>작성한 댓글/리뷰</h5>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="/boot/mypage/favorit" class="back">
                                    <h5>좋아하는 아티스트</h5>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <!--제목-->
                <div class="dropdown" style="display: inline;">
                    <h4 style="display: inline;">내가 작성한 글 목록</h4>
                    <p style="display: inline; margin-left: 10px;">자유게시판</p>
                    <button class="dropbtn">
                        <span class="dropbtn_icon"></span>
                        <span class="dropbtn_content">Dropdown</span>
                    </button>
                    <div class="dropdown-content">
                        <div class="fastfood" onclick="showMenu(this.innerText)"><a href="/boot/mypage/noticeList">공지사항</a></div>
                        <div class="fastfood" onclick="showMenu(this.innerText)"><a href="/boot/mypage/freeList">자유게시판</a></div>
                        <div class="write" onclick="showMenu(this.innerText)"><a href="/boot/mypage/funding">펀딩</a></div>
                        <div class="write" onclick="showMenu(this.innerText)"><a href="/boot/mypage/show">공연</a></div>
                    </div>
                        <table class="table" style="text-align: center; margin-top: 20px;">
                            <thead>
                                <tr>
                                    <th>글번호</th>
                                    <th>글제목</th>
                                    <th>작성일자</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="freeInfo : ${freeList}">
                                    <td th:text="${freeInfo.freeNo}" />
                                    <td th:text="${freeInfo.freeName}" />
                                    <td th:text="${#dates.format(freeInfo.freeTime, 'yyyy-MM-dd')}" />
                                </tr>

                            </tbody>
                        </table>

                        <!--페이징-->
                        <div class="col-lg-12" style="margin-top: 50px;">
                            <div class="pagination__links">
                                <th:block th:if="${pageMaker.prev}">
                                    <nobr><a th:href="${pageMaker.startPage -1 }">Previous</a></nobr>
                                </th:block>

                                <nobr th:each="num : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
                                    <th:block th:if="${num == 0}"></th:block>
                                 
                                    <th:block th:if="${num != 0}"><a th:href="${num}" th:text="${num}"></a></th:block>
                                 </nobr>

                                 <th:block th:if="${pageMaker.next }">
                                    <nobr><a th:href="${pageMaker.endPage +1 }">Next</a></nobr>
                                 </th:block>      
                            </div>
                        </div>
                           
                           <form id="actionForm" action="/boot/mypage/freeList" method="get">
                              <input type="hidden" name="pageNum" th:value="${pageMaker.cri.pageNum }">
                              <input type="hidden" name="amount" th:value="${pageMaker.cri.amount }">
                              <input type="hidden" name="type" th:value="${pageMaker.cri.type }">
                              <input type="hidden" name="keyword" th:value="${pageMaker.cri.keyword }">
                           </form>
                        
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- Contact Section End -->
</div>
</html>
