<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}" >
     <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/barfiller.css}">
    <link rel="stylesheet" th:href="@{/css/nowfont.css}">
    <link rel="stylesheet" th:href="@{/css/rockville.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/mypage.css}">
</th:block>

   <div layout:fragment="content"> 
    <section class="contact spad">
        <div class="container">
            <div class="row">

                <!--사이드-->
                <div class="col-lg-4">
                    <div class="contact__address">
                        <div class="mypage__item__mypic"  >
                            
                        </div>
                        <div class="section-title">
                            <h2>MyPage</h2>
                        </div>

                        <ul>
                            <li>
                                <a href="/boot/mypage/mypage" class="back">
                                    <h5>내정보</h5>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="/boot/mypage/fundingJjim" class="back">
                                    <h5>찜목록</h5>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="/boot/mypage/payment" class="back">
                                <h5>결제내역</h5>
                                </a>  
                            </li>
                        </ul>
                            <ul>
                                <li>
                                    <a href="/boot/mypage/refund" class="back">
                                        <h5>환불내역</h5>
                                    </a>
                                </li>
                            </ul>
                        <ul>
                            <li>
                                <a href="/boot/mypage/messageList" class="back">
                                    <h5>메시지함</h5>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="/boot/mypage/noticeList" class="back">
                                    <h5>작성한 글 목록</h5>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="/boot/mypage/myReply" class="back">
                                    <h5>작성한 댓글/리뷰</h5>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="/boot/mypage/favorit" class="back">
                                    <h5>좋아하는 아티스트</h5>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--사이드끝-->

            <!--본문-->
            <div class="dropdown" style="display: inline;">
                <h4 style="display: inline;">찜한목록</h4>            
                <!--드롭 박스-->
                <button class="dropbtn">
                    <span class="dropbtn_icon"></span>
                    <span class="dropbtn_content">Dropdown</span>
                </button>
                <div class="dropdown-content">
                    <div class="write" onclick="showMenu(this.innerText)"><a href="/boot/mypage/fundingJjim">펀딩</a></div>
                    <div class="write" onclick="showMenu(this.innerText)"><a href="/boot/mypage/showJjim">공연</a></div>
                </div>
                
                <!--목록 조회-->
                <table class="table" style="text-align: center; margin-top: 20px;">
                    <thead>
                        <tr>
                            <th>글번호</th>
                            <th>카테고리</th>
                            <th>펀딩명</th>
                            <th>아티스트명</th>
                      
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="jjimInfo : ${funding}">
                          <td th:text="${jjimInfo.jjimNo}" />
                          <td th:text="${jjimInfo.jjimPostType}" />
                          <td>
                            <a th:href="@{/funding/fundingDetails(fundingNo=${jjimInfo.fundingNo},memNo=${jjimInfo.memNo})}" th:text="${jjimInfo.fundingName}"></a>
                          </td>
                          <td th:text="${jjimInfo.fundingArtist}" />
                        </tr>
                      </tbody>
                </table>
              
               
   
                </div>                
            
               
            </div>

        </div>
    </section>
    </div>
    <!-- Contact Section End -->

    <p th:type="hidden" th:value="${session.memvO.memNo}" id="memNo"/>
    <p th:type="hidden" th:value="${jjimInfo.fundingNo}" id="fundingNo"/>


</html>