<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    <link rel="stylesheet"
        th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/barfiller.css}">
    <link rel="stylesheet" th:href="@{/css/nowfont.css}">
    <link rel="stylesheet" th:href="@{/css/rockville.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/mypage.css}">
    
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
   
</th:block>
<style>
.contact__form .msgContent{
    margin-left: 50px;
}  
</style>
<div layout:fragment="content">
    <!-- sidebar-->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="contact__address">
                        <div class="mypage__item__mypic">
                            
                        </div>
                        <div class="section-title">
                            <h2>MyPage</h2>
                        </div>

                        <ul>
                            <li>
                                <a href="/boot/mypage/mypage" class="back">
                                    <h5>내정보</h5>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="/boot/mypage/fundingJjim" class="back">
                                    <h5>찜목록</h5>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li >
                                <a href="/boot/mypage/payment" class="back">
                                <h5>결제내역</h5>
                                </a>  
                            </li>
                        </ul>
                            <ul>
                                <li>
                                    <a href="/boot/mypage/refund" class="back">
                                        <h5>환불내역</h5>
                                    </a>
                                </li>
                            </ul>
                        <ul>
                            <li>
                                <a href="/boot/mypage/messageList" class="back">
                                    <h5>메시지함</h5>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="/boot/mypage/noticeList" class="back">
                                    <h5>작성한 글 목록</h5>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="/boot/mypage/myReply" class="back">
                                    <h5>작성한 댓글/리뷰</h5>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="/boot/mypage/favorit" class="back">
                                    <h5>좋아하는 아티스트</h5>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!--제목-->
                <div class="col-lg-8">
                    <div class="contact__form">
                        <div class="section-title">
                            <h3>메시지함</h3>
                        </div>

                        <div class="msgContent" th:each="msg : ${MsgInfo}">
                            <h3 th:text="${msg.msgName}" style="margin-bottom: 3px;"></h3>
                            <p th:text="${'발신인 : '+msg.msgSendName}" style="margin-bottom: 3px;"> 보낸사람 </p>
                            <p th:text="${'수신인 : '+msg.msgReceptionName}" style="margin-bottom: 3px;">받는사람</p>
                            <p th:text="${'발신일자 : '+#dates.format(msg.msgDate, 'yyyy-MM-dd')}" style="margin-bottom: 3px;">발신일자</p>
                        	<input type="hidden" th:value="${msg.msgNo}" id="msgNo" /> 
                        <hr>
                        <div style="margin-bottom: 70px;">
                            <p th:text="${msg.msgContent}">content</p>
                        </div>
                        </div>
						<button class="primary-btn" id="messageBtn" onclick="history.back()">목록</button>
						<button class="primary-btn" id="deleteMsg" onclick="deleteMessage()">삭제</button>

		            </div>
		        </div>
    </section>
    <!-- Contact Section End -->
	<script>
		
		function deleteMessage(){

			var msgNo = $('#msgNo').val();
			Swal.fire({
				   title: '메세지 삭제',
				   text:  '삭제하시겠습니까? 되돌릴 수 없습니다.',
				   icon: 'warning',
				   
				   showCancelButton: true, // cancel버튼 보이기. 기본은 원래 없음
				   confirmButtonColor: '#3085d6', // confrim 버튼 색깔 지정
				   cancelButtonColor: '#d33', // cancel 버튼 색깔 지정
				   confirmButtonText: '삭제', // confirm 버튼 텍스트 지정
				   cancelButtonText: '확인', // cancel 버튼 텍스트 지정
				   
				   reverseButtons: true, // 버튼 순서 거꾸로
				   
				}).then(result => {
				   // 만약 Promise리턴을 받으면,
				   if (result.isConfirmed) { // 만약 모달창에서 confirm 버튼을 눌렀다면
				   		
					   location.href= '/boot/mypage/deleteMsg?msgNo=' + msgNo;
				   }else if (result.isDismissed) { // 만약 모달창에서 cancel 버튼을 눌렀다면
				    	// ...실행
				    }
				});
					
		}
		
		
	
	</script>

</div>
</html>
