<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    <link rel="stylesheet"
        th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/barfiller.css}">
    <link rel="stylesheet" th:href="@{/css/nowfont.css}">
    <link rel="stylesheet" th:href="@{/css/rockville.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/mypage.css}">
</th:block>

<div layout:fragment="content">
    <!-- sidebar-->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="contact__address">
                        <div class="mypage__item__mypic"  >
                          
                        </div>
                        <div class="section-title">
                            <h2>MyPage</h2>
                        </div>
                        <ul>
                            <li>
                                <a href="/boot/mypage/mypage" class="back">
                                    <h5>내정보</h5>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="/boot/mypage/fundingJjim" class="back">
                                    <h5>찜목록</h5>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li >
                                <a href="/boot/mypage/payment" class="back">
                                <h5>결제내역</h5>
                                </a>  
                            </li>
                        </ul>
                            <ul>
                                <li>
                                    <a href="/boot/mypage/refund" class="back">
                                        <h5>환불내역</h5>
                                    </a>
                                </li>
                            </ul>
                        <ul>
                            <li>
                                <a href="/boot/mypage/messageList" class="back">
                                    <h5>메시지함</h5>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="/boot/mypage/noticeList" class="back">
                                    <h5>작성한 글 목록</h5>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="/boot/mypage/myReply" class="back">
                                    <h5>작성한 댓글/리뷰</h5>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="/boot/mypage/favorit" class="back">
                                    <h5>좋아하는 아티스트</h5>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--제목-->
                <div class="col-lg-8">
                    <div class="contact__form">
                        <div class="section-title">
                            <h3>메시지함</h3>
                        </div>

                        <table class="table" style="text-align: center;">
                            <thead>
                                <tr>
                                    <!-- <div class="allChk">
                                      <th><input type="checkbox" class="allInput" checked="checked"><span class="all_chcek_span"></span></th>
                                    </div> -->
                                    <th>번호</th>
                                    <th>발신자</th>
                                    <th>제목</th>
                                    <th>수신일자</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="msgInfo,status : ${messageList}" class="trTag">
                                    <!-- <td class="center">
                                        <input type="checkbox" class="individualInput" checked="checked">
                                    </td> -->
                                    <td th:text="${status.index+1}"></td>
                                    <td th:text="${msgInfo.msgSendName}"></td>
                                    <td><a th:text="${msgInfo.msgName}" ></a></td>
                                    <td th:text="${#dates.format(msgInfo.msgDate, 'yyyy-MM-dd')}" />
                                    <input type="hidden" th:value="${msgInfo.msgNo}" class="msgNo" name="msgNo">
                                </tr>
                            </tbody>
                        </table>
               
               			<script>
               			
               			$('.trTag').on('click',function() {
               					var msgNo = $(this).children('input[class="msgNo"]').val();
               					console.log(msgNo);

               					//window.open("/boot/mypage/messageDetail?msgNo=" + msgNo, '_blank',
               					//			"width=1400,height=800");

               					location.href = "/boot/mypage/messageDetail?msgNo=" + msgNo;
               					})
               			</script>
               
               
                        <!--페이징-->
                        <div class="col-lg-12">
                            <div class="pagination__links">
                                <th:block th:if="${pageMaker.prev}">
                                    <nobr><a th:href="${pageMaker.startPage -1 }">Previous</a></nobr>
                                </th:block>

                                <nobr th:each="num : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
                                    <th:block th:if="${num == 0}"></th:block>
                                 
                                    <th:block th:if="${num != 0}"><a th:href="${num}" th:text="${num}"></a></th:block>
                                 </nobr>

                                 <th:block th:if="${pageMaker.next }">
                                    <nobr><a th:href="${pageMaker.endPage +1 }">Next</a></nobr>
                                 </th:block>      
                            </div>
                        </div>
                           
                           <form id="actionForm" action="/boot/mypage/messageList" method="get">
                              <input type="hidden" name="pageNum" th:value="${pageMaker.cri.pageNum }">
                              <input type="hidden" name="amount" th:value="${pageMaker.cri.amount }">
                              <input type="hidden" name="type" th:value="${pageMaker.cri.type }">
                              <input type="hidden" name="keyword" th:value="${pageMaker.cri.keyword }">
                           </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->
</div>
</html>
<!-- <script>
    $(".allInput").on("click", function(){

            if($(".allInput").prop("checked")){ //전체선택을 click하면 prop("checked")추가
            $(".individualInput").prop("checked", true);  //개별선택의 속성이 attr(checked => true)
        } else{
            $(".individualInput").prop("checked", false); 
        }
	
    });

</script> -->