<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    <link rel="stylesheet"
        th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/barfiller.css}">
    <link rel="stylesheet" th:href="@{/css/nowfont.css}">
    <link rel="stylesheet" th:href="@{/css/rockville.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/mypage.css}">
</th:block>

<div layout:fragment="content">
   
    <!-- sidebar-->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="contact__address">
                        <div class="mypage__item__mypic"  >
                            <img th:src="|/boot/${myInfo.memProfilePic}|">
                        </div>
                        <div class="section-title">
                            <h2>MyPage</h2>
                        </div>
                        <ul>
                            <li>
                                <a href="/boot/mypage/mypage" class="back">
                                    <h5>내정보</h5>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="/boot/mypage/fundingJjim" class="back">
                                    <h5>찜목록</h5>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li >
                                <a href="/boot/mypage/payment" class="back">
                                <h5>결제내역</h5>
                                </a>  
                            </li>
                        </ul>
                            <ul>
                                <li>
                                    <a href="/boot/mypage/refund" class="back">
                                        <h5>환불내역</h5>
                                    </a>
                                </li>
                            </ul>
                        <ul>
                            <li>
                                <a href="/boot/mypage/messageList" class="back">
                                    <h5>메시지함</h5>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="/boot/mypage/noticeList" class="back">
                                    <h5>작성한 글 목록</h5>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="/boot/mypage/myReply" class="back">
                                    <h5>작성한 댓글/리뷰</h5>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="/boot/mypage/favorit" class="back">
                                    <h5>좋아하는 아티스트</h5>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!--내정보 조회-->
                <div class="col-lg-8">
                    <div class="contact__form">
                        <div class="section-title">
                            <h3>내정보</h3>
                        </div>
                        <tr>
                           
                        <form action="#">
                            <div class="input__list">
                                <div>
                                <div><label class="label1">이름</label> <span th:text="${myInfo.memName}"></span></div><br>
                                <div><label class="label1">아이디</label> <span th:text="${myInfo.memId}"></span></div><br>
                                <div><label class="label1">닉네임</label> <span th:text="${myInfo.memNickname}"></span></div><br>
                                <div><label class="label1">전화번호</label> <span th:text="${myInfo.memTel}"></span></div><br>
                                <div><label class="label1">이메일</label> <span th:text="${myInfo.memEmail}"></span></div><br>
                                <div><label class="label1">주소</label> <span th:text="${myInfo.memAddress}">
                                   <button  class="primary-btns2" type="submit">우편번호</button></span></div><br>
                                <div><label class="label1">상세주소</label><span th:text="${myInfo.memDetailaddr}"></span></div><br>
                                <div><label class="label1">계좌번호</label><span th:text="${myInfo.memAccountNo}"></span></div><br>
                                <div><input type="hidden" th:value="${myInfo.memNo}" name="memNo" id="memNo"/></div>
                             </div>
                        </form>
                             <a href="/boot/mypage/password" class="primary-btn border-btn2">비밀번호변경</a>
                             <a href="/boot/mypage/mypageModForm" class="primary-btns">내정보수정</a>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->
<script src="https://code.jquery.com/jquery-3.6.3.slim.min.js" integrity="sha256-ZwqZIVdD3iXNyGHbSYdsmWP//UBokj2FHAxKuSBKDSo=" crossorigin="anonymous"></script>
        
        

</div>




</html>

    
    