
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    <link rel="stylesheet"
        th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/barfiller.css}">
    <link rel="stylesheet" th:href="@{/css/nowfont.css}">
    <link rel="stylesheet" th:href="@{/css/rockville.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/mypage.css}">
</th:block>


<div layout:fragment="content">

    <!-- sidebar-->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="contact__address">
                        <div class="mypage__item__mypic"  >
                           
                        </div>
                        <div class="section-title">
                            <h2>MyPage</h2>
                        </div>
                        <ul>
                            <li>
                                <a href="/boot/mypage/mypage" class="back">
                                    <h5>내정보</h5>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="/boot/mypage/fundingJjim" class="back">
                                    <h5>찜목록</h5>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li >
                                <a href="/boot/mypage/payment" class="back">
                                <h5>결제내역</h5>
                                </a>  
                            </li>
                        </ul>
                            <ul>
                                <li>
                                    <a href="/boot/mypage/refund" class="back">
                                        <h5>환불내역</h5>
                                    </a>
                                </li>
                            </ul>
                        <ul>
                            <li>
                                <a href="/boot/mypage/messageList" class="back">
                                    <h5>메시지함</h5>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="/boot/mypage/noticeList" class="back">
                                    <h5>작성한 글 목록</h5>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="/boot/mypage/myReply" class="back">
                                    <h5>작성한 댓글/리뷰</h5>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="/boot/mypage/favorit" class="back">
                                    <h5>좋아하는 아티스트</h5>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!--내정보 조회-->
                <div class="col-lg-8">
                    <div class="contact__form">
                        <div class="section-title">
                            <h3>내정보</h3>
                        </div>
                        <tr>

                            <form th:action="@{/mypage/mypageMod}" role="form" method="POST" enctype="multipart/form-data">
                                <div class="input__list">
                                    <label class="label1">이름</label> <input class="input" id="memName" type="text" name="memName"
                                        th:value="${session.memVO.memName}"><br>
                                    <label class="label1">닉네임</label> <input type="text" id="memNickname" name="memNickname"
                                        th:value="${session.memVO.memNickname}"><br>
                                    <label class="label1">전화번호</label> <input type="text" id="memTel" name="memTel"
                                        th:value="${session.memVO.memTel}"><br>
                                    <label class="label1">이메일</label> <input type="text" id="memEmail" name="memEmail"
                                        th:value="${session.memVO.memEmail}"><br>
                                    <label class="label1">주소</label> <input type="text" th:value="${session.memVO.memAddress}" name="memAddress"
                                        id="memAddress"><br>
                                    <label class="label1">상세주소</label><input type="text" id="memDetailaddr"
                                        name="memDetailaddr" th:value="${session.memVO.memDetailaddr}"><br>
                                    <label class="label1">계좌번호</label><input type="text" id="memAccountNo" name="memAccountNo"
                                        th:value="${session.memVO.memAccountNo}"><br>
                                    <div class="form-group">
                                        <label class="label1">프로필변경</label>
                                            <input type="file" id="profile-img" name="memProfilePic" onchange="previewImage()" class="selectImage">
                                            <div class="image-container">
                                                <img id="preview-img" src="../img/basic2.jpg" style="width: 200px; height:200px;">
                                            </div>
                                    </div>
                                </div>
                            <button class="primary-btns" id="modBtn" type="submit">수정</button>
                            <input type="hidden" th:value="${session.memVO.memNo}" id="memNo" name="memNo">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->


    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:src="@{/mypage/myaddressapi.js}"></script>
    <script>
    
        function previewImage() {
            var preview = document.getElementById('preview');
            var file = document.getElementById('profile-img').files[0];
            var reader = new FileReader();
    
    
            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = "";
            }
        }
    
        var profileImgInput = document.getElementById('profile-img');
        var previewImg = document.getElementById('preview-img');
    
        profileImgInput.addEventListener('change', function(event) {
            var file = event.target.files[0];
            var reader = new FileReader();
    
            reader.addEventListener('load', function() {
                previewImg.src = reader.result;
                previewImg.style.display = 'block';
            });
    
            if (file) {
                reader.readAsDataURL(file);
            }
        });
    
    </script>
    

</div>

</html>