
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    <link rel="stylesheet"
        th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/barfiller.css}">
    <link rel="stylesheet" th:href="@{/css/nowfont.css}">
    <link rel="stylesheet" th:href="@{/css/rockville.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/mypage.css}">
</th:block>


<div layout:fragment="content">

 <!-- sidebar-->
 <section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="contact__address">
                    <div class="mypage__item__mypic"  >
                      
                    </div>
                    <div class="section-title">
                        <h2>MyPage</h2>
                    </div>
                    <ul>
                        <li>
                            <a href="/boot/mypage/mypage" class="back">
                                <h5>내정보</h5>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/boot/mypage/fundingJjim" class="back">
                                <h5>찜목록</h5>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li >
                            <a href="/boot/mypage/payment" class="back">
                            <h5>결제내역</h5>
                            </a>  
                        </li>
                    </ul>
                        <ul>
                            <li>
                                <a href="/boot/mypage/refund" class="back">
                                    <h5>환불내역</h5>
                                </a>
                            </li>
                        </ul>
                    <ul>
                        <li>
                            <a href="/boot/mypage/messageList" class="back">
                                <h5>메시지함</h5>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/boot/mypage/noticeList" class="back">
                                <h5>작성한 글 목록</h5>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/boot/mypage/myReply" class="back">
                                <h5>작성한 댓글/리뷰</h5>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/boot/mypage/favorit" class="back">
                                <h5>좋아하는 아티스트</h5>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
                
                <!--내정보 조회-->
                <div class="col-lg-8">
                    <div class="contact__form">
                        <div class="section-title">
                            <h3>비밀번호 변경</h3>
                        </div>
                       
                        <form th:action="@{/mypage/changePassword}" role="form" method="POST">
                            <div class="input__list">
                                <input type="hidden" th:value="${session.memVO.memId}" id="memId" name="memId">
                                <input type="hidden" th:value="${session.memVO.memNo}" id="memNo" name="memNo">
                                <label class="label2">현재 비밀번호</label><input type="password" class="input" id="memPw" name="memPw"><br>
                                <label class="label2">새로운 비밀번호</label><input type="password" class="input" id="newPw" name="newPw"><br>
                                <label class="label2">새로운 비밀번호확인</label><input type="password" class="input" id="chkPw" name="chkPw"><br>
                                <p class="pw1">새로운 비밀번호가 일치하지 않습니다.</p>
                                <p class="pw2">비밀번호가 일치합니다.</p>
                                    <div id="buttonBtn" class="buttonBtn" style="margin-left: 100px;">
                                        <a href="../page/index.html" class="primary-btn border-btn2">메인</a>
                                        <button class="primary-btns" type="submit">변경</button>
                                    </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->



</html>