<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}" >
     <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/barfiller.css}">
    <link rel="stylesheet" th:href="@{/css/nowfont.css}">
    <link rel="stylesheet" th:href="@{/css/rockville.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/mypage.css}">
</th:block>

<div layout:fragment="content">



    <!-- sidebar-->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="contact__address">
                        <div class="mypage__item__mypic"  >
                          
                        </div>
                        <div class="section-title">
                            <h2>MyPage</h2>
                        </div>
                        <ul>
                            <li>
                                <a href="/boot/mypage/mypage" class="back">
                                    <h5>내정보</h5>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="/boot/mypage/fundingJjim" class="back">
                                    <h5>찜목록</h5>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li >
                                <a href="/boot/mypage/payment" class="back">
                                <h5>결제내역</h5>
                                </a>  
                            </li>
                        </ul>
                            <ul>
                                <li>
                                    <a href="/boot/mypage/refund" class="back">
                                        <h5>환불내역</h5>
                                    </a>
                                </li>
                            </ul>
                        <ul>
                            <li>
                                <a href="/boot/mypage/messageList" class="back">
                                    <h5>메시지함</h5>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="/boot/mypage/noticeList" class="back">
                                    <h5>작성한 글 목록</h5>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="/boot/mypage/myReply" class="back">
                                    <h5>작성한 댓글/리뷰</h5>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="/boot/mypage/favorit" class="back">
                                    <h5>좋아하는 아티스트</h5>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <!-- 결제내역 -->
               <div class="dropdown" style="display: inline;">
                <h4 style="display: inline;">공간대여 결제내역</h4>   
                 <!--드롭 박스-->
                <button class="dropbtn">
                    <span class="dropbtn_icon"></span>
                    <span class="dropbtn_content">Dropdown</span>
                </button>
                <div class="dropdown-content">
                    <div class="write" onclick="showMenu(this.innerText)"><a href="/boot/mypage/payment">예매</a></div>
                    <div class="write" onclick="showMenu(this.innerText)"><a href="/boot/mypage/fundingPayment">펀딩</a></div>
                    <div class="write" onclick="showMenu(this.innerText)"><a href="/boot/mypage/spacePayment">공간대여</a></div>
                </div>         
                <br>
                <br>
                <br>
                        <table class="table" style="text-align: center;" th:if="${status > 0}">
                            <thead>
                                <th>번호</th>
                                <th>공간명</th>
                                <th>가격</th>
                                <th>결제일</th>
                                <th>결제취소</th> 
                            </thead>
                            <tbody>
                                <tr th:each="spaceList : ${spaceList}">
                                <input type="hidden" th:value="${spaceList.placeNo}" class="placeNo">
                                <input type="hidden" th:value="${spaceList.rentalNo}" class="rentalNo">
                                <input type="hidden" th:value="${spaceList.memNo}" class="memNo">
                                <input type="hidden" th:value="${spaceList.merchantUid}" class="merchantUid">
                                <input type="hidden" th:value="${spaceList.impUid}" class="impUid">
                                    <td th:text="${spaceList.rn}"/>
                                    <td th:text="${spaceList.placeName}"/>
                                    <td th:text="${spaceList.payPrice}"/>
                                    <td th:text="${#dates.format(spaceList.payDate , 'yyyy-MM-dd')}" />
                                    <td class="cancelPayment">
                                    <p class="btn btn-primary" >결제취소</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        
                        <h2 th:if="${status == 0}">결제된 내역이 없습니다.</h2>
                    </div>
                    
                    <!--페이징-->
                <div class="col-lg-12" style="margin-top: 50px;" th:if="${status > 0}">
                    <div class="pagination__links">
                        <th:block th:if="${pageMaker.prev}">
                            <nobr><a th:href="${pageMaker.startPage -1 }">Prev</a></nobr>
                        </th:block>

                        <nobr th:each="num : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
                            <th:block th:if="${num == 0}"></th:block>
                            
                            <th:block th:if="${num != 0}"><a th:href="${num}" th:text="${num}"></a></th:block>
                            </nobr>

                            <th:block th:if="${pageMaker.next }">
                            <nobr><a th:href="${pageMaker.endPage +1 }">Next</a></nobr>
                            </th:block>      
                    </div>
                </div>
                <form id="actionForm" action="/boot/mypage/fundingPayment" method="get">
                    <input type="hidden" name="pageNum" th:value="${pageMaker.cri.pageNum }">
                    <input type="hidden" name="amount" th:value="${pageMaker.cri.amount }">
                    <input type="hidden" name="type" th:value="${pageMaker.cri.type }">
                    <input type="hidden" name="keyword" th:value="${pageMaker.cri.keyword }">
                </form>
                    
                </div>
                </div>
            
<script type="text/javascript" th:inline="javascript">
    
$(document).ready(function() {
    	

// 환불
$('.cancelPayment p').on('click', function (e) {

    refundPayment();

})


function refundPayment() {
    var data = {
      impUid: $('.impUid').val(),
      amount: Number($('tbody td:eq(2)').text()),
      reason: '취소해주세요.',
      merchantUid: $('.merchantUid').val()

    };
  
    $.ajax({
      type: "POST",
      url: "/boot/api/refund",
      contentType: "application/json",
      data: JSON.stringify(data),
      success: function (data) {
        console.log(data);
        Swal.fire({
            icon: 'success',                      
            title: '환불성공',         
        });
        
        $.ajax({
            url:'/boot/mypage/spacePaymentDelete',
            type:'post',
            data: {	
                "memNo" :  $('.memNo').val(),
                "placeNo" : $('.placeNo').val(),
                "amountPrice" : Number($('tbody td:eq(2)').text()),
                "rentalNo" : $('.rentalNo').val(),
            },           
            dataType : 'text',
            success: function(result){

                if( result == 'success') {

                    location.href = "/boot/mypage/mypage"

                }
            },
            error: function(){

            	 Swal.fire({
                     icon: 'error',                      
                     title: '환불 데이터 변경 실패',         
                 });
                
            }
            })
        
      },
      error: function (xhr, textStatus, error) {
        console.log(xhr.responseText);
        Swal.fire({
            icon: 'error',                      
            title: '환불 처리중 오류가 발생했습니다.',         
        });
      }
    });

  }  	
    })
    
    </script>
            
            </section>
            </div>
  
    
    

</html>