<!DOCTYPE html>
<html>
<head>
    <title>[[${teamName}]]의 채팅</title>
    <link href="../webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="../webjars/jquery/jquery.min.js"></script>
    <script src="../webjars/sockjs-client/sockjs.min.js"></script>
    <script src="../webjars/stomp-websocket/stomp.min.js"></script>
    <script src="../app.js"></script>
</head>
<style>
#chatWrap {
    width: 600px;
    border: 1px solid #ddd;
}

#chatHeader {
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 25px;
    font-weight: 900;
    border-bottom: 1px solid #ddd;
}

#chatLog {
    height: 700px;
    overflow-y: auto;
    padding: 10px;
}

.myMsg {
    text-align: right;
}

.anotherMsg {
    text-align: left;
    margin-bottom: 5px;
}

.msg {
    display: inline-block;
    border-radius: 15px;
    padding: 7px 15px;
    margin-bottom: 10px;
    margin-top: 5px;

}

.anotherMsg > .msg {
    background-color: #f1f0f0;

}

.myMsg > .msg {
    background-color: #0084FF;
    color: #fff;
}

.anotherName {
    font-size: 12px;
    display: block;
}

#chatForm {
    display: block;
    width: 100%;
    height: 50px;
    border-top: 2px solid #f0f0f0;
}

#content {
    width: 85%;
    height: calc(100% - 1px);
    border: none;
    padding-bottom: 0;
}

#message:focus {
    outline: none;
}

#chatForm > input[type=submit] {
    outline: none;
    border: none;
    background: none;
    color: #0084FF;
    font-size: 17px;
}
</style>
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <input type="hidden" id="teamName" th:value="${teamName}">
                    <input type="hidden" id="wkrtjd" th:value="${wkrtjd}">
                    <label for="connect">[[${teamName}]]의 채팅 참여:</label>
                    <button id="connect" class="btn btn-default" type="submit">참여</button>
                    <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">나가기</button>
                </div>
            </form>
        </div>

    </div>
    <div id="chatWrap">
    <div class="row">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped">
                <thead>
                <tr>
                    <th id="chatHeader">대화 내용</th>
                </tr>
                </thead>
                <tbody id="greetings">
                    <tr class='myMsg' th:each="springChatList:${springChatList}">
                        <td td class='msg' th:text="${springChatList.chatContent}" th:if="${springChatList.memId == session.memVO.memId}"></td>
                        <td td class='anotherMsg' th:if="${springChatList.memId != session.memVO.memId && wkrtjd != springChatList.memId}"><span class='anotherName' th:text="${springChatList.memId}"></span><span class="msg" th:text="${springChatList.chatContent}"></span></td>
                        <td td class='anotherMsg' th:if="${springChatList.memId != session.memVO.memId && wkrtjd == springChatList.memId}"><span class='anotherName' th:text="${'👑'+springChatList.memId+'👑'}"></span><span class="msg" th:text="${springChatList.chatContent}"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <form id="chatForm">
                <label for="memId"></label>
                <input type="hidden" id="memId" class="form-control" th:value="${session.memVO.memId}">
           
                <label for="content"></label>
                <input type="text" id="content" size="30" placeholder="메시지를 입력하세요">
            <button id="send" class="btn btn-default" type="submit">보내기</button> 
        </form>
    </div>
    </div>
</div>
</body>

</html>