<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}" >
     <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/barfiller.css}">
    <link rel="stylesheet" th:href="@{/css/nowfont.css}">
    <link rel="stylesheet" th:href="@{/css/rockville.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/TeamCss/teamhistory.css}">
    <script src="https://kit.fontawesome.com/ada6fecb1f.js" crossorigin="anonymous"></script>
    
    
   <style>
        
        h6:hover{
            height: 50px;
            padding-top: 19px;
            font-weight: 600;
            background-color : #eee;
            color: black;
        }

        p{
            font-weight: 600;
           
            
        }
        
        tbody tr:hover{
            background-color : #eee;
        }

        .button{
            background-color: #96d2fa;
            border: #081c29;
            border-radius: 20%;
            height: 45px;
            float: right;
        }

        .alink{
            color: skyblue;
        }

        .boardpage{
            display: flex;
        }

        .ptag{
            font-weight: 600;
            width: 100px;
            
        }

        .atag:hover{
            color: black;
        }
    </style>


    
</th:block>


    <!-- sidebar-->
   <div layout:fragment="content"> 
   
       
    <div style="background-color: #eee">
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="#"><i class="fa fa-home"></i><p th:text="${teamName}"></p></a>
                        <span>매칭/ 매칭상세조회</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <!-- Breadcrumb End -->

	
   

    
    </div>  
    
    <section class="about about--page spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                 <!--카테고리-->  
                 <div class="blog__sidebar__item">
                    <div class="blog__sidebar__title">
                        <strong><h4>매칭 상세조회</h4></strong>
                    </div>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <h6></h6>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                           <h6></h6>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                           <h6></h6>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <h6></h6>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <h6></h6>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-9">
              
                  <!-- 매칭글 내용-->
                <div style="margin-left: 50px;" th:each="match : ${matchSelect}">
                    <input type="hidden" name="NoticeNo" id="NoticeNo"/>
                    <br>
                    <div class="boardpage">
                        <p class="ptag">글번호</p>
                        <p th:text=${match.matchNo}>ㅎㅇㅎㅇ</p>
                    </div>
                    <hr>
                     <div class="boardpage">
                        <p class="ptag">글제목</p>
                        <p th:text=${match.matchName}>ㅎㅇㅎㅇ</p>
                    </div>
                    <hr>
                    <div class="boardpage">
                        <p class="ptag">팀이름</p>
                        <p th:text=${match.matchTeamName}>김또치</p>
                    </div>
                   <hr>
                   <div class="boardpage">
                        <p class="ptag">팀장르</p>
                        <p th:text=${match.matchGenreName}>김또치</p>
                    </div>
                   <hr>
                    <div class="boardpage">
                        <p class="ptag">모집요건</p>
                        <p th:text=${match.matchQualifi}>2023-03-14</p>
                    </div>
                    <hr>
                    <div class="boardpage">
                        <p class="ptag">팀목표</p>
                        <p th:text=${match.matchTarget}>2023-03-14</p>
                    </div>
                    <hr>
                    <div class="boardpage">
                        <p class="ptag">팀특징</p>
                        <p  th:text=${match.matchSpecificity}>2023-03-14</p>
                    </div>
                    <hr>
                    <div class="boardpage">
                        <p class="ptag">모집인원</p>
                        <p  th:text=${match.matchPeople}>2023-03-14</p>
                    </div>
                    <hr>
                    
                    <div class="boardpage">
                        <p class="ptag">등록일</p><!-- th:text="${#dates.format(practice.practiceDate, 'yyyy-MM-dd')}" -->
                        <p th:text="${#dates.format(match.matchDate, 'yyyy-MM-dd')}">2023-03-14</p>
                    </div>
                    <hr>
                    
                    <div class="boardpage">
                        <p class="ptag">작성자</p><!--<a th:href="@{/page/practiceSelecter(practiceNo=${record.practiceNo}, memId=${memId})}">-->
                        <a th:href="@{/port/portfolio(memId=${match.memId},matchTeamName=${match.matchTeamName},matchNo=${match.matchNo})}"><p th:text="${match.memId}">2023-03-14</p></a>
                    </div>
                    <hr>
                    <br>
                  	<div class="boardpage">
                    <p class="ptag">포지션선택</p>
                    
                    <div class="boardpage" th:each="position:${position}">
                    	<div>
                   			<input class='checkbox' type='checkbox' th:id="${position.positionNo}" name="positionName" th:value="${position.positionName}"/><label th:for="${position.positionNo}" class='label1'>[[${position.positionName}]]</label>
                   		</div>
                   	</div>
                    </div>
                    <input type="hidden" th:name="teamName" th:value="${match.matchTeamName}">
                    <input type="hidden" th:name="memId" th:value="${session.memVO.memId}">
                    <input type="hidden" th:name="memAccountNo" th:value="${session.memVO.memAccountNo}">
                    <input type="hidden" th:name="matchNo" th:value="${match.matchNo}">
                    <input type="hidden" th:name="matchMemId" th:value="${match.memId}">
                    <a href="/boot/match/matchList" class="primary-btns">목록으로</a>
                    <button class="primary-btns" id="joinBtn" th:if="${session.memVO.memRating == 'MR01'}">신청</button>
                    <button class="primary-btns" id="chatBtn">채팅방</button>
                    <a th:href="@{/match/matchDelUpdate(matchNo=${match.matchNo},teamName=${match.matchTeamName})}"><button class="primary-btn border-btn2" id="delBtn"  th:if="${session.memVO.memRating == 'MR04'&& session.memVO.memId == match.memId}">삭제</button></a>
                    <br>
                </div> <!-- 매칭글 내용-->

                <br>
                <br>
                <br>
                <br>

                <table class="table" style="text-align: center;">
                    <thead>
                        <tr>
                            <td>신청자</td>
                            <td>포지션</td>
                            <td>승인</td>
                            <td>삭제</td>
                        </tr>
                    </thead>
                    <tbody id="showJoin">
                        
                    </tbody>
                </table>

                </div>
                </div>
                </div>
                </section>
<script>
$(document).ready(function() {        
    $('input[type="checkbox"][class="checkbox"]').click(function(){        
        if($(this).prop('checked')){
            $('input[type="checkbox"][name="positionName"]').prop('checked',false);
            $(this).prop('checked',true);
        }
    });

    joinList()
    
});

    var teamName= $('input[name="teamName"]').val()
    var memId= $('input[name="memId"]').val()
    var matchMemId = $('input[name="matchMemId"]').val()
    var memAccountNo = $('input[name="memAccountNo"]').val()
    var matchNo = $('input[name="matchNo"]').val()
    //신청리스트
    function joinList(){
        $("#showJoin").empty()
        var str = ''
        $.ajax({
            url : '/boot/match/joinList',
            type:'post',
            data:{
                "teamName" : teamName
            },
            success : function(result){
                console.log(result)
                $.each(result,function(idx,data){
                    str += '<tr>'
                    str += '<td><a href="/boot/port/portfolio?memId='+data.memId+'&teamName='+teamName+'&matchNo='+matchNo+'">'+data.memId+'</a></td>'
                    str += '<td>'+data.positionName+'</td>'
                    if(memId==matchMemId){
                        str += '<td><button class="button" onclick=yes("'+data.positionName+'","'+data.memId+'","'+data.memAccountNo+'")>승인</button></td>'
                        str += '<td><button class="button" onclick=no("'+data.positionName+'","'+data.memId+'","'+data.memAccountNo+'")>삭제</button></td>'
                    }else{
                        str += '<td></td>'
                        if(memId == data.memId){
                            str += '<td><button class="button" onclick=no("'+data.positionName+'","'+data.memId+'","'+data.memAccountNo+'")>삭제</button></td>'
                        }else{
                            str += '<td></td>'
                        }
                    }
                    str += '</tr>'
                })
                $("#showJoin").append(str);
            }
        })
    }

    //승인
    function yes(positionName,mem,accountNo){
        console.log("teamName: "+teamName)
        console.log("memId: "+mem)
        console.log("positionName: "+positionName)
        console.log("accountNumber: "+accountNo)
        $.ajax({
        url:'/boot/match/joinYes',
        type:'post',
        data:{
            "teamName" : teamName,
            "memId" : mem,
            "positionName" : positionName,
            "memAccountNo" : accountNo
        },
        success: function(result){
            
        	   Swal.fire({
                   icon: 'success',                         // Alert 타입
                   title: '승인 완료.',         // Alert 제목
                   text: '승인 완료.',  // Alert 내용
               });
            console.log(result);
            joinList()
        },
        error: function(){
        	   Swal.fire({
                   icon: 'error',                         // Alert 타입
                   title: '승인 실패.',         // Alert 제목
                   text: '승인 실패.',  // Alert 내용
               });
            console.log('실패')
        }
        })
    }

    //삭제
    function no(positionName,mem,accountNo){
        console.log("teamName: "+teamName)
        console.log("memId: "+mem)
        console.log("positionName: "+positionName)
        console.log("accountNumber: "+memAccountNo)
        $.ajax({
        url:'/boot/match/joinNo',
        type:'post',
        data:{
            "teamName" : teamName,
            "memId" : mem,
            "positionName" : positionName,
            "memAccountNo" : accountNo
        },
        success: function(result){
            
        	   Swal.fire({
                   icon: 'success',                         // Alert 타입
                   title: '삭제 완료.',         // Alert 제목
                   text: '삭제 완료.',  // Alert 내용
               });
            console.log(result);
            joinList()
        },
        error: function(){
        	   Swal.fire({
                   icon: 'error',                         // Alert 타입
                   title: '삭제 실패.',         // Alert 제목
                   text: '삭제 실패.',  // Alert 내용
               });
            console.log('실패')
        }
        })
    }

    //신청기능
    $('#joinBtn').on('click',function(){
        var positionName = ''
        let a = $('input[name="positionName"]:checked')
        if( a.length == 0){
        	   Swal.fire({
                   icon: 'error',                         // Alert 타입
                   title: '포지션 선택',         // Alert 제목
                   text: '포지션 선택을 해주세요.',  // Alert 내용
               });
            return
        }
        
        $('input[name="positionName"]').each(function (index) {
            if($(this).is(":checked")==true){
                positionName = $(this).val()
            }
        })

        console.log(teamName)
        console.log(memId)
        console.log(positionName)
        console.log(memAccountNo)

        $.ajax({
        url:'/boot/match/joinWaitInsert',
        type:'post',
        data:{
            "teamName" : teamName,
            "memId" : memId,
            "positionName" : positionName,
            "memAccountNo" : memAccountNo
        },
        success: function(result){
        	   Swal.fire({
                   icon: 'success',                         // Alert 타입
                   title: '신청 완료.',         // Alert 제목
                   text: '신청 완료.',  // Alert 내용
               });
            console.log(result);
            joinList()
        },
        error: function(){
        	   Swal.fire({
                   icon: 'error',                         // Alert 타입
                   title: '신청 실패.',         // Alert 제목
                   text: '신청 실패.',  // Alert 내용
               });
            console.log('실패')
        }
        })
    })

    	let btn = $("#chatBtn")
    	btn.on('click',function(){
    		let popOption = "width = 650px, height=550px, top=300px, left=300, scrollbars=yes";
    		let openUrl = "/boot/match/chat?teamName="+teamName+"&memId="+matchMemId+""
    		window.open(openUrl,'pop',popOption)
    	})   




</script>
                
                
                
</div>
</html>