<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}" >
     <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/barfiller.css}">
    <link rel="stylesheet" th:href="@{/css/nowfont.css}">
    <link rel="stylesheet" th:href="@{/css/rockville.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/TeamCss/teampagePlan.css}">
	<link rel="stylesheet" th:href="@{/TeamCss/fundingResult.css}">
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
   
</th:block>

	
    <!-- sidebar-->
   <div layout:fragment="content"> 
    
      <div style="background-color: #eee">
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="#"><i class="fa fa-home"></i> <p th:text="${teamName}"></p> </a>
                        <span>팀이력/ 활동내역</span>
                        <!--<p th:each="empInfo : ${teamMemberList.teamName}"></p>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- About Section Begin -->
    <section class="about about--page spad">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-6">
                    <div class="about__text">
                        
                     <h1>팀관리</h1>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>  
    
    <!-- About Section End -->
   
<!-- About Section Begin -->
<section class="about about--page spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                 <!--카테고리-->  
                  <div class="blog__sidebar__item">
                    <div class="blog__sidebar__title">
                        <strong><h4>팀 관리</h4></strong>
                    </div>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/teampage/teampagePlan}"><h6>공연 일정</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/teampage/teamFundingResult}"><h6>펀딩 결과</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/teampage/teampageDash}"><h6>수익 대시보드</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/teampage/teampageNotice}"><h6>공지사항</h6></a>
                        </div>
                    </a>
                    
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/teampage/teamPage}"><h6>팀관리</h6></a>
                        </div>
                    </a>
                      
                </div>
            </div>
            <!--사이드 끝-->

            <!--본문내용-->
            <div class="col-lg-9">
                <div class="about__text">
                    <div class="section-title">
                        <h2>펀딩결과</h2>
                    </div>
                    		
                   <!--펀딩결과 확인 페이블 
                    1. 펀딩정보 결과 테이블
                    2. 결과 확인 유무 버튼
                    3. 이미 끝난 펀딩은 결과만 출력
                    4. 결과 확인 버튼 클릭시 승인/거부 팝업창 다르게 뜨기-->
                    <div class="tableClass">
                        <table class="table" style="max-width: 100%;">
                            <thead>
                                <tr>
                                    <td>No</td>
                                    <td>펀딩명</td>
                                    <td>희망기간</td>
                                    <td>목표인원</td>
                                    <td>목표금액</td>
                                    <td>결과</td>
                                    <td>상세페이지</td>
                                </tr>
                            </thead>
                            <tbody >
                                 <!-- <a th:each="funding, number : ${FundingList}" href="/boot/funding/fundingDetails?fundingNo=${funding.fundingNo}&memNo=${funding.memNo}">-->
                                    <!--  <tr th:each="funding, number : ${FundingList}" class="modalTr">-->
                                    <tr th:each="funding, number : ${FundingList}" href="/boot/funding/fundingDetails?fundingNo=${funding.fundingNo}&memNo=${funding.memNo}">
                                    	<input type="hidden" th:value="${funding.memNo}" class="fundingMemNo">
                                        <input type="hidden" th:value="${funding.fundingRecognize}" class="fundingRecognize">
                                        <input type="hidden" th:value="${funding.fundingNo}" class="fundingNumber">
                                        <input type="hidden" th:value="${funding.fundingPrice}" class="fundingPrice">
                                        <td th:text="${number.index +1}" class="fundingNumber">No</td>
                                        
                                        <td th:text="${funding.fundingName}">펀딩명</td>
                                        <td th:text="${#dates.format(funding.fundingStart, 'yyyy-MM-dd') + ' ~ ' + #dates.format(funding.fundingEnd, 'yyyy-MM-dd')}">희망기간</td>
                                        <td th:text="'&#8361'+${funding.fundingCPrice}">달성금액</td>
                                        <td th:text="'&#8361'+${funding.fundingPrice}" class="fundingPriceValue">목표금액</td>
                                        <!--  <td><button type="button" th:onclick="'FunResult(' + ${funding.fundingNo} + ', this)'" class="site-btn">결과</button></td>-->
                                		<td th:text="${funding.fundingRecognize}"></td>
                                		<td><button type="button" th:onclick="'FunResult1(' + ${funding.fundingNo} + ', this)'" class="site-btn">이동</button></td>
                                    	
                                    
                                    
                                    </tr>
                                  
                            </tbody>
                        </table>
                       
                           <!-- 페이징 처리 -->
					<div class="col-lg-12">
	                    <div class="pagination__links">
	                            <th:block th:if="${pageMaker.prev}">
	                            <nobr><a th:href="${pageMaker.startPage -1 }">Previous</a></nobr>
	                            </th:block>
	                        
	                        <nobr th:each="num : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}">
	                        
	                        <th:block th:if="${num == 0}">
	                            
	                        </th:block>
	                        
	                        <th:block th:if="${num != 0}">
	                        <!--  <a th:href="${num}" th:text="${num}" class="currentPageNum" th:onclick="|javascript:noticeList('${num}')|"></a>  -->
	                         <a th:href="${num}" th:text="${num}"></a> 
	                        </th:block>
	                        
	                        </nobr>
	                        
	                        <th:block th:if="${pageMaker.next }">
	                            <nobr><a th:href="${pageMaker.endPage +1 }">Next</a></nobr>
	                        </th:block>      
	                    </div>
		            </div>
	            	<form id="actionForm" action="/boot/team/practice" method="get">
	                    <input type="hidden" name="pageNum" th:value="${pageMaker.cri.pageNum }">
	                    <input type="hidden" name="amount" th:value="${pageMaker.cri.amount }">
	                    
	            	</form>
                        
                        <!-- 모달 -->
                        <div  class="modal"
							style="text-align: center; margin: 0 auto;">
							<div class="modal-content">
								<h2>펀딩결과</h2><br>
								
								<p id="presult"></p>
								<div>
									<button type="submit" id="reportInModal">펀딩페이지 이동</button>
									<button type="button" id="reportClose">닫기</button>
								</div>

							</div>
						</div>
                        
                    </div>
					<!--  -->
                    

                </div>
            </div>
                
             


        </div>
   
</section>
    


<script>
	$(document).ready(function () {
		//'&#8361'+
	//var result = $('.fundingPriceValue').text();
	//var num = result.replace(/[^0-9]/g, ''); // "230000"
	//console.log(num);
	//var formattedNum =  parseInt(num).toLocaleString();
	//console.log(formattedNum); // 출력 결과: "230,000"
	
	})
	
	
	function FunResult1(fundingNo,btn) {
		//펀딩 정보
		var result = $(btn).parents().find('input[class="fundingRecognize"]').val();
		var memNo= $(btn).parents().find('input[class="fundingMemNo"]').val();
		
		Swal.fire({
			   title: '조회하신 펀딩의 결과는',
			   text: result + '입니다.',
			   icon: 'info',
			   
			   showCancelButton: true, // cancel버튼 보이기. 
			   confirmButtonColor: '#3085d6', // confrim 버튼 색깔 지정
			   cancelButtonColor: '#d33', // cancel 버튼 색깔 지정
			   confirmButtonText: '상세 페이지 이동', // confirm 버튼 텍스트 지정
			   cancelButtonText: '확인', // cancel 버튼 텍스트 지정
			   reverseButtons: true, // 버튼 순서 거꾸로
			}).then(result => {
			   // 만약 Promise리턴을 받으면,
			   if (result.isConfirmed) { // 만약 모달창에서 confirm 버튼을 눌렀다면
			   	  //페이지 이동
			      window.location = '/boot/funding/fundingDetails?fundingNo=' + fundingNo + '&memNo=' + memNo;
			   }else if (result.isDismissed) { // 만약 모달창에서 cancel 버튼을 눌렀다면
			    	// ...실행
			    }
			});
	}
    
    function FunResult(fundingNo,btn) {
        
       $(btn).parents(".tableClass").find(".modal").css('display', 'block');
       //var result = $(btn).parents().parents(".modalTr").children().find(".fundingRecognize").val();
        var result = $(btn).parents().find('input[class="fundingRecognize"]').val();
       console.log(result);
       document.getElementById("presult").innerText = '조회하신 펀딩의 결과는"' + result+ '" 입니다.';

        //console.log(fundingNo+ "======================")
        //펀딩 페이지 이동하기 
         $(document).on('click', '#reportInModal', function() {
        	 
        	 window.location = '/boot/page/index';
        	 //$('.modal').css('display', 'none');
        	 
        	});
        
        //닫기 눌렀을때
        $(document).on('click', '#reportClose', function() {
        	 $('.modal').css('display', 'none');
        })
        
       
       
    }

    

  </script>
    
    </div>
    <!-- Contact Section End -->


</html>