<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}" >
     <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/barfiller.css}">
    <link rel="stylesheet" th:href="@{/css/nowfont.css}">
    <link rel="stylesheet" th:href="@{/css/rockville.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/TeamCss/teamhistory.css}">
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    
    
    
    <!-- jQuery UI CDN -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
	<!-- jQuery UI CSS CDN -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
	<!-- codemirror CDN URL -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css" />
	<!-- TOAST UI Editor CDN URL(CSS) -->
	<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
	<!-- TOAST UI Editor CDN URL(JS) -->
	<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
	
	
	
	<style>
    #editor {
        /* border : 1px solid; */
        width: 70%;
        text-align: left;
        margin: 0 ;
    }
    /* editor content 받을 div태그 스타일 추가. */
    #contents {
        width: 50%;
        height: 100px;
        margin: 30px auto;
        border: 1px solid;
    }

    #accordion {
        width: 70%;
        margin: 0 auto;
    }

   

	</style>

</th:block>

	
    <!-- sidebar-->
<div layout:fragment="content"> 
    
        
    <div style="background-color: #eee">
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <span>공지사항 관리</span>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
   

    

    <!-- About Section Begin -->
    <section class="about about--page spad">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-6">
                    <div class="about__text">
                        
                     <h1>공지 관리</h1>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
   
    <!-- About Section End -->
   
<!-- About Section Begin -->
<section class="about about--page spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                 <!--카테고리-->  
                <div class="blog__sidebar__item">
                    <div class="blog__sidebar__title">
                        <strong><h4>팀 관리</h4></strong>
                    </div>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                           <a th:href="@{/teampage/teampagePlan}"><h6>공연 일정</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/teampage/teamFundingResult}"><h6>펀딩 결과</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/teampage/teampageDash}"><h6>수익 대시보드</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/teampage/teampageNotice}"><h6>공지사항</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/teampage/teamPage}"><h6>팀관리</h6></a>
                        </div>
                    </a>


                      
                </div>
            </div>
            <!--사이드 끝-->

            <!--본문내용-->
            <div class="col-lg-10">
                <div class="container">
                    <div class="contact__form">
                            <div class="section-title">
                                <h2 >연습활동 기록</h2>
                                <h1></h1><br>
                            </div>
                        
                        <form role="form" th:action="@{/teampage/noticeInsert}" method="POST">
                            <div class="input__list">
                                <label class="label1" style="margin-left: 20px;">제목</label> 
                                <input name="noticeName" class="input" type="text" style="width: 72%;"><br>
                                <div id="editor" style="width: 800px;"></div>
                            </div>
                            
                            <div style="text-align: center;">
                                <a href="/boot/teampage/teampageNotice" class="primary-btn border-btn2">목록으로</a>
                                <button id="btn" class="primary-btns" type="submit">등록</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>
        <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
        <script>
            const onUploadImage = async (blob, callback) => {
                const formData = new FormData();
                formData.append("image", blob);
                formData.append("uri", window.location.pathname);
                
                 $.ajax({
                  type: "post",
                  url: "/boot/page/image",
                  async: true,
                  data: formData,
                  processData: false,
                  contentType: false,
                  success: function (data) {
                    imageURL = data;
                    callback(imageURL, "image");
                    console.log(imageURL)
                  },
                  error: function (request, status, error) {
                    alert(request + ", " + status + ", " + error);
                  },
                });
              };
       
              const editor = new toastui.Editor({
                el: document.querySelector("#editor"),
                height: "500px",
                initialEditType: "wysiwyg",
                placeholder: "내용을 입력해주세요",
                language: "ko-kr",
                hooks: {
                  addImageBlobHook: onUploadImage
                }
              });
              
              
              var formObj = $('form[role="form"]')
               $('button[type="submit"]').on('click',function(e){
                   e.preventDefault()//기본기능 차단
                   console.log('submit click')
                   console.log(editor.getHTML())
               var str = "<input type='hidden' name='noticeContent' value='"+editor.getHTML()+"'>"
               formObj.append(str).submit()
           })
              
           </script>
		
   </div>
</section>
    
    
    </div>
    </div>
    <!-- Contact Section End -->

  


</html>