<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style>
	
.modal {
		  display: none; /* 모달창은 기본적으로 보이지 않도록 함 */
		  position: fixed; /* 고정 위치 */
		  z-index: 1; /* 가장 위에 표시 */
		  left: 0;
		  top: 0;
		  width: 100%;
		  height: 100%;
		  overflow: auto; /* 스크롤 가능하도록 함 */
		  /*background-color: rgba(0,0,0,0.4);  배경을 어둡게 함 */
		}
		
		.modal-content {
		  background-color: #fefefe;
		  margin: auto; /* 수직/수평 가운데로 정렬 */
		  padding: 20px;
		  border: 1px solid #888;
		  width: 80%;
		  max-width: 600px; /* 모달창 최대 너비 */
		  position: relative; /* 모달창 내부 요소를 상대 위치로 지정 */
		  top: 50%; /* 수직 가운데 정렬 */
		  transform: translateY(-50%); /* 수직 가운데 정렬 */
		}
		
		/* 모달창 내부의 폼 요소에 스타일을 적용함 */
		.modal-content form {
		  display: flex;
		  flex-direction: column;
		}
		
		.modal-content form textarea {
		  margin-bottom: 10px;
		}
		
		.modal-content form label {
		  display: inline-block;
		  margin-bottom: 10px;
		}
</style>

</head>
<body>


	<div style="margin-left: 50px;">
		<br>
		<p style="padding: 10px;">댓글</p>
		<!--댓글 등록 창-->
		<div style="display: flex;">
			

			<div style="width: 100px;">
				<p th:text="${session.memVO.memName}"
					style="width: 100px; text-align: center;"></p>
			</div>
			<!--로그인한 유저의 id 수정 필요-->
			<div>
				<textarea placeholder="내용을 입력해 주세요" style="width: 600px;"
					name="content" id="content"></textarea>
			</div>
			<!--<th:block th:if="${#strings.isEmpty(content, '댓글 내용을 입력해주세요')}"></th:block>-->
			<div style="padding-left: 30px;">
				<button type="submit" class="site-btn" style="width: 100px;"
					id="replyAjax" th:onclick="addReply()">등록</button>
			</div>
		</div>
		<br>
		<br>
		<!--댓글 등록 창-->


		<!--댓글 리스트-->
		<input type="hidden" th:value="${session.memVO.memName}"
			name="memName1" id="memName1" />

		<div class="ShowReply" id="ShowReply">
			
			
			
		</div>

		<!--댓글 리스트 끝-->
		

		<br> <br>

		<!-- 페이징 처리 //class="replyPaging"-->
		<div class="col-lg-12">
			<div class="pagination__links">
				<th:block th:if="${pageMaker.prev}">
					<nobr>
						<a th:text="${pageMaker.startPage -1 }"
							th:onclick="|javascript:replyPaging('${pageMaker.startPage -1 }')|">Previous</a>
					</nobr>

				</th:block>

				<nobr
					th:each="num : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}">

					<th:block th:if="${num == 0}">

					</th:block>

					<th:block th:if="${num != 0}">
						<!-- <a th:href="${num}" th:text="${num}" ></a>    -->
						<a value="${num}" th:text="${num}" class="currentPageNum"
							th:onclick="|javascript:noticeList('${num}')|"></a>

					</th:block>

				</nobr>

				<th:block th:if="${pageMaker.next }">
					<nobr>
						<a th:href="${pageMaker.endPage +1 }"
							th:onclick="|javascript:replyPaging('${pageMaker.startPage +1 }')|">Next</a>
					</nobr>
				</th:block>
			</div>
		</div>
		<!-- 페이징 된 버튼을 눌렀을때 이동한 페이지에 정보저장 -->


		<!-- <input type="hidden" name="pageNum" id="pageNum" th:value="${pageMaker.cri.pageNum }"> -->
		<input type="hidden" name="pageNum" id="pageNum" th:value="1">
		<input type="hidden" name="amount" id="amount" th:value="5">



	</div>

	<script type="text/javascript">
	
		var replyNo;
		
		function notice(num, noticeNo){
			replyNo = noticeNo;
			noticeList(num);
		}
		
		function replyPaging(num) {

			console.log('페이징 가보자고.');

			$.ajax({
				url : '/boot/team/replyList2',
				type : 'post',
				data : {

					"noticeNo" : replyNo,
					"pageNum" : num,
					"amount" : $('#amount').val()
				},
				success : function(result) {

					//console.log(result);
					//댓글 입력 완료 
					if (result != null) {
						console.log('페이징 가보자고.');
						noticeList(num);

					} else {
						alert('내용을 입력해주세요');
					}

				},
				error : function() {
					alert('ajax 댓글페이징 실패');
					console.log('실패')
				}
			})

		}
		// })

		//댓글리스트
		function noticeList(pageNo) {

			//console.log('ajax 전')
			let replyList = document.getElementById('ShowReply');
			var str = "";
			var str1 = "";
			$
					.ajax({
						url : '/boot/team/replyList',
						type : 'post',
						data : {
							"noticeNo" : replyNo,
							"pageNum" : pageNo
						},
						success : function(result) {

							console.log('댓글 페이징 테스트 ' + result)
							var mem = $('#memName1').val();

							if (result != null) {

								$('.ShowReply').empty();
								//location.reload();
								
										$.each(
												result,
												function(index, item) {
													//날짜 포맷.
													var td = new Date(
															item.commentDate)
															.toISOString()
															.substring(0, 10);

													str += "<div class='ComuDiv'>";
													str += "<input type='hidden' value='"+item.memNo+"' name='itemMemNo'  class='itemMemNo'>";
													str += "<input type='hidden' value='"+item.TeamNo+"' name='itemTeamNo'  class='itemTeamNo'>";
													str += "<input type='hidden' value='"+item.commentNo+"' name='itemCommentNo'  class='itemCommentNo'>";

													str += "<div style='display: flex; margin-left: 30px;'>";
													str += "<p style='width: 100px;'  >"
															+ item.name
															+ "</p>";
													str += "<p>" + td + "</p>";
													str += "</div>";
													str += "<div style='background-color: #eee; height: 80px; width: 100%;' class='contentArea'><br>";
													str += "<p style='margin-left: 60px;' class='replyContent' >"
															+ item.commentContent
															+ "</p></div><br> ";
													//수정 버튼 클릭시 textarea show
													str += "<div class='ComutextArea'><textarea style='width: 600px; display:none;' name='content1' class='content1' placeholder='"+item.commentContent+"'>"
															+ item.commentContent
															+ "</textarea></div>";
													if (mem == item.name) {
														str += "<div style='justify-content: flex-end; margin-left: 30px; text-align:right ;'>";
														str += "<a style='display: inline-block; margin-right: 5px;' class='ReplyMod11'>";
														str += "<button id='ReplyMod' class='ReplyMod' onclick='ButtonChange("
																+ item.commentNo
																+ ",this)'>수정</button><button class='DeleteReply' onclick='deleteReply(this)'>삭제</button></a>";
														str += "<button class='DoReplyMod' style='display:none;' onclick='modReply(this)'>확인</button>";
														str += "</div>";

													} else {
														str += "<div style='justify-content: flex-end; margin-left: 30px; text-align:right ;'>";
														str += " <a style='display: inline-block; margin-right: 5px;'><button class='button' id='reporyReply' onclick='reportReply(this)'>신고</button></a>";
														str += "</div>";

													}
													
													//모달창
													str += "<div class='modal' style='text-align:center; margin: 0 auto; '>";
													str += "<div class='modal-content'>";
													str += "<h2>신고하기</h2>";
													str += " <p>신고 내용을 입력해주세요.</p>";
													str += "<label style='display: flex; margin: 0 auto; margin-left:220px;'><input type='radio' class='reportReason' name='commentReportReason' style='display: inline-block;' value='부적절한 내용'>부적절한 내용</label>";
													str += "<label style='display: flex; margin: 0 auto; margin-left:220px;'><input type='radio' class='reportReason' name='commentReportReason' style='display: inline-block;' value='음란한 내용'>음란한 내용</label>";
													str += "<label style='display: flex; margin: 0 auto; margin-left:220px;'><input type='radio' class='reportReason' name='commentReportReason' style='display: inline-block;' value='폭력적인 내용'>폭력적인 내용</label>";
													str += "<label style='display: flex; margin: 0 auto; margin-left:220px;'><input type='radio' class='reportReason' name='commentReportReason' style='display: inline-block;' value='광고'>광고</label>";
													str += " <textarea name='reportContent' id='commentReportContent' rows='4' cols='50'></textarea>";
													str += "<div>";
													str += "<button type='submit' class='reportInModal'>신고하기</button>";
													str += "<button type='button' class='reportClose'>닫기</button>";
													str += " </div> </div>";
													str += "</div>";
													//모달창 끝

													str += "</div>";

												})

								$('.ShowReply').append(str);

							} else {
								console.log('ajax 통신은 됬는데 실패')
							}

						},
						error : function() {

							console.log('통신실패')
						}
					})

		}

		//댓글 신고
		function reportReply(btn){
			var commentNo = $(btn).parent().parent().parent('div.ComuDiv')
							.children('input.itemCommentNo').val();
			
			var memNo = $(btn).parent().parent().parent('div.ComuDiv')
						.children('input.itemMemNo').val();
			
			
			// console.log(commentNo + 'commentNo');
       	 	// console.log(memNo + 'memNo');

			$(btn).parents(".ComuDiv").find(".modal").css('display', 'block');
			//$(btn).parent().parent().siblings().find('div.modal').css('display', 'block');
			$(btn).parents(".ComuDiv").find(".modal").children('radio.reportViolence').css('display', 'block');
			$(btn).parents(".ComuDiv").find(".modal").children('radio.reportObscenity').css('display', 'block');
			$(btn).parents(".ComuDiv").find(".modal").children('radio.reportAdvertisement').css('display', 'block');

			
       	 	
			$('.reportInModal').on('click', function(){
        		//itemMemNo
        		var memNo = $('#memNo').val();
        		var commentReportReason =  $(btn).parents(".ComuDiv").find(".modal").children('.modal-content').children('input.reportReason:checked').val();
        		var commentReportContent = $(btn).parents(".ComuDiv").find(".modal").children('.modal-content').children('textarea').val();
				
        		 $.ajax({
        			 
                     type: "post",
                     url: "/boot/team/reportNoticeReply",
                     data: {	"noticeNo" : replyNo,
                     			"memNo" : memNo,
                     			"commentNo" : commentNo,
                     			"commentReportReason" : commentReportReason,
                     		 	"commentReportContent" : commentReportContent},
                     success: function(){ alert('신고완료되었습니다.')},
                     error : function(error){
                    	 console.log(error);
                     }
                     
                   });
        		 
        		 $('.modal').css('display', 'none');
        		 
        		
        	})
        
            
            
            
            $('.reportClose').on('click', function(){
            	 $('.modal').css('display', 'none');
            })
			
		}
		
		//댓글 추가
		function addReply() {

			$
					.ajax({
						url : '/boot/team/addReply2',
						type : 'post',
						data : {
							"noticeNo" : replyNo,
							//유저에 대한 정보도 넘겨줘야함
							"commentContent" : $('#content').val()
						},
						success : function(result) {

							//console.log(result);
							//댓글 입력 완료 
							if (result > 0) {
								//location.reload();
								noticeList(1);
								$('#content')
										.replaceWith(
												'<textarea placeholder="내용을 입력해 주세요" style="width: 600px;" name="content" id="content">');

							} else {
								alert('내용을 입력해주세요');
							}

						},
						error : function() {
							alert('ajax 댓글달기 실패');
							console.log('실패')
						}
					})

		}

		//댓글 수정버튼 클릭시 버튼 변환
		function ButtonChange(commentNo, btn) {

			// console.log('댓글 수정 확인');

			// //댓글내용 숨김, textarea show
			// $('#contentArea').hide();
			// $('#content1').show();

			// //버튼 변경
			// $('#ReplyMod11').hide();
			// $('#DoReplyMod').show();

			//댓글내용 숨김, textarea show
			var textarea = $(this).parent().siblings().find(
					'.ComutextArea textarea');

			//find
			$(btn).parent().parent().parent('div.ComuDiv').children(
					'div.ComutextArea').children('textarea.content1').css(
					'display', '');
			$(btn).parent().parent().parent('div.ComuDiv').children(
					'div.contentArea').css('display', 'none');
			$(btn).hide(); // 수정 버튼 숨기기
			$(btn).parent().find('.DeleteReply').hide(); // 삭제 버튼 숨기기

			$(btn).parent().siblings('button.DoReplyMod').css('display', '');

		}

		function deleteReply(btn) {

			var commentNo = $(btn).parent().parent().parent('div.ComuDiv')
					.children('input.itemCommentNo').val();
			var memNo = $(btn).parent().parent().parent('div.ComuDiv')
					.children('input.itemMemNo').val();

			console.log(commentNo);
			console.log(memNo);

			$.ajax({
				url : '/boot/team/deleteReply',
				type : 'post',
				data : {
					"noticeNo" : replyNo,
					"itemMemNo" : memNo,
					// "itemTeamNo" : $('#itemTeamNo').val(),
					"commentNo" : commentNo
				},
				success : function(result) {

					noticeList(1);

				},
				error : function() {
					alert('ajax 댓글달기 실패');
					console.log('실패')
				}
			})

		}

		function modReply(btn) {

			var commentNo = $(btn).parent().parent('div.ComuDiv').children(
					'input.itemCommentNo').val();
			var memNo = $(btn).parent().parent('div.ComuDiv').children(
					'input.itemMemNo').val();
			var text = $(btn).parent().parent('div.ComuDiv').children(
					'div.ComutextArea').children('textarea').val();
			var teamNo = $(btn).parent().parent('div.ComuDiv').children(
					'input.itemTeamNo').val();

			//수정 AJAX
			$.ajax({
				url : '/boot/team/modReply',
				type : 'post',
				data : {
					"noticeNo" : replyNo,
					"itemMemNo" : memNo,
					"itemTeamNo" : teamNo,
					"commentContent" : text,
					"commentNo" : commentNo
				},
				success : function(result) {

					console.log('ajax 댓글수정 통신 성공!')

					//댓글 입력 완료 
					if (result > 0) {
						//location.reload();
						noticeList(1);

					} else {
						alert('내용을 입력해주세요');
					}

				},
				error : function() {
					alert('ajax 댓글달기 실패');
					console.log('실패')
				}
			})

		}//end of modReply()
	</script>
</body>
</html>