<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}" >
     <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/barfiller.css}">
    <link rel="stylesheet" th:href="@{/css/nowfont.css}">
    <link rel="stylesheet" th:href="@{/css/rockville.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/TeamCss/teamhistory.css}">
    <link rel="stylesheet" th:href="@{/TeamCss/teampagePlan.css}">
    <link rel="stylesheet" th:href="@{/TeamCss/teamPage.css}">
    
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    
    
</th:block>

    <!-- sidebar-->
   <div layout:fragment="content"> 
    
        
    <div style="background-color: #eee">
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <span>팀 관리</span>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- About Section Begin -->
    <section class="about about--page spad">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-6">
                    <div class="aa">
                        
                     <h1>팀 정보 수정</h1>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>  
    
    <section class="about about--page spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                 <!--카테고리-->  
                <div class="blog__sidebar__item">
                    <div class="blog__sidebar__title">
                        <strong><h4>팀 관리</h4></strong>
                    </div>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/teampage/teampagePlan}"><h6>공연 일정</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/teampage/teamFundingResult}"><h6>펀딩 결과</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/teampage/teampageDash}"><h6>수익 대시보드</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/teampage/teampageNotice}"><h6>공지사항</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/teampage/teamPage}"><h6>팀관리</h6></a>
                        </div>
                    </a>
                      
                </div>
            </div>
            <!--사이드 끝-->
    		 <div class="col-lg-9">
    		 <th:block th:each="team : ${teamNotice}">
    		 	 <div class="about__text">
                    <div class="section-title">
                        <h2 style="text-align:center;">팀 정보</h2>
                    </div>
                    	
                    	<th:block th:if="${team.teamImage == 'test/basic.jpg'}">
                    		 <div class="mb-5" style="text-align:center;">
	                    	 <img th:src="|/boot/${team.teamImage}|" style="border-radius: 40px; width: 700px; height:500px ;" >
	                    </div>
                    	
                    	</th:block>
                    	<th:block th:if="${team.teamImage != 'test/basic.jpg'}">
                    	
	                    <div class="mb-5" style="text-align:center;">
	                    	<img th:src="|/boot/${team.teamImage}|" style="border-radius: 40px; width: 700px; height:500px ;" >
	                    </div>
	                    </th:block>
	                    
	                	</div><br><br>
	                	<!-- 팀명,  팀소개, 팀목표, 팀생성일-->
				
					   
					    <div class="team-info">
					        <h3>팀명</h3>
					        <p th:text="${team.teamName}"></p>
					    </div>
					    <div class="team-info">
					        <h3>팀소개</h3>
					        <p th:text="${team.teamSpecificity}"></p>
					    </div>
					    <div class="team-info">
					        <h3>팀목표</h3>
					        <p th:text="${team.teamTarget}"></p>
					    </div>
					    <div class="team-info">
					        <h3>팀생성일</h3>
					        <p th:text="${#dates.format(team.teamStart, 'yyyy-MM-dd')}"></p>
					    </div>
					
					<div>
					    		
					   <form action="/boot/teampage/teamPageMod" method="get">
					    	<input type="hidden" name="teamImage" th:value="경로">
					    	<input type="hidden" name="teamSpecificity" th:value="${team.teamSpecificity}">
					    	<input type="hidden" name="teamTarget" th:value="${team.teamTarget}">
					    	<input type="hidden" name="teamNo" th:value="1">	
					    	<button class="primary-btnO4" type="submit" style="margin:0 auto; display:block; padding:2px;">수정하기</button>
					    		
					    </form>
					</div>
					</th:block>
    		 </div>
    		 
    		 
        </div>
   </div>
</section>
    
    </div>
    <!-- Contact Section End -->

</html>
    
    
    
    
    
    
    
    
    
    
    
    