<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}" >
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
   <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
   <link rel="stylesheet" th:href="@{/css/barfiller.css}">
   <link rel="stylesheet" th:href="@{/css/nowfont.css}">
   <link rel="stylesheet" th:href="@{/css/rockville.css}">
   <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
   <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
   <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
   <link rel="stylesheet" th:href="@{/css/style.css}">
   <link rel="stylesheet" th:href="@{/TeamCss/teamhistory.css}">
   <link rel="stylesheet" th:href="@{/TeamCss/teampagePlan.css}">
    
   
<!--  <script src='fullcalendar/dist/index.global.js'></script> -->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js'></script>
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
   
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
   
   
   <!-- 창띄우는거 -->   
	<style>

		 #modal.modal-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: transparent; 배경색을 투명으로 변경 */
  border-radius: 10px;
  z-index: 1000;
}

#modal .modal-window {
  background: white;
  /*rgba(69, 139, 197)*/
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  /*backdrop-filter: blur(13.5px);*/
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 600px;
  height: 500px;
  position: relative;
  top: -100px;
  padding: 10px;
  z-index: 1001; /* 모달창을 풀캘린더보다 위에 위치 */
}

#modal .title {
  padding-left: 10px;
  display: inline;
  text-shadow: 1px 1px 2px gray;
  color: white;
}

#modal .title h2 {
  display: inline;
}

#modal .close-area {
  display: inline;
  float: right;
  padding-right: 10px;
  cursor: pointer;
  text-shadow: 1px 1px 2px gray;
  color: white;
}

#modal .content {
  margin-top: 20px;
  padding: 0px 10px;
  text-shadow: 1px 1px 2px gray;
  color: white;
}

#calendar {
  position: relative;
  z-index: 1;
  background-color: #fff; /* 배경색을 하얗게 변경 */
}

#closeBtn{
	background-color: white;
	border : none;
}


	</style>
	

</th:block>

	
	
    <!-- sidebar-->
   <div layout:fragment="content"> 
    
      
    <div style="background-color: #eee;">
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="#"><i class="fa fa-home"></i> <p th:text="${teamName}"></p> </a>
                        <span>팀이력/ 활동내역</span>
                        <!--<p th:each="empInfo : ${teamMemberList.teamName}"></p>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
   
   
    <!-- About Section Begin -->
    <section class="about about--page spad">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-6">
                    <div class="about__text">
                        
                     <h1>팀관리</h1>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>  
    
    
<!-- About Section Begin -->
<section class="about about--page spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                 <!--카테고리-->  
                  <div class="blog__sidebar__item">
                    <div class="blog__sidebar__title">
                        <strong><h4>팀 관리</h4></strong>
                    </div>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/teampage/teampagePlan}"><h6>공연 일정</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/teampage/teamFundingResult}"><h6>펀딩 결과</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/teampage/teampageDash}"><h6>수익 대시보드</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/teampage/teampageNotice}"><h6>공지사항</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/teampage/teamPage}"><h6>팀관리</h6></a>
                        </div>
                    </a>

                      
                </div>
            </div>
            <!--사이드 끝-->

            <!--본문내용-->
            <div class="col-lg-9">
                <div class="about__text">
                    <div class="section-title" style="text-align: center;">
                        <h2>공연일정</h2>
                    </div>
                      <div style="margin-left: 50px; width:90% ">
                        
                        <!-- fullcalendar 구현 공간 -->
                        <div id='calendar' ></div>
                        
                        <br><br>
                        <button type="submit" class="site-btn" style="width: 150px; float:right;"
						id="teamplan" th:onclick="addshowBtn()">공연등록</button>
                      </div>
                      <br><br><br>
                 
                 <script>
                 	function addshowBtn(){
                 		
                 		 window.location = '/boot/show/showInsert';
                 	}
                 
                 </script>

                    <!--D-day 공연예정-->
                    <div>
                        <p style="height: 40px; padding: 5px; width: 100%; background-color: #eee;">D-Day 공연</p><br>
                        <th:block th:if="${DdayPlan} != null">
                            <div style="margin-left: 20px;" class="todayPlan" th:each="plan : ${DdayPlan}"><hr>
                                <p th:text="'공연 : '+ ${plan.showName}"></p>
                                <p th:text="'날짜 : ' + ${#dates.format(plan.showDate, 'yyyy-MM-dd')}"></p>
                                <p th:text="'공연종류 : ' + ${plan.showType}"></p>
            
                            </div><br>
                        </th:block>

                        <th:block th:if="${DdayPlan} == null">
                            <div style="margin-left: 20px; display:none;" class="NonePlan">
                                <h3 style="text-align: center;"> 공연일정이 없습니다.</h3>
                            </div>
                        </th:block>
                    </div><br><br>

                    <!--공연 예정-->
                    <div>
                        <p style="height: 40px; padding: 5px; width: 100%; background-color: #eee;">공연예정</p>
                       
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>공연이름</td>
                                        <td>공연날짜</td>
                                        <td>공연종류</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="plan : ${Plan}">
                                        <th:block  th:if="plan != null">
                                            <td th:text="${plan.showName}"></td>
                                            <td th:text="${#dates.format(plan.showDate, 'yyyy-MM-dd')}"></td>
                                            <td th:text="${plan.showType}"></td>
                                        </th:block>
                                        <th:block th:if="${Plan} == null">
                                            <td>공연 예정인 일정이 없습니다.</td>
                                        </th:block>   
                                    </tr>
                                </tbody>
                            </table>
                        
                           
                    </div>


                </div>
                
                
                
                <!-- 모달창 -->
                <div id="modal" class="modal-overlay" style="display:none;">
			        <div class="modal-window">
			            <div class="title">
			            	<br><br><br>
			                <h2 style="margin-left:230px;">공연정보</h2>
			            </div>
			            <button id="closeBtn" style="float:right; margin-right:10px;" >X</button>
			            <br><br>
			            <div class="content" >
			            	<p>공연 상세정보를 원하시는경우 상세조회 하시길 바랍니다.</p>
			            </div>
			            <div style="text-align:center;">
			            	<p id="showName"></p>
			            	<p id="showDate"></p>
			            	<p id="showUser"></p>
			                <button id="closeBtn1" class="primary-btn">확인</button>
			                <button id="moveBtn"  class="primary-btn">상세조회</button>
			            	<input type="hidden"  id="dateValue"/>
			            	<input type="hidden"  id="forshowNo"/>
			            	<!-- <p id="pValue"/> -->
			             </div>   
			        </div>
			    </div>
                
                
                
                <!-- 모달 끝 -->
            </div>


        </div>
    </div>
	</section>

	
    <script th:src="@{/Teamjs/teampagePlan.js}" th:inline="javascript"></script>
    </div>
    <!-- Contact Section End -->

  


</html>