<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}" >
     <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/barfiller.css}">
    <link rel="stylesheet" th:href="@{/css/nowfont.css}">
    <link rel="stylesheet" th:href="@{/css/rockville.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/TeamCss/teamhistory.css}">
    <link rel="stylesheet" th:href="@{/TeamCss/teampagePlan.css}">
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    
    
</th:block>

	
    <!-- sidebar-->
   <div layout:fragment="content"> 
    
        
    <div style="background-color: #eee">
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <span>공지사항 관리</span>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <!-- About Section Begin -->
    <section class="about about--page spad">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-6">
                    <div class="about__text">
                        
                     <h1>공지 관리</h1>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>  
   
    <!-- About Section End -->
   
<!-- About Section Begin -->
<section class="about about--page spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                 <!--카테고리-->  
                <div class="blog__sidebar__item">
                    <div class="blog__sidebar__title">
                        <strong><h4>팀 관리</h4></strong>
                    </div>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/teampage/teampagePlan}"><h6>공연 일정</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/teampage/teamFundingResult}"><h6>펀딩 결과</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/teampage/teampageDash}"><h6>수익 대시보드</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/teampage/teampageNotice}"><h6>공지사항</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/teampage/teamPage}"><h6>팀관리</h6></a>
                        </div>
                    </a>


                      
                </div>
            </div>
            <!--사이드 끝-->

            <!--본문내용-->
            <div class="col-lg-9">
                <div class="col-lg-9" style="margin-top: 50px; max-width:100%;">
                    
                    <br>
                    <div style="display:flex;">
                	<div>
                		<h2>공지사항</h2>
                	</div>
                	 
                	</div><br>
                    <table class="table" style="text-align: center; min-height:200px;" >
                        <thead>
                            <tr>
                                <td>글번호</td>
                                <td>글제목</td>
                                <td>작성자</td>
                                <td>작성일자</td>
                                <td>조회수</td>
    
                            </tr>
                        </thead>
                        <tbody >
                          
                         
                            <th:block th:each="notice ,status: ${teamNotice}">
                          
                                <tr>
                                    <!-- <td><span th:text="${notice.noticeNo}"></span></a></td>-->
                                    <td><span th:text="${status.index +1}"></span></a></td>
                                    <td>
                                        <a class="alink" th:href="@{/teampage/teamNoticeDetail(noticeNo=${notice.noticeNo}, viewCount=${notice.viewCount})}">
                                            <span th:text="${notice.noticeName}"></span>
                                            <!--  <th:block th:each="reply : ${CountReply}" th:if="${notice.noticeNo == reply.noticeNo}">
                                                <span th:if="${notice.noticeNo==reply.noticeNo}">(<span th:text="${reply.count}"></span>)</span>
                                            </th:block>-->
                                        </a>
                                    </td>
                                
                                    <td><span th:text="${notice.name}"></span></td>
                                    <td><span th:text="${notice.noticeDate}"></span></td>
                                    <td><span th:text="${notice.viewCount}"></span></td>
                                </tr>
                           

                        </th:block>
                        
                        </tbody>
                    </table><br>
                    <div>
                    	
		                    <a href="/boot/teampage/NoticeInsertForm">
		                    <button class="primary-btnO4" type="button" style="margin-left:750px; padding:2px;">글작성</button>
		                    </a>
	                    
                    </div>
                       
                       <!-- 페이징 처리 -->
                    <div class="col-lg-12">
                     <div class="pagination__links">
                             <th:block th:if="${pageMaker.prev}">
                             <nobr><a th:href="${pageMaker.startPage -1 }">Previous</a></nobr>
                              </th:block>
                          
                          <nobr th:each="num : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}">
                          
                          <th:block th:if="${num == 0}">
                             
                          </th:block>
                          
                          <th:block th:if="${num != 0}">
                          <a th:href="${num}" th:text="${num}"></a>   
                          </th:block>
                          
                          </nobr>
                          
                          <th:block th:if="${pageMaker.next }">
                             <nobr><a th:href="${pageMaker.endPage +1 }">Next</a></nobr>
                          </th:block>      
                            </div>
                    </div>
                    <form id="actionForm" action="/boot/teampage/teampageNotice" method="get">
	                   <input type="hidden" name="pageNum" th:value="${pageMaker.cri.pageNum }">
	                   <input type="hidden" name="amount" th:value="${pageMaker.cri.amount }">
                    </form>
    
    
                    </div>
                    </div>
                    
            </div>


        </div>
   
</section>
    
    
    </div>
    <!-- Contact Section End -->

  


</html>