<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}" >
     <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/barfiller.css}">
    <link rel="stylesheet" th:href="@{/css/nowfont.css}">
    <link rel="stylesheet" th:href="@{/css/rockville.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
    <link rel="stylesheet" th:href="@{/TeamCss/teampagePlan.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    
    
    <script src='https://www.gstatic.com/charts/loader.js'></script>
    
</th:block>

    <!-- sidebar-->
   <div layout:fragment="content"> 
       
    <div style="background-color: #eee">
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <span>수익 대시보드</span>
                      
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
   

    

    <!-- About Section Begin -->
    <section class="about about--page spad">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-6">
                    <div class="about__text">
                        
                     <h1>팀관리</h1>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>  
   
    <!-- About Section End -->
   
<!-- About Section Begin -->
<section class="about about--page spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                 <!--카테고리-->  
                 <div class="blog__sidebar__item">
                    <div class="blog__sidebar__title">
                        <strong><h4>팀 관리</h4></strong>
                    </div>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/teampage/teampagePlan}"><h6>공연 일정</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/teampage/teamFundingResult}"><h6>펀딩 결과</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/teampage/teampageDash}"><h6>수익 대시보드</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/teampage/teampageNotice}"><h6>공지사항</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/teampage/teamPage}"><h6>팀관리</h6></a>
                        </div>
                    </a>

                      
                </div>
            </div>
            <!--사이드 끝-->

            <!--본문내용-->
            <div class="col-lg-9">
                <div class="about__text">
                    <div class="section-title" style=" margin-left: 100px;">
                        <h2 style="text-align:center">수익 대시보드</h2>
                    </div>
                    
                    <!-- Google chart Api -->
                    <div id="columnchart_material" style="width: 800px; min-height: 500px;"></div>
                   
                   
                    <br><br>
                    <div style="min-height:50px;">
                        <!--총수익, 펀딩수익, 티켓 수익-->
                        <th:block th:each="teamAllSum : ${FundingAllSum}">
                        	<input type="hidden" th:value="${teamAllSum.payPrice}" id="FundingAllSum"/>
                        </th:block>
                        <th:block th:each="teamSumByMonth : ${FundingListMonth}">
                        	<input type="hidden" th:value="${teamSumByMonth.payPrice}"  id="FundingListMonth"/>
                        </th:block>
                        <th:block th:each="ShowAllSum : ${ShowAllSum}">
                        	<input type="hidden" th:value="${ShowAllSum.payPrice}"  id="ShowAllSum"/>
                        </th:block>
                        <th:block th:each="ShowMonthSum : ${ShowMonthSum}">
                        	<input type="hidden" th:value="${ShowMonthSum.payPrice}"  id="ShowMonthSum"/>
                        </th:block>
						
						
						<table style="border-collapse: collapse; width: 100%;  text-align: center; border: 1px solid #444444;">
						  <tr>
						    <td>총 수익</td>
						    <td>펀딩수익</td>
						    <td>티켓수익</td>
						  </tr>
						  <br>
						  <tr>
						    <td id="total-sum"></td>
						    <td id="total-funding"></td>
						    <td id="total-show"></td>
						  </tr>
						</table>
						 
                    </div>
                  
                    <!--예매/취소-->

                </div>
            </div>


        </div>
    
</section>
   
    <script>
			    document.addEventListener('DOMContentLoaded', function() {
			    	//var showAllSum = Number(document.getElementById('ShowAllSum').value);
			    	
         	   const FundingAllSum = Number($('#FundingAllSum').val()) || 0;
    	       const FundingSumByMonth = Number($('#FundingListMonth').val()) || 0;
    	       const ShowAllSum = Number($('#ShowAllSum').val()) || 0;
    	       const ShowMonthSum = Number($('#ShowMonthSum').val()) || 0;
               const result = ShowAllSum + FundingAllSum;
			    	
			   document.getElementById('total-show').innerHTML = ShowAllSum+ '원';
			   document.getElementById('total-sum').innerHTML = result+ '원';
			   document.getElementById('total-funding').innerHTML = FundingAllSum+ '원';
			  
	           google.charts.load('current', {'packages':['bar']});
	           google.charts.setOnLoadCallback(function() {
	           drawChart(FundingAllSum, FundingSumByMonth, ShowAllSum, ShowMonthSum);
      });
      
   





			    });
			
        function drawChart(FundingAllSum, FundingSumByMonth,ShowAllSum,ShowMonthSum) {
        var data = google.visualization.arrayToDataTable([
          ['수익', '총 수익', '지난달 수익'],
          [' ', 0,0],
          [ '펀딩수익', FundingAllSum ,FundingSumByMonth],
          [' ', 0,0],
          ['공연수익', ShowAllSum, ShowMonthSum],
          [' ', 0,0]
        ]);


        var options = {
          chart: {
            title: '공연 수익',
            subtitle: '2023 펀딩, 공연 총 수익/ 지난달 수익',
          }
        };

        var chart = new google.charts.Bar(document.getElementById('columnchart_material'));
        chart.draw(data, google.charts.Bar.convertOptions(options));
		
      }


    
    </script>
    
    
    </div>
    <!-- Contact Section End -->

  


</html>