
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
	<!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
	<link rel="stylesheet"
		th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/css/barfiller.css}">
	<link rel="stylesheet" th:href="@{/css/nowfont.css}">
	<link rel="stylesheet" th:href="@{/css/rockville.css}">
	<link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
	<link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
	<link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/TeamCss/teampagePlan.css}">
	<link rel="stylesheet" th:href="@{/TeamCss/teamPageNoticeDetail.css}">
	
	
<!-- jQuery UI CDN -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
	<!-- jQuery UI CSS CDN -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
	<!-- codemirror CDN URL -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css" />
	<!-- TOAST UI Editor CDN URL(CSS) -->
	<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
	<!-- TOAST UI Editor CDN URL(JS) -->
	<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
	
</th:block>

<!-- sidebar-->
<div layout:fragment="content">

	<div style="background-color: #eee">
		<!-- Breadcrumb Begin -->
		<div class="breadcrumb-option">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb__links">
							<span>공지사항</span>

						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- About Section Begin -->
		<section class="about about--page spad">
			<div class="container">
				<div class="row">

					<div class="col-lg-6">
						<div class="about__text">

							<h1>공지관리</h1>

						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<!-- About Section Begin -->
	<section class="about about--page spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                 <!--카테고리-->  
                 <div class="blog__sidebar__item">
                    <div class="blog__sidebar__title">
                        <strong><h4>팀 관리</h4></strong>
                    </div>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/teampage/teampagePlan}"><h6>공연 일정</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/teampage/teamFundingResult}"><h6>펀딩 결과</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/teampage/teampageDash}"><h6>수익 대시보드</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/teampage/teampageNotice}"><h6>공지사항</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/teampage/teamPage}"><h6>팀관리</h6></a>
                        </div>
                    </a>

					</div>
				</div>
				<div class="col-lg-9">

					<!--상세내용-->
					<div style="margin-left: 50px;"
						th:each="detail : ${teamNoticeboard}">
						<input type="hidden" th:value="${detail.noticeNo}" name="NoticeNo"
							id="NoticeNo" /> <br>
						<div class="boardpage">
							<p class="ptag">글제목</p>
							<p th:text="${detail.noticeName}"></p>
						</div>
						<hr>
						<div class="boardpage">
							<p class="ptag">작성자</p>
							<p th:text="${detail.memNo}"></p>
						</div>
						<hr>
						<div class="boardpage">
							<p class="ptag">작성일자</p>
							<p style="margin-left: auto;" th:text="${detail.noticeDate}">2023-03-14</p>
						</div>
						<hr>
						<!--notice에 조회수 컬럼 추가-->
						<div class="boardpage">
							<p class="ptag">조회수</p>
							<p style="margin-left: auto;" th:text="${detail.viewCount}">0</p>
						</div>
						<hr>
						<br>
						<div class="boardpage" style="height: 200px;">

							<p class="ptag">내용</p>
							<div id="viewer"></div>
							<!-- <p th:text="${detail.noticeContent}">상세페이지 내용입니다.</p> -->
							<textarea id="viewers" class="hidden" style="display: none;">[[${detail.noticeContent}]]</textarea>

						</div>
						<hr>
						<div style="float:right;">
							<button class="primary-btns" id="buttonList">목록</button>
							<th:block th:if="${session.memVO.memNo != detail.memNo}">
								<button class="primary-btns" id="reportBtn">신고</button>
							</th:block>
							<th:block th:if="${session.memVO.memNo == detail.memNo}">
								<a
									th:href="@{/teampage/noticeModForm(noticeNo=${detail.noticeNo}, memNo=${detail.memNo}, noticeName=${detail.noticeName}, noticeContent=${detail.noticeContent})}">
									<button id="btn" class="primary-btns" type="submit">수정</button>
								</a> <br>
							</th:block>
						</div><br><br>
						<div id="reportModal" class="modal"
							style="text-align: center; margin: 0 auto;">
							<div class="modal-content">
								<h2>신고하기</h2>
								<p>신고 내용을 입력해주세요.</p>
								<!--  <form role="form" th:action="@{/team/reportPractice}" method="POST">-->
								<input type="hidden" th:value="${detail.noticeNo}"
									name="NoticeNo" id="NoticeNo" /> 
								<input type="hidden"
									th:value="${detail.memNo}" name="memNo" id="memNo" /> 
								<label class="label"><input
									type="radio" class="reportReason" name="postReportReason"
									style="display: inline-block;" value="부적절한 내용">부적절한 내용</label> 
								<label class="label"><input
									type="radio" class="reportReason" name="postReportReason"
									style="display: inline-block;" value="음란한 내용">음란한 내용</label> 
								<label class="label"><input
									type="radio" class="reportReason" name="postReportReason"
									style="display: inline-block;" value="폭력적인 내용">폭력적인 내용</label> 
								<label class="label"><input
									type="radio" class="reportReason" name="postReportReason"
									style="display: inline-block;" value="광고">광고</label>
								<textarea name="reportContent" id="postReportContent" rows="4"
									cols="50"></textarea>
								<div>
									<button type="submit" id="reportInModal">신고하기</button>
									<button type="button" id="reportClose">닫기</button>
								</div>

							</div>
						</div>

					</div>
					<script>
					
					
					//없음
					
					
						//신고 ajax
						$('#reportInModal').on('click', function(){
	                		var noticeNo = $('#NoticeNo').val();
	                		var memNo = $('#memNo').val();
	                		var postReportContent = $('#postReportContent').val();
	                		var postReportReason = $('input.reportReason:checked').val();

	                		$.ajax({
	                             type: "post",
	                             url: "/boot/team/reportTeamNotice",
	                             data: {	"noticeNo" : noticeNo,
	                             			"memNo" : memNo,
	                             			"postReportReason" : postReportReason,
	                             		 	"postReportContent" : postReportContent},
	                             success: function(){ 
	                            	 alert('신고완료되었습니다.')},
	                             error : function(error){
	                            	 console.log(error);
	                             }
	                           });
	                		 
	                		 $('#reportModal').css('display', 'none');
	                	})
	                	
	                	
                	
						$('#buttonList').on('click', function() {
							location.href = '/boot/teampage/teampageNotice';
						})
						
						   
	                    $('#reportBtn').on('click', function(){
	                    	 $('#reportModal').css('display', 'block');
	                    	 $('.reportViolence').css('display', 'block');
	                    	 $('.reportObscenity').css('display', 'block');
	                    	 $('.reportAdvertisement').css('display', 'block');
	                    })
	                    
	                    $('#reportClose').on('click', function(){
	                    	 $('#reportModal').css('display', 'none');
	                    })
					</script>

					<!--댓글

					<div id="Reply" th:data-no="${teamNoticeboard.noticeNo}"></div>-->

				</div>
			</div>
		</div>
	</section>
	
	
	<script src="https://uicdn.toast.com/editor/latest/toastui-editor-viewer.js"></script>
	<script>
	$(document).ready(
			function() {
				var replyNo = $('#Reply').data("no");
				$("#Reply").load('/boot/teampage/reply?noticeNo=' + replyNo,
						function() {
							notice(1, replyNo);
						})
			})// $(document).ready 끝
			


			const editor = new toastui.Editor({
				el : document.querySelector('#viewer'),
				initialEditType : "markdown",
				initialValue : document.querySelector("#viewers").value
			});

		// paging 관련.
		var actionForm = $('#actionForm');
		var currentPageNum = $('.currentPageNum').val();


	</script>



</div>
<!-- Contact Section End -->




</html>