<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}" >
     <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/barfiller.css}">
    <link rel="stylesheet" th:href="@{/css/nowfont.css}">
    <link rel="stylesheet" th:href="@{/css/rockville.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/TeamCss/teampagePlan.css}">
    
    <link rel="stylesheet" th:href="@{/TeamCss/teamhistory.css}">
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="https://kit.fontawesome.com/ada6fecb1f.js" crossorigin="anonymous"></script>

    <script src="https://uicdn.toast.com/editor/latest/i18n/ko-kr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>   
    
    <style>
        .result-button {
            background-color: #5c00ce;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 10px;
            color: #ffffff;
            }

        .table td{
            vertical-align: middle;
        }

        p{
            text-align: center;
        }


        /*모달*/
        .modal {
            display: none; 
            position: fixed; 
            z-index: 1; 
            left: 0;
            top: 0;
            width: 100%; 
            height: 100%; 
            overflow: auto; 
            background-color: rgba(0,0,0,0.4); 
        }

        /* 모달 박스 내용 */
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto; 
            padding: 20px;
            border: 1px solid #888;
            width: 80%; 
        }

        /* 닫기 버튼 */
        .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        }

        .close:hover,
        .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
        }

    </style>
</th:block>

	
    <!-- sidebar-->
   <div layout:fragment="content"> 
    
      <div style="background-color: #eee">
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="#"><i class="fa fa-home"></i> <p th:text="${teamName}"></p> </a>
                        <span>팀이력/ 활동내역</span>
                        <!--<p th:each="empInfo : ${teamMemberList.teamName}"></p>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
   

    

    <!-- About Section Begin -->
    <section class="about about--page spad">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-6">
                    <div class="about__text">
                        
                     <h1>팀관리</h1>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>  
    
    <!-- About Section End -->
   
<!-- About Section Begin -->
<section class="about about--page spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                 <!--카테고리-->  
                  <div class="blog__sidebar__item">
                    <div class="blog__sidebar__title">
                        <strong><h4>팀 관리</h4></strong>
                    </div>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/teampage/teampagePlan}"><h6>공연 일정</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/teampage/teamFundingResult}"><h6>펀딩 결과</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/teampage/teampageDash}"><h6>수익 대시보드</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/teampage/teampageNotice}"><h6>공지사항</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/teampage/teamPage}"><h6>팀관리</h6></a>
                        </div>
                    </a>

                      
                </div>
            </div>
            <!--사이드 끝-->

            <!--본문내용-->
            <div class="col-lg-9">
                 <!-- 글 수정  -->
                <div class="contact__form">
				<div class="col-lg-12">
					<div class="section-title">
						<h2 style="">공지사항</h2>
						<h1></h1><br>
					</div>
				</div>
				
				
				<form role="form" th:action="@{/teampage/noticeMod}" method="POST">
					<div class="input__list">
						<input name="noticeNo" class="input" type="hidden" th:value="${noticeNo}">
						<label class="label1">제목</label> 
						<input name="noticeName" class="input" type="text" th:value="${noticeName}"><br>
						<div id="editor"></div>
						
					</div>
						<input id="content" type="hidden" th:value="${noticeContent}">
					<div style="text-align: center;">
						<a href="/boot/team/teamNotice" class="primary-btn border-btn2">목록으로</a>
						<button id="btn" class="primary-btns" type="submit">수정</button>
						<a class="primary-btns" th:href="@{/teampage/teampageNoticeDelete(noticeNo=${noticeNo})}">삭제</a>
					</div>
				</form>
			    </div>
                
            </div>
        </div>
    </div>
</section>

   <script
		src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
     <script>
     const onUploadImage = async (blob, callback) => {
         const formData = new FormData();
         formData.append("image", blob);
         formData.append("uri", window.location.pathname);
         
	      $.ajax({
           type: "post",
           url: "/boot/page/image",
           async: true,
           data: formData,
           processData: false,
           contentType: false,
           success: function (data) {
             imageURL = data;
             callback(imageURL, "image");
             console.log(imageURL)
           },
           error: function (request, status, error) {
             alert(request + ", " + status + ", " + error);
           },
         });
       };

       const editor = new toastui.Editor({
         el: document.querySelector("#editor"),
         height: "500px",
         initialEditType: "wysiwyg",
         placeholder: "내용을 입력해주세요",
         language: "ko-kr",
         initialValue: document.querySelector("#content").value,
         hooks: {
           addImageBlobHook: onUploadImage
         }
       });
       
       
       var formObj = $('form[role="form"]')
    	$('button[type="submit"]').on('click',function(e){
        	e.preventDefault()//기본기능 차단
        	console.log('submit click')
			console.log(editor.getHTML())
        var str = "<input type='hidden' name='noticeContent' value='"+editor.getHTML()+"'>"
        formObj.append(str).submit()
    })
       
     </script>
    </div>
    <!-- Contact Section End -->


</html>