<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
	<!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
	<link rel="stylesheet"
		th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/css/barfiller.css}">
	<link rel="stylesheet" th:href="@{/css/nowfont.css}">
	<link rel="stylesheet" th:href="@{/css/rockville.css}">
	<link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
	<link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
	<link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/TeamCss/teampagePlan.css}">
	<link rel="stylesheet" th:href="@{/TeamCss/teamPageMod.css}">
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
	<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
	-->
	
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
	
</th:block>


<!-- sidebar-->
<div layout:fragment="content">
	<div style="background-color: #eee">
		<!-- About Section Begin -->
		<section class="about about--page spad">
			<div class="container">
				<div class="row">

					<div class="col-lg-6">
						<div class="about__text">

							<h1>팀관리</h1>

						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!-- About Section End -->

	<!-- About Section Begin -->
	<section class="about about--page spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<!--카테고리-->
					<div class="blog__sidebar__item">
						<div class="blog__sidebar__title">
							<strong><h4>팀 관리</h4></strong>
						</div>
						<a href="#" class="recent__item">
							<div class="recent__item__text">
								<a th:href="@{/teampage/teampagePlan}"><h6>공연 일정</h6></a>
							</div>
						</a> <a href="#" class="recent__item">
							<div class="recent__item__text">
								<a th:href="@{/teampage/teamFundingResult}"><h6>펀딩 결과</h6></a>
							</div>
						</a> <a href="#" class="recent__item">
							<div class="recent__item__text">
								<a th:href="@{/teampage/teampageDash}"><h6>수익 대시보드</h6></a>
							</div>
						</a> <a href="#" class="recent__item">
							<div class="recent__item__text">
								<a th:href="@{/teampage/teampageNotice}"><h6>공지사항</h6></a>
							</div>
						</a> <a href="#" class="recent__item">
							<div class="recent__item__text">
								<a th:href="@{/teampage/teamPage}"><h6>팀관리</h6></a>
							</div>
						</a>

					</div>
				</div>
				<!--사이드 끝-->

				<!--본문내용-->
				<div class="col-lg-9">
					<div class="about__text">
						<div class="section-title">
							<h2 style="text-align: center;">팀관리</h2>
						</div>

						<div class="container">
							
							<form th:action="@{/teampage/testI}" method="post" enctype="multipart/form-data">
								<div th:each="team : ${teamNotice}">
								<div class="form-group" >
									<label for="profile-image">프로필 이미지:</label> <input type="file"
										id="profile-img" name="teamImage" onchange="previewImage()" class="selectImage">

									<div class="image-container" >
										<img id="preview-img" th:src="|/boot/${team.teamImage}|" >
									</div>
								</div>
								
								<input type="hidden" th:id="TeamteamNo" name="teamNo" th:value="${team.teamNo}"/>
								
								<div class="form-group">
									<label for="name">팀이름 : [[${team.teamName}]]</label> 
								</div>
								<div class="form-group">
									<label for="memberName">멤버 :
									

									</label> 
								  <ul th:each="member : ${memberList}">
									<th:block th:if="${session.memVO.memRating == 'MR04'}">
										 <li th:if="${member.memRating == '팀리더'}">
											<span th:text="${member.memName}+' 팀리더'"></span>
										  </li>
										 <li th:if="${member.memRating != '팀리더'}">
											<input type="hidden" th:id="memNo" th:value="${member.memNo}"/>
											<span th:text="${member.memName}"></span>
											<!--  <button type="button" class="exitTeam" th:onclick="'TeamOut(' + ${member.memNo} + ')'" >탈퇴</button>-->
										   <button type="button" class="exitTeam" th:onclick="'TeamOut1(' + ${member.memNo} + ')'" >탈퇴</button>
										   
										  </li>
										 
									</th:block>
									<th:block th:if="${session.memVO.memRating != 'MR04'}">
										<li th:if="${member.memRating == '팀리더'}">
											<span th:text="${member.memName}+' 팀리더'"></span>
										</li>
										<li th:if="${member.memRating != '팀리더'}">
											<span th:text="${member.memName}"></span>
										  </li>
									</th:block>

								  </ul>
								</div>
								
								
								<div class="form-group">
									<label for="teamTarget">목표:</label> <input type="text" th:id="TeamteamTarget"  name="teamTarget"
										th:value="${team.teamTarget}">
								</div>
								<div class="form-group">
									<label for="teamSpecificity">팀소개:</label> <input type="text" name="teamSpecificity"
										th:id="TeamteamSpecificity" th:value="${team.teamSpecificity}">
								</div>
								<div class="form-group">
									<label for="teamStart">팀 결성일:  [[${#dates.format(team.teamStart, 'yyyy-MM-dd')}]]</label> 
								</div>
								<!-- =================================================================== 
								<div class="form-group" th:each="member : ${memberList}">
									<label for="teamStart">팀원</label> 
									<input type="text" id="memberName" name="teamMemberName" >
									
										
								</div>-->
								<div style="display:block;justify-content:center;align-items:center;">
									<button class="primary-btnO4" type="button" style=" padding:2px;">돌아가기</button>
					    			<button class="primary-btnO4" type="submit" style=" padding:2px;">확인</button>
				    			</div>
				    			</div>
							</form>
						</div>



						<!-- Modal -->
						<div class="modal fade" id="staticBackdrop">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="staticBackdropLabel">제목</h5>
									</div>
									<div class="modal-body">내용</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-b">확인</button>
										<button type="button" class="btn btn-c" id="close">취소</button>
									</div>
								</div>
							</div>
						</div>

						<div id="myModal" class="modal">
							<div class="modal-content">
								<span class="close">&times;</span>
								<h2 style="text-align: center;">펀딩 결과</h2>
								<br> <br>
								<p>요청하신 펀딩은 "승인"되었습니다.</p>
								<p>요청하신 펀딩은 "승인 거절"되었습니다.</p>
								<button type="button" id="gotofundingpage">펀딩페이지 이동</button>
								<button type="button" id="accmodal">확인</button>

							</div>
						</div>


					</div>

				</div>
			</div>


		</div>

	</section>

	
	<script th:src="@{/Teamjs/teamPageMod.js}" th:inline="javascript"></script>
</div>
<!-- Contact Section End -->




</html>