<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}" >
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
   <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
   <link rel="stylesheet" th:href="@{/css/barfiller.css}">
   <link rel="stylesheet" th:href="@{/css/nowfont.css}">
   <link rel="stylesheet" th:href="@{/css/rockville.css}">
   <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
   <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
   <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
   <link rel="stylesheet" th:href="@{/css/style.css}">
   <link rel="stylesheet" th:href="@{/TeamCss/teamhistory.css}">
   <link rel="stylesheet" th:href="@{/TeamCss/teampagePlan.css}">
    
   

    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js'></script>
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
      


</th:block>

	
	
    <!-- sidebar-->
   <div layout:fragment="content"> 
    
      
    <div style="background-color: #eee;">
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="#"><i class="fa fa-home"></i> <p th:text="${teamName}"></p> </a>
                        <span>팀이력/ 활동내역</span>
                        <!--<p th:each="empInfo : ${teamMemberList.teamName}"></p>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
   
   
    <!-- About Section Begin -->
    <section class="about about--page spad">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-6">
                    <div class="about__text">
                        
                     <h1>팀관리</h1>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>  
    
    
<!-- About Section Begin -->
<section class="about about--page spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                 <!--카테고리-->  
                  <div class="blog__sidebar__item">
                    <div class="blog__sidebar__title">
                        <strong><h4>팀 관리</h4></strong>
                    </div>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/teampage/teampagePlan}"><h6>공연 일정</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/teampage/teamFundingResult}"><h6>펀딩 결과</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/teampage/teampageDash}"><h6>수익 대시보드</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/teampage/teampageNotice}"><h6>공지사항</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/teampage/teamPage}"><h6>팀관리</h6></a>
                        </div>
                    </a>

                      
                </div>
            </div>
            <!--사이드 끝-->

            <!--본문내용-->
            <div class="col-lg-9">
                <div class="about__text">
                    <div class="section-title" style="text-align: center;">
                        <h2>공연일정</h2>
                    </div>
                    
                    <!--달력 공간-->
                    <!-- <div id='external-events' style="float:left; width:15%; padding-right: 30px; margin-top: 100px;">
                        <p>
                          <strong>공연 일정을 배정하세요</strong>
                        </p>
                    
                        <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
                          <div class='fc-event-main'>공연 1</div>
                        </div>
                        <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
                          <div class='fc-event-main'>공연 2</div>
                        </div>
                        <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
                          <div class='fc-event-main'>공연 3</div>
                        </div>
                        <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
                          <div class='fc-event-main'>공연 4</div>
                        </div>
                        <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
                          <div class='fc-event-main'>공연 5</div>
                        </div>
                    
                        <p>
                          <input type='checkbox' id='drop-remove' />
                          <label for='drop-remove'>드래그 앤 드롭후 제거</label>
                        </p>
                      </div>
                 -->
                      <div style="margin-left: 50px; width:90% ">
                        <!-- <div style="height:30px; text-align: center; font-size: 35px; color:blue; margin-bottom: 30px; font-weight: bold;">
                            <div style="width:60%; float:left; text-align: right;">공연관리현황</div>    
                            <div style="width: 40%; float: left; text-align: right;">
                                <button style="width:120px; height: 40px; background-color: blue; color:white; vertical-align: middle;
                                font-size: 17px; cursor: pointer;" onclick="javascript:allSave();">저장</button>
                            </div>
                        </div> -->
                        <div id='calendar' ></div><br><br>
                        <button type="submit" class="site-btn" style="width: 150px; float:right;"
						id="teamplan" th:onclick="">공연등록</button>
                      </div>
                      <br><br><br>
                 

                    <!--D-day 공연예정-->
                    <div>
                        <p style="height: 40px; padding: 5px; width: 100%; background-color: #eee;">D-Day 공연</p><br>
                        <th:block th:if="${DdayPlan} != null">
                            <div style="margin-left: 20px;" class="todayPlan" th:each="plan : ${DdayPlan}"><hr>
                                <p th:text="'공연 : '+ ${plan.showName}"></p>
                                <p th:text="'날짜 : ' + ${#dates.format(plan.showDate, 'yyyy-MM-dd')}"></p>
                                <p th:text="'공연종류 : ' + ${plan.showType}"></p>
            
                            </div><br>
                        </th:block>

                        <th:block th:if="${DdayPlan} == null">
                            <div style="margin-left: 20px; display:none;" class="NonePlan">
                                <h3 style="text-align: center;"> 공연일정이 없습니다.</h3>
                            </div>
                        </th:block>
                    </div><br><br>

                    <!--공연 예정-->
                    <div>
                        <p style="height: 40px; padding: 5px; width: 100%; background-color: #eee;">공연예정</p>
                       
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>공연이름</td>
                                        <td>공연날짜</td>
                                        <td>공연종류</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="plan : ${Plan}">
                                        <th:block  th:if="plan != null">
                                            <td th:text="${plan.showName}"></td>
                                            <td th:text="${#dates.format(plan.showDate, 'yyyy-MM-dd')}"></td>
                                            <td th:text="${plan.showType}"></td>
                                        </th:block>
                                        <th:block th:if="${Plan} == null">
                                            <td>공연 예정인 일정이 없습니다.</td>
                                        </th:block>   
                                    </tr>
                                </tbody>
                            </table>
                        
                           
                    </div>


                </div>
            </div>


        </div>
    </div>
	</section>

    <script th:src="@{/Teamjs/teampagePlan22.js}" th:inline="javascript"></script>
    </div>
    <!-- Contact Section End -->

  


</html>