<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    <link rel="stylesheet"
        th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/barfiller.css}">
    <link rel="stylesheet" th:href="@{/css/nowfont.css}">
    <link rel="stylesheet" th:href="@{/css/rockville.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/funding.css}">
</th:block>
<style>

</style>


<!-- Content -->
<div layout:fragment="content">

    <section class="countdown countdown--page spad set-bg" data-setbg="../img/blackpink.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="countdown__text">
                        <h1>BlackPink2023</h1>
                        <h4>Music festival start in</h4>
                    </div>
                   <!-- <div class="countdown__timer" id="countdown-time">
                        <div class="countdown__item">
                            <span>20</span>
                            <p>days</p>
                        </div>
                        <div class="countdown__item">
                            <span>45</span>
                            <p>hours</p>
                        </div>
                        <div class="countdown__item">
                            <span>18</span>
                            <p>minutes</p>
                        </div>
                        <div class="countdown__item">
                            <span>09</span>
                            <p>seconds</p>
                        </div>
                    </div>
                    <div class="buy__tickets">
                        <a href="#" class="primary-btn">Buy Funding</a>
                    </div>-->
                </div>
            </div>
        </div>
    </section>
    <!-- Countdown Section End -->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="#"><i class="fa fa-home"></i> Home</a>
                        <span>Funding</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
  
  
        <div class="container">
            <div class="section-title center-title"  style="margin:50px">
                            <h2  style="margin-left: 120px;">펀딩목록</h2>
                            <h1>Funding List</h1>
            </div>
            <button type="submit" th:onclick="|location.href='@{/funding/fundingList}'|"class="fundingBtn">전체목록</button>
            <button type="submit" th:onclick="|location.href='@{/funding/fundingDrama}'|"class="fundingBtn">연극</button>
            <button type="submit" th:onclick="|location.href='@{/funding/fundingMusical}'|" class="fundingBtn">뮤지컬</button>
            <button type="submit" th:onclick="|location.href='@{/funding/fundingKpop}'|" class="fundingBtn">KPOP</button>
            <button type="submit" th:onclick="|location.href='@{/funding/fundingDance}'|" class="fundingBtn">댄스</button>

            <form action="/boot/funding/fundingDrama" id="searchForm" method="get" style="margin-left: 700px; margin-bottom: 20px;">
                
                
                <select name="type">
                    <option value="">-선택해주세요-</option>
                   <th:block th:if="${pageMaker.cri.type == 'N'}">
                   <option value="N" selected>펀딩명</option>
                   </th:block>
                   <th:block th:unless="${pageMaker.cri.type == 'N'}">
                   <option value="N" >펀딩명</option>
                   </th:block>
                   
                    <th:block th:if="${pageMaker.cri.type == 'P'}">
                   <option value="P" selected>아티스트명</option>
                   </th:block>
                   <th:block th:unless="${pageMaker.cri.type == 'P'}">
                   <option value="P" >아티스트명</option>
                   </th:block>
                </select>
                <input type="text" name="keyword" th:value="${pageMaker.cri.keyword}" >
                <input type="hidden" name="pageNum" th:value='${pageMaker.cri.pageNum}'>
                <input type="hidden" name="amount" th:value="${pageMaker.cri.amount}">
                <button class="btn btn-primary" value="">Search</button>
             </form>
        

        <!--전체목록 -->
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6" th:each="fundingInfo : ${fundingDrama}">
                <div class="discography__item">
                    <div class="discography__item__pic">
                        <form th:action="@{/funding/fundingDetails}" method="GET">
                            <button class="btn btn-default " type="submit">
                                    <img th:src="|/boot/${fundingInfo.fundingImage}|" style="width:225px; height: 225px;">
                                <input type="hidden" th:name="fundingNo" th:value="${fundingInfo.fundingNo}"/>
                                <input type="hidden" th:name="memNo" th:value="${session.memVO.memNo}"/>
                            </button>
                        </form>
                    </div>
                    <div class="discography__item__text">
                        <p  style="font-weight: bold; font-size: 14px; margin-bottom: 5px;" th:text="${fundingInfo.fundingGenre}"></p>
                        <p  style="font-weight: bold; font-size: 14px; margin-bottom: 5px;"th:text="${'목표금액 '+fundingInfo.fundingPrice}"></p>
                        <span style="color: black; font-size: 13px;" th:text="${'현재금액 '}"></span><span th:text="${fundingInfo.fundingCPrice}"></span>
                        <h4 style="font-weight: bold;" th:text="${fundingInfo.fundingName}"></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--전체목록 -->

    <!-- 페이징-->
    <div class="col-lg-12">
        <div class="pagination__links">
            <th:block th:if="${pageMaker.prev}">
                <nobr><a th:href="${pageMaker.startPage -1 }">Prev</a></nobr>
            </th:block>

            <nobr th:each="num : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
                <th:block th:if="${num == 0}"></th:block>
             
                <th:block th:if="${num != 0}"><a th:href="${num}" th:text="${num}"></a></th:block>
             </nobr>

             <th:block th:if="${pageMaker.next }">
                <nobr><a th:href="${pageMaker.endPage +1 }">Next</a></nobr>
             </th:block>      
        </div>
    </div>
       

        <form id="actionForm" action="/boot/funding/fundingDrama" method="get">
            <input type="hidden" name="pageNum" th:value="${pageMaker.cri.pageNum }">
            <input type="hidden" name="amount" th:value="${pageMaker.cri.amount }">
            <input type="hidden" name="type" th:value="${pageMaker.cri.type }">
            <input type="hidden" name="keyword" th:value="${pageMaker.cri.keyword }">
         </form>
   </div>


    <!--페이징-->








</div>

</html>