 <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}">

    <th:block layout:fragment="css">
        <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
        <link rel="stylesheet"
            th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
        <link rel="stylesheet" th:href="@{/css/barfiller.css}">
        <link rel="stylesheet" th:href="@{/css/nowfont.css}">
        <link rel="stylesheet" th:href="@{/css/rockville.css}">
        <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
        <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
        <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="stylesheet" th:href="@{/css/funding.css}">

            
    <!-- jQuery UI CDN -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
	<!-- jQuery UI CSS CDN -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
	<!-- codemirror CDN URL -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css" />
	<!-- TOAST UI Editor CDN URL(CSS) -->
	<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
	<!-- TOAST UI Editor CDN URL(JS) -->
	<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    
    <style>
        #preview-img {
	width: 600px; 
	height:500px;
	object-fit: cover; /* 이미지 비율 유지하며 크기 맞추기 */
	object-position: center;
	display: block; /* 이미지를 블록 요소로 만들어 가운데 정렬 가능하게 함 */
	margin: 0 auto; /* 가운데 정렬 */
}
.image-container {
	width: 600px; 
	height:500px;
	border-radius: 20%; /* 동그라미 모양으로 만들기 */
	overflow: hidden; /* 이미지가 요소를 벗어나는 것을 방지 */
}

.image-container img {
	width: 100%; /* 이미지 요소에 width를 100% 지정하여 크기 조정 */
	height: auto; /* 비율에 맞게 자동 조정 */
	display: block; /* 가운데 정렬을 위한 필수 속성 */
	margin: auto; /* 가운데 정렬 */
}

#editor {
        /* border : 1px solid; */
        width: 70%;
        text-align: left;
        margin: 0 ;
    }
    /* editor content 받을 div태그 스타일 추가. */
    #contents {
        width: 50%;
        height: 100px;
        margin: 30px auto;
        border: 1px solid;
    }

    #accordion {
        width: 70%;
        margin: 0 auto;
    }

    </style>
</th:block>


    <!-- Content -->
    <div layout:fragment="content">
        <form th:action="@{/funding/insertFunding}" role="form" method="post"  enctype="multipart/form-data" >
             <div class="breadcrumb-option">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrumb__links">
                                <a href="#"><i class="fa fa-home"></i> Home</a>
                                <span>펀딩신청</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Breadcrumb End -->



            <section class="discography spad">
                <div class="container">
                    <div class="contact__form">
                        <div class="col-lg-12">
                            <div class="section-title center-title" style="margin:50px">
                                <h2>펀딩신청하기</h2>
                                <h1>Funding Insert</h1>
                            </div>
                        </div>
                        <form>
                            <div class="input__list">
                                <input type="hidden" name="memNo" th:value="${session.memVO.memNo }">
                                <input type="hidden" name="teamNo" th:value="${session.memVO.teamNo }">
                                <label class="label1">장르선택</label>
                                    
                                    <input type="radio" name="fundingGenre" value="G01">연극
                                    <input type="radio" name="fundingGenre" value="G02">뮤지컬
                                    <input type="radio" name="fundingGenre" value="G03">KPOP
                                    <input type="radio" name="fundingGenre" value="G04">댄스
                                <br>
                                <label class="label1">펀딩이름</label>
                                <input name="fundingName" type="text"
                                style="width: calc(58% - 20px); height: 40px; margin:10px"><br>
                                <label class="label1">신청자명</label>
                                <input name="fundingArtist" type="text"
                                style="width: calc(58% - 20px); height: 40px; margin:10px"><br>
                                <label class="label1">펀딩기간</label>
                                <input class="input3" name="fundingStart" type="date"
                                        style="width: calc(28% - 18px); height: 40px; margin:10px "> ~ 
                                    <input class="input3"name="fundingEnd" type="date"
                                         style="width: calc(28% - 18px); height: 40px; margin:10px"><br>
                                <label class="label1">목표금액</label>
                                <input name="fundingPrice" type="text"
                                    style="width: calc(58% - 20px); height: 40px; margin:10px"><br>
                                <label class="label1">상세설명</label>
                                    <div id="editor" style="width: 800px;"></div>
                                   
                                <div class="form-group">
                                    <label class="label1">대표이미지</label>
                                        <input type="file" id="profile-img" name="fundingImage" onchange="previewImage()" class="selectImage">
                                        <div class="image-container">
                                            <img id="preview-img" src="|/boot/${funding.fundingImage}|" >
                                        </div>
								</div>
                            </div>

                            <button class="primary-btns2" type="submit" style="margin-left: 660px;">등록</button>
                        </form>
<script>
    
    function previewImage() {
        var preview = document.getElementById('preview');
        var file = document.getElementById('profile-img').files[0];
        var reader = new FileReader();


        if (file) {
            reader.readAsDataURL(file);
        } else {
            preview.src = "";
        }
    }

    var profileImgInput = document.getElementById('profile-img');
    var previewImg = document.getElementById('preview-img');

    profileImgInput.addEventListener('change', function(event) {
        var file = event.target.files[0];
        var reader = new FileReader();

        reader.addEventListener('load', function() {
            previewImg.src = reader.result;
            previewImg.style.display = 'block';
        });

        if (file) {
            reader.readAsDataURL(file);
        }
    });

</script>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script>
const onUploadImage = async (blob, callback) => {
const formData = new FormData();
formData.append("image", blob);
formData.append("uri", window.location.pathname);
    
        $.ajax({
        type: "post",
        url: "/boot/page/image",
        async: true,
        data: formData,
        processData: false,
        contentType: false,
        success: function (data) {
        imageURL = data;
        callback(imageURL, "image");
        console.log(imageURL)
        },
        error: function (request, status, error) {
        alert(request + ", " + status + ", " + error);
        },
    });
    };

    const editor = new toastui.Editor({
    el: document.querySelector("#editor"),
    height: "500px",
    initialEditType: "wysiwyg",
    placeholder: "내용을 입력해주세요",
    language: "ko-kr",
    hooks: {
        addImageBlobHook: onUploadImage
    }
    });
    
    
    var formObj = $('form[role="form"]')
    $('button[type="submit"]').on('click',function(e){
        e.preventDefault()//기본기능 차단
        console.log('submit click')
        console.log(editor.getHTML())
    var str = "<input type='hidden' name='fundingContent' value='"+editor.getHTML()+"'>"
    formObj.append(str).submit()
})
                
                            
</script>
                       
                
                               
            </div>
            </section>
        </form>     
    </div>
</html>

   