<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
<!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
<link rel="stylesheet"
    th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/css/barfiller.css}">
<link rel="stylesheet" th:href="@{/css/nowfont.css}">
<link rel="stylesheet" th:href="@{/css/rockville.css}">
<link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
<link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
<link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/funding.css}">
</th:block>
<style>
element.style {
    width: 200px;
    height: 40px;
    margin: 10px;
    padding: 10px;
}
.select {
    padding: 15px 10px;
}
.select input[type=radio]{
    display: none;
}
.select input[type=radio]+label{
    padding-top: 5px;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #333;
    line-height: 24px;
    text-align: center;
    font-weight:bold;
    font-size:13px;
}
.select input[type=radio]+label{
    background-color: #fff;
    color: #333;
}
.select input[type=radio]:checked+label{
    background-color: #333;
    color: #fff;
    padding: 10px;
}
.jjimDiv {
        overflow: hidden;
    }

</style>
<!-- Content -->
<div layout:fragment="content">

        <!-- Breadcrumb Begin -->
        <div class="breadcrumb-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb__links">
                            <a href="/page/index"><i class="fa fa-home"></i> Home</a>
                            <a href="/funding/fundingList">findingList</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->
    
        <!-- Blog Details Section Begin -->
        <section class="blog-details spad">
           
            <input type="hidden" th:value="${session.memVO.memNo}" id="memNo">
           
            

            <div class="container">
                <div class="row">

                    <!--본문-->
                    <div class="col-lg-8">
                        <div class="blog__details__content">
                            <div class="blog__details__item">
                                <div class="blog__details__item__pic set-bg">
                                        <img th:src="|/boot/${funding.fundingImage}|"style="width:750px; height:500px;">
                                </div>
                                <div class="blog__details__item__text">
                                    <p th:text="${funding.fundingNo}" id="fundingNo"></p>
                                    <h3 th:text="${funding.fundingName}" id="fundingName"></h3>
                                    <div th:if="${session.memVO != null}" class="jjimDiv">
                                        <form th:action="@{/funding/insertFundingJJim}" class="jjimForm" method="POST" th:if="${jjim == null}" style="margin-left: 600px;" >
                                            <input type="submit" class="primary-btnO5" value="찜하기">
                                            <input type="hidden" th:name="fundingNo" id="fundingNo" th:value="${funding.fundingNo}">
                                            <input type="hidden" th:name="memNo"  id="memNo" th:value="${session.memVO.memNo}" >
                                        </form>
                                        <p th:text ="${getJJim}"></p>
                                        <form th:action="@{/funding/fundingJJimCancel}" class="jjimForm" method="POST" th:if="${jjim != null}"  style="margin-left: 600px;" >
                                            <input type="submit" class="primary-btnO5" value="찜취소" >
                                            <input type="hidden" th:name="fundingNo" id="fundingNo" th:value="${funding.fundingNo}">
                                            <input type="hidden" th:name="memNo"  id="memNo" th:value="${session.memVO.memNo}" >
                                        </form>
                                </div>   
                                  </div>
                                    <div class="blog__details__item__widget">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <ul>       
                                                    <li>By <h6 th:text="${funding.fundingArtist}"><h6></li>
                                                    <li th:text="${#dates.format(funding.fundingDay,'yyyy년MM월dd일')}" id="fundingDay"></li>
                                                </ul>
                                                
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog__details__desc">
                                <div class="entry-content">
                                <div id="viewer"></div>
                                     <textarea id="viewers" class="hidden" style="display : none;">[[${funding.fundingContent}]]</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--본문끝-->

                    <!--사이드-->
                    <div class="col-lg-4">
                        <div class="blog__sidebar" style="width: 320px;">
                            <div class="blog__sidebar__item">
                                <div class="blog__sidebar__title">
                                    <h4>[[${funding.fundingName}]]</h4>
                                </div>
                                <div style="margin-bottom: 25px; text-align:left;" class="funding">
                                    <h6 style="color : rgb(22, 22, 113);font-weight:bold ">아티스트명</h6>
                                    <p th:text="${funding.fundingArtist}" style="margin-left: 50px;"  id="fundingArtist"></p>
                                   
                                    <h6 style="color : rgb(22, 22, 113); font-weight:bold">펀딩시작일</h6>
                                    <p th:text="${#dates.format(funding.fundingStart, 'yyyy년MM월dd일')}" style="margin-left: 50px;"></p>

                                    <h6  style="color : rgb(22, 22, 113); font-weight:bold">펀딩종료일</h6>
                                    <p th:text="${#dates.format(funding.fundingEnd, 'yyyy년MM월dd일')}" style="margin-left: 50px;"></p>

                                    <h6  style="color : rgb(22, 22, 113); font-weight:bold">목표금액</h6>
                                    <p th:text="${funding.fundingPrice}" style="margin-left: 50px;"></p>

                                    <h6  style="color : rgb(22, 22, 113); font-weight:bold">모인금액</h6>
                                    <p th:text="${funding.fundingCPrice}" style="margin-left: 50px;"></p>

                                    <h6  style="color : rgb(22, 22, 113); font-weight:bold" >선택한 펀딩 금액<h6>                       
                                       <div class="select" id="Radios" style="margin-left: 30px;">
                                            <input type="radio" id="select" name="shop"class="radioBtn" value="10000"><label for="select"style="width: 200px; height:40px; margin:10px">10,000원</label><br>
                                            <input type="radio" id="select2" name="shop"class="radioBtn" value="20000"><label for="select2" style="width: 200px; height:40px; margin:10px">20,000원</label><br>
                                            <input type="radio" id="select3" name="shop"class="radioBtn" value="30000"><label for="select3" style="width: 200px; height:40px; margin:10px">30,000원</label><br>
                                       </div>
                                       <input type="hidden" th:value="${funding.teamNo}"  id="teamNo">
                                       <input type="hidden" th:value="${funding.teamNum}"  id="teamNum">
                                        <a id="payment" href="" class="site-btn">펀딩하기</a>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--사이드 끝-->


                </div>
            </div>
        </section>
        <!-- Blog Details Section End -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script th:src="@{/fundingJS/funding.js}" th:inline="javascript"></script>
        <script src="https://uicdn.toast.com/editor/latest/toastui-editor-viewer.js"></script>
        <script>
            const editor = new toastui.Editor({
                                el: document.querySelector('#viewer'),
                                initialEditType: "markdown",
                                initialValue: document.querySelector("#viewers").value
                                });
        </script>
    
</div>

</html>