<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
	<!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
	<link rel="stylesheet"
		th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/css/barfiller.css}">
	<link rel="stylesheet" th:href="@{/css/nowfont.css}">
	<link rel="stylesheet" th:href="@{/css/rockville.css}">
	<link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
	<link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
	<link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/mypage.css}">
</th:block>

<div layout:fragment="content">

	<!-- sidebar-->
	<section class="contact spad">
		<div style="padding-left: 30px;" >
			<div class="row">
			
			<!-- 사이드바 시작  -->
				<div class="col-lg-4" style="display: float; clear: both; width: 180px; padding: 30px; position: relative; bottom: 50px;"> 
					<div class="contact__address" style="width: 180px; padding: 0; margin-right: px;" >
						<div class="mypage__item__mypic"></div>
						<div class="section-title">
							<h3 style="color: red;">AdminPage</h3>
						</div>
						<ul>
							<li>
								<h4 style="height: 50px;">회원 관리</h4> <a
								href="/boot/admin/userList" class="back">
									<h5>-일반회원</h5>
							</a> <a href="/boot/admin/spaceRentalList" class="back">
									<h5>-공간대여자</h5>
							</a>
							</li>
						</ul>
						<ul>
							<li>
								<h4 style="height: 50px;">공간 관리</h4> <a
								href="/boot/admin/spaceAddList" class="back">
									<h5>-공간등록/신청관리</h5>
							</a> <a href="/boot/admin/spaceSuccessList" class="back">
									<h5>-등록 완료 공간</h5>
							</a>
							</li>
						</ul>
						<ul>
							<li>
								<h4 style="height: 50px;">펀딩 관리</h4> 
								<a href="/boot/admin/fundingAddList" class="back">
									<h5>-펀딩신청 관리</h5>
							</a> <a href="/boot/admin/fundingProgressList" class="back">
									<h5>-진행중인 펀딩</h5>
							</a> <a href="/boot/admin/fundingEndList" class="back">
									<h5>-종료된 펀딩</h5>
							</a>
							</li>
						</ul>
						<ul>
							<li><a href="/boot/admin/noticeList" class="back"
								style="height: 50px;">
									<h4>공지사항 관리</h4>
							</a></li>
						</ul>
						<ul>
							<li><a href="/boot/admin/QnAList" class="back"
								style="height: 50px;">
									<h4>Q&A 관리</h4>
							</a></li>
						</ul>
						<ul>
							<li>
							<h4 style="height: 50px;">신고 관리</h4>
							 <a href="/boot/admin/reportNoticeList" class="back">
									<h5>-게시글 신고</h5>
							</a>
							 <a href="/boot/admin/reportReplyList" class="back">
									<h5>-댓글 신고</h5>
							</a>
							</li>
						</ul>
						<ul>
							<li><a href="/boot/admin/revenue" class="back"
								style="height: 50px;">
									<h4>수익 관리</h4>
							</a></li>
						</ul>
						<ul>
							<li><a href="/boot/admin/banner" class="back"
								style="height: 50px;">
									<h4>메인배너 관리</h4>
							</a></li>
						</ul>
					</div>
				</div> <!-- end of 사이드바 -->
				
				<div style="width: 800px; height: 500px;">
				
				<h3>메인페이지 배너관리</h3>
				<br>
				<br>
				<br>
				
				
				<h3>펀딩</h3>
				<br>
				<br>
				 <table class="table" >
                    <thead>
                        <tr>
                        	<th>순위</th>
                            <th>펀딩명</th>
                            <th>달성률</th>
                        </tr>
                    </thead>
                    <tbody>
                    	 <tr th:each="fundingRanking : ${fundingRanking}">
                    	 	<td th:text="${fundingRanking.rownum}"></td>
                    	 	<td >
                    	 	<a th:href="@{/funding/fundingDetails(fundingNo=${fundingRanking.fundingNo}, memNo=${session.memVO.memNo})}" 
                    	 	   th:text="${fundingRanking.fundingName}"></a>  
                    	 	</td>
                    	 	
                    	 	<td th:text="${fundingRanking.success +'%'}"></td>
                        </tr>
                    </tbody>
                </table>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				
				<h3>예매</h3>
				<br>
				<br>
	
			<table class="table" >
                    <thead>
                        <tr>
                        	<th>순위</th>
                            <th>공연명</th>
                            <th>예매률</th>
                        </tr>
                    </thead>
                    <tbody>
                    	 <tr th:each="ticketingRK : ${ticketingRK}">
                    	 <input type="hidden" th:value="${ticketingRK.a}"/>
                    	 <input type="hidden" th:value="${ticketingTotal}"/>
                    	 	<td th:text="${ticketingRK.rownum}"></td>
                    	 	<td>
                    	 	<a th:href="@{/show/showDetail(showNo=${ticketingRK.showNo})}" th:text="${ticketingRK.showName}"></a>  
                    	 	</td>
                    	 	<td></td>
                        </tr>
                    </tbody>
                </table>
	

  	
	
				
				</div>

					 <!--본문-->
				
			</div>
		</div>
	</section>
	<!-- Contact Section End -->
<script type="text/javascript">

let rkCount = $('tbody:eq(1) tr:eq(0) input:eq(0)').val();
let total = $('tbody:eq(1) tr:eq(0) input:eq(1)').val();

let rkCount2 = $('tbody:eq(1) tr:eq(1) input:eq(0)').val();
let total2 = $('tbody:eq(1) tr:eq(1) input:eq(1)').val();

$('table:eq(0) tr:eq(1) td:eq(2)').css('color','red');
$('table:eq(1) tr:eq(1) td:eq(2)').css('color','red');
$('tbody:eq(1) tr:eq(0) td:eq(2)').text( Math.floor((rkCount / total) * 100) + '%'); 
$('tbody:eq(1) tr:eq(1) td:eq(2)').text( Math.floor((rkCount2 / total2) * 100) + '%'); 

</script>
	
</div>
</html>