<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
	<!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
	<link rel="stylesheet"
		th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/css/barfiller.css}">
	<link rel="stylesheet" th:href="@{/css/nowfont.css}">
	<link rel="stylesheet" th:href="@{/css/rockville.css}">
	<link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
	<link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
	<link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/mypage.css}">
</th:block>

<div layout:fragment="content">

	<!-- sidebar-->
	<section class="contact spad">
		<div style="padding-left: 30px;" >
			<div class="row">
			
			<!-- 사이드바 시작  -->
				<div class="col-lg-4" style="display: float; clear: both; width: 180px; padding: 30px; position: relative; bottom: 50px;"> 
					<div class="contact__address" style="width: 180px; padding: 0; margin-right: px;" >
						<div class="mypage__item__mypic"></div>
						<div class="section-title">
							<h3 style="color: red;">AdminPage</h3>
						</div>
						<ul>
							<li>
								<h4 style="height: 50px;">회원 관리</h4> <a
								href="/boot/admin/userList" class="back">
									<h5>-일반회원</h5>
							</a> <a href="/boot/admin/spaceRentalList" class="back">
									<h5>-공간대여자</h5>
							</a>
							</li>
						</ul>
						<ul>
							<li>
								<h4 style="height: 50px;">공간 관리</h4> <a
								href="/boot/admin/spaceAddList" class="back">
									<h5>-공간등록/신청관리</h5>
							</a> <a href="/boot/admin/spaceSuccessList" class="back">
									<h5>-등록 완료 공간</h5>
							</a>
							</li>
						</ul>
						<ul>
							<li>
								<h4 style="height: 50px;">펀딩 관리</h4> 
								<a href="/boot/admin/fundingAddList" class="back">
									<h5>-펀딩신청 관리</h5>
							</a> <a href="/boot/admin/fundingEndList" class="back">
									<h5>-진행중인 펀딩</h5>
							</a> <a href="/boot/admin/fundingEndList" class="back">
									<h5>-종료된 펀딩</h5>
							</a>
							</li>
						</ul>
						<ul>
							<li><a href="/boot/admin/noticeList" class="back"
								style="height: 50px;">
									<h4>공지사항 관리</h4>
							</a></li>
						</ul>
						<ul>
							<li><a href="/boot/admin/QnAList" class="back"
								style="height: 50px;">
									<h4>Q&A 관리</h4>
							</a></li>
						</ul>
						<ul>
							<li>
							<h4 style="height: 50px;">신고 관리</h4>
							 <a href="/boot/admin/reportNoticeList" class="back">
									<h5>-게시글 신고</h5>
							</a>
							 <a href="/boot/admin/reportReplyList" class="back">
									<h5>-댓글 신고</h5>
							</a>
							</li>
						</ul>
						<ul>
							<li><a href="/boot/admin/revenue" class="back"
								style="height: 50px;">
									<h4>수익 관리</h4>
							</a></li>
						</ul>
						<ul>
							<li><a href="/boot/admin/banner" class="back"
								style="height: 50px;">
									<h4>메인배너 관리</h4>
							</a></li>
						</ul>
					</div>
				</div> <!-- end of 사이드바 -->

					 <!--본문-->
            <div class="dropdown" style="display: float; clear: both; margin-left: -200px; ">
                <h4 style="display: inline;">종료된 펀딩 목록</h4>            
                
                <!-- 검색조건 -->
            <div style="padding-left: 1210px;">
                  <form action="/boot/admin/fundingEndList" id="searchForm" method="get">
                  
                     <select name="type" >
                     
                     <!-- option의 값과 타입이 같으면 검색 후 seleted됨 -->
                        <option value="">전체</option>
                        <th:block th:if="${pageMaker.cri.type == 'I'}">
                        <option value="I" selected>카테고리</option>
                        </th:block>
                        <th:block th:unless="${pageMaker.cri.type == 'I'}">
                        <option value="I" >카테고리</option>
                        </th:block>
                        
                         <th:block th:if="${pageMaker.cri.type == 'N'}">
                        <option value="N" selected>제목</option>
                        </th:block>
                        <th:block th:unless="${pageMaker.cri.type == 'N'}">
                        <option value="N" >제목</option>
                        </th:block>
                        
                        <th:block th:if="${pageMaker.cri.type == 'K'}">
                        <option value="K" selected>신청자</option>
                        </th:block>
                        <th:block th:unless="${pageMaker.cri.type == 'K'}">
                        <option value="K" >신청자</option>
                        </th:block>
                        
                     </select>
                     
                     <!-- 검색 후 이동한 페이지에 정보들이 저장됨 -->
                     <input type="text" name="keyword" th:value="${pageMaker.cri.keyword}" >
                     <input type="hidden" name="pageNum" th:value='${pageMaker.cri.pageNum}'>
                     <input type="hidden" name="amount" th:value="${pageMaker.cri.amount}">
                     <button class="btn btn-primary" value="">Search</button>
                  </form>
               </div>
                
                <!--목록 조회-->
                <table class="table" style=" ">
                   <thead>
                        <tr>
                           	<th>NO.</th>
                            <th>카테고리</th>
                            <th>제목</th>
                            <th>목표금액</th>
                            <th>누적금액</th>
                            <th>펀딩 시작일</th>
                            <th>펀딩 마지막일</th>
                        </tr>
                    </thead>
                    <tbody>
                    	 <tr th:each="fundingEndList : ${fundingEndList}">
                            <td th:text="${fundingEndList.rn}" />
                            <td th:text="${fundingEndList.fundingGenre}" />
                            <td>
                            <a th:href="@{/funding/fundingDetails(fundingNo=${fundingEndList.fundingNo}, memNo=${session.memVO.memNo})}"
                               th:text="${fundingEndList.fundingName}" style="color: black;"></a>  
                            </td>
                            <td th:text="${fundingEndList.fundingPrice}" />
                            <td th:text="${fundingEndList.fundingCPrice}" />
                            <td th:text="${#dates.format(fundingEndList.fundingStart , 'yyyy-MM-dd')}" />
                            <td th:text="${#dates.format(fundingEndList.fundingEnd , 'yyyy-MM-dd')}" />
                        </tr>
                    </tbody>
                </table>
              
                <!--페이징-->
                <div class="col-lg-12" style="margin-top: 50px;">
                    <div class="pagination__links">
                        <th:block th:if="${pageMaker.prev}">
                            <nobr><a th:href="${pageMaker.startPage -1 }">Prev</a></nobr>
                        </th:block>

                        <nobr th:each="num : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
                            <th:block th:if="${num == 0}"></th:block>
                            
                            <th:block th:if="${num != 0}"><a th:href="${num}" th:text="${num}"></a></th:block>
                            </nobr>

                            <th:block th:if="${pageMaker.next }">
                            <nobr><a th:href="${pageMaker.endPage +1 }">Next</a></nobr>
                            </th:block>      
                    </div>
                </div>
                <form id="actionForm" action="/boot/admin/fundingEndList" method="get">
                    <input type="hidden" name="pageNum" th:value="${pageMaker.cri.pageNum }">
                    <input type="hidden" name="amount" th:value="${pageMaker.cri.amount }">
                    <input type="hidden" name="type" th:value="${pageMaker.cri.type }">
                    <input type="hidden" name="keyword" th:value="${pageMaker.cri.keyword }">
                </form>
   
                </div>      	
				
				
				
				
			</div>
		</div>
	</section>
	<!-- Contact Section End -->
</div>
</html>