<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
	<!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
	<link rel="stylesheet"
		th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/css/barfiller.css}">
	<link rel="stylesheet" th:href="@{/css/nowfont.css}">
	<link rel="stylesheet" th:href="@{/css/rockville.css}">
	<link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
	<link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
	<link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/mypage.css}">
</th:block>

<div layout:fragment="content">

	<!-- sidebar-->
	<section class="contact spad">
		<div style="padding-left: 30px;" >
			<div class="row">
			
			<!-- 사이드바 시작  -->
				<div class="col-lg-4" style="display: float; clear: both; width: 180px; padding: 30px; position: relative; bottom: 50px;"> 
					<div class="contact__address" style="width: 180px; padding: 0; margin-right: px;" >
						<div class="mypage__item__mypic"></div>
						<div class="section-title">
							<h3 style="color: red;">AdminPage</h3>
						</div>
						<ul>
							<li>
								<h4 style="height: 50px;">회원 관리</h4> <a
								href="/boot/admin/userList" class="back">
									<h5>-일반회원</h5>
							</a> <a href="/boot/admin/spaceRentalList" class="back">
									<h5>-공간대여자</h5>
							</a>
							</li>
						</ul>
						<ul>
							<li>
								<h4 style="height: 50px;">공간 관리</h4> <a
								href="/boot/admin/spaceAddList" class="back">
									<h5>-공간등록/신청관리</h5>
							</a> <a href="/boot/admin/spaceSuccessList" class="back">
									<h5>-등록 완료 공간</h5>
							</a>
							</li>
						</ul>
						<ul>
							<li>
								<h4 style="height: 50px;">펀딩 관리</h4> 
								<a href="/boot/admin/fundingAddList" class="back">
									<h5>-펀딩신청 관리</h5>
							</a> <a href="/boot/admin/fundingProgressList" class="back">
									<h5>-진행중인 펀딩</h5>
							</a> <a href="/boot/admin/fundingEndList" class="back">
									<h5>-종료된 펀딩</h5>
							</a>
							</li>
						</ul>
						<ul>
							<li><a href="/boot/admin/noticeList" class="back"
								style="height: 50px;">
									<h4>공지사항 관리</h4>
							</a></li>
						</ul>
						<ul>
							<li><a href="/boot/admin/QnAList" class="back"
								style="height: 50px;">
									<h4>Q&A 관리</h4>
							</a></li>
						</ul>
						<ul>
							<li>
							<h4 style="height: 50px;">신고 관리</h4>
							 <a href="/boot/admin/reportNoticeList" class="back">
									<h5>-게시글 신고</h5>
							</a>
							 <a href="/boot/admin/reportReplyList" class="back">
									<h5>-댓글 신고</h5>
							</a>
							</li>
						</ul>
						<ul>
							<li><a href="/boot/admin/revenue" class="back"
								style="height: 50px;">
									<h4>수익 관리</h4>
							</a></li>
						</ul>
						<ul>
							<li><a href="/boot/admin/banner" class="back"
								style="height: 50px;">
									<h4>메인배너 관리</h4>
							</a></li>
						</ul>
					</div>
				</div> <!-- end of 사이드바 -->
				
				<div>
				<h4>수익 관리</h4>
				<input type="hidden" th:value="${funding.payPrice}" id="funding">
				<input type="hidden" th:value="${ticketing.payPrice}" id="ticketing">
				<input type="hidden" th:value="${space.payPrice}" id="space">
				<br>
				<br>
				
				 <table class="table" >
                    <thead>
                        <tr>
                        	<th>종류</th>
                            <th>펀딩</th>
                            <th>예매</th>
                            <th>공간대여</th>
                            <th>관리자</th>
                        </tr>
                    </thead>
                    <tbody>
                    	 <tr>
                    	 	<td>수익</td>
	                    	<td th:text="${funding.payPrice}"></td> 
	                    	<td th:text="${ticketing.payPrice}"></td>
	                    	<td th:text="${space.payPrice}"></td>
	                    	<td th:text="${(funding.payPrice * 0.25) 
	                    			     + (ticketing.payPrice * 0.25) 
	                    			     + (space.payPrice * 0.25)}"></td>
                        </tr>
                         <tr>
                         	<td>수수료</td>
	                        <td th:text="${funding.payPrice * 0.25}"></td>
	                        <td th:text="${ticketing.payPrice * 0.25}"></td>
	                        <td th:text="${space.payPrice * 0.25}"></td>
	                        <td></td>
                        </tr>
                    </tbody>
                </table>
				<br>
				<br>
				<br>
	
	
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);
      
      var fundingRevenue = Math.floor(Number($('tbody tr:eq(0) td:eq(1)').text()));
	  var fundingCommission = Math.floor(Number($('tbody tr:eq(1) td:eq(1)').text()));
	  var ticketingRevenue = Math.floor(Number($('tbody tr:eq(0) td:eq(2)').text()));
	  var ticketingCommission = Math.floor(Number($('tbody tr:eq(1) td:eq(2)').text()));
	  var spaceRevenue = Math.floor(Number($('tbody tr:eq(0) td:eq(3)').text()));
	  var spaceCommission = Math.floor(Number($('tbody tr:eq(1) td:eq(3)').text()));
	  var adminRevenue = Math.floor(Number($('tbody tr:eq(0) td:eq(4)').text()));
	  
	  $('tbody tr:eq(0) td:eq(1)').text(fundingRevenue);
	  $('tbody tr:eq(1) td:eq(1)').text(fundingCommission);
	  $('tbody tr:eq(0) td:eq(2)').text(ticketingRevenue);
	  $('tbody tr:eq(1) td:eq(2)').text(ticketingCommission);
	  $('tbody tr:eq(0) td:eq(3)').text(spaceRevenue);
	  $('tbody tr:eq(1) td:eq(3)').text(spaceCommission);
	  $('tbody tr:eq(0) td:eq(4)').text(adminRevenue);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['TYPE', '수익', '수수료'],
          ['FUNDING', fundingRevenue, fundingCommission],
          ['TICKETING', ticketingRevenue, ticketingCommission],
          ['SPACE', spaceRevenue , spaceCommission ],
          ['ADMIN', adminRevenue, 0]
        ]);

        var options = {
          chart: {
            title: '포포몬쓰 수익관리',
          }
        };

        var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
    </script>
    <div id="columnchart_material" style="width: 800px; height: 500px;"></div>
  
  	
	
				
				</div>

					 <!--본문-->
				
			</div>
		</div>
	</section>
	<!-- Contact Section End -->
	
</div>
</html>