<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    <link rel="stylesheet"
        th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/barfiller.css}">
    <link rel="stylesheet" th:href="@{/css/nowfont.css}">
    <link rel="stylesheet" th:href="@{/css/rockville.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</th:block>

<!-- Content -->
<div layout:fragment="content">

    <!-- Countdown Section Begin -->

    <!-- Countdown Section End -->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="#"><i class="fa fa-home"></i> Home</a>
                        <span>회원가입</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Discography Section Begin -->
    <section class="discography spad">
        <div class="col-lg-12">
            <div class="section-title center-title">
                <h2>회원가입</h2>
                <h1>Join us</h1>
            </div>
        </div>
        <div class="container">

            <div class="contact__form" style="left:50%; right:50%">

                <form th:action="@{/user/join}" method="POST">
                    <div class="input__list">
                        <label class="label1" for="name">이름</label>
                        <input type="text" name="memName" id="name" required="" style="width: calc(48% - 20px)"
                            placeholder="이름을 입력해 주세요."><br>                  

                        <label class="label1" for="memId">아이디</label>
                        <input type="text" name="memId" id="memId" required="" maxlength="10" pattern="^[a-zA-Z0-9]+$" oninput="checkId()" style="width: calc(33% - 20px); margin-right: 20px"
                            placeholder="아이디를 입력해 주세요."><br>                                                            
                    	<!-- id ajax 중복체크 -->
						<span class="id_ok" style="color:#008000; display: none">사용 가능한 아이디입니다.</span>
						<span class="id_already" style="color:#6A82FB; display: none">누군가 이 아이디를 사용하고 있어요.</span><br><br>

                        <label class="label1" for="memPw">비밀번호</label>
                        <input type="password" name="memPw" id="pw" required="" maxlength="16" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,16}$" style="width: calc(48% - 20px)"
                            placeholder="비밀번호를 입력해 주세요."><br>

                        <label class="label1" for="pwcheck">비밀번호 확인</label>
                        <input type="password" id="pwcheck" required="" maxlength="16" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,16}$" style="width: calc(48% - 20px)"
                            placeholder="비밀번호를 다시 입력해 주세요."><br>

                        <label class="label1" for="memNickname">닉네임</label>
                        <input type="text" name="memNickname" id="nick" maxlength="10" required="" style="width: calc(48% - 20px)"
                            placeholder="닉네임을 입력해 주세요."><br>

                        <label class="label1" for="memRegistNo">주민등록번호</label>
                        <input type="text" name="memRegistNo1" id="reginum1" required="" maxlength="6" pattern="[0-9]{6}" style="width: calc(23% - 20px); margin-right: 10px">-
                        <input type="password" name="memRegistNo2" id="reginum2" required="" maxlength="7" pattern="[0-9]{7}" style="width: calc(24% - 20px); margin-left: 10px">                        
                        <br>

                        <label class="label1" for="memTel">전화번호</label>
                        <input type="text" name="memTel" id="tel"  maxlength="13" style="width: calc(48% - 20px)"
                            placeholder="전화번호를 입력해 주세요."><br>

                        <label class="label1" for="addr">주소</label>
                        <input type="text" name='addr' id="addr" required="" style="width: calc(33% - 20px); margin-right: 20px"
                            placeholder="주소를 입력해 주세요." readonly>
                        <br>

                        <label class="label1" for="detailAddress">상세주소</label>
                        <input type="text" name="detailAddress" id="detailaddr" required="" style="width: calc(48% - 20px)"
                            placeholder="상세주소를 입력해 주세요."><br>

                        <label class="label1" for="memEmail">이메일</label>
                        <input type="email" name="memEmail" id="email" required="/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)?$/i" style="width: calc(48% - 20px)"
                            placeholder="이메일을 입력해 주세요."><br>

                        <label class="label1" for="memAccountNo">계좌번호</label>
                        <input type="text" name="memAccountNo" id="account" required="" pattern="[0-9]+$" style="width: calc(48% - 20px)"
                            placeholder="계좌번호를 입력해 주세요."><br>


                        <button class="primary-btn border-btn2" type="submit" style="margin-right: 10px;">회원가입</button>
                        <button class="primary-btns" type="window.history.back()">취소</button>

                    </div>

                </form>

            </div>

        </div>
    </section>
    <!-- Discography Section End -->
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script th:src="@{/joinJs/addressapi.js}"></script> 
</div>

</html>