<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    <link rel="stylesheet"
        th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/barfiller.css}">
    <link rel="stylesheet" th:href="@{/css/nowfont.css}">
    <link rel="stylesheet" th:href="@{/css/rockville.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</th:block>

<!-- Content -->
<div layout:fragment="content">
    
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="#"><i class="fa fa-home"></i> Home </a>
                        <span>회원가입</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <section class="discography spad">


            <div class="section-title center-title">
                <h2>회원가입</h2>
                <h1>Sign in</h1>
            </div>

        
        <div class="container" style="text-align:center; padding-right: 90px; padding-left: 0px;">	        
            <a href="/boot/user/join" class="primary-btn border-btn" style="width:500px ;border-width: 3px"> 일반 회원 </a><br><br>
            <a href="/boot/user/spaceJoin" class="primary-btn border-btn" style="width:500px ;border-width: 3px"> 공간 대여자 </a>
	    </div>
    </section>                   
</div>

</html>