<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    <link rel="stylesheet"
        th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/barfiller.css}">
    <link rel="stylesheet" th:href="@{/css/nowfont.css}">
    <link rel="stylesheet" th:href="@{/css/rockville.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</th:block>

<!-- Content -->
<div layout:fragment="content">
    
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="#"><i class="fa fa-home"></i> Home </a>
                        <span>로그인</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <section class="discography spad">

        <div class="col-lg-12">
            <div class="section-title center-title">
                <h2>로그인</h2>
                <h1>login</h1>
            </div>
        </div>
        
        <div class="container" style="text-align:center; padding-right: 90px; padding-left: 0px;">	        
		        <div class="blog__sidebar">
		            <div class="blog__sidebar__item">


		                <form th:action="@{/user/login}" method="POST">

		                   <input type="text" name="memId" id="user_id" required="" placeholder="ID" style="width: calc(48% - 20px)"><br>             
		                    <input type="password" name="memPw" id="pw" required="" placeholder="PW" style="width: calc(48% - 20px)" ><br>

		           		     <div th:if="${param.error}">회원정보가 올바르지 않습니다.</div>
							<div th:if="${param.logout}">로그아웃 되었습니다.</div>
		               		<br>
		           
		                    <button type="submit" class="site-btn" style="width: calc(48% - 20px)">로그인</button><br><br>
		                    
		                    <a href="/boot/user/JoinMemType">회원가입</a><span> | </span>
		                    <a href="/boot/user/idFind">아이디 찾기</a><span> | </span>
		                    <a href="/boot/user/pwFind">비밀번호 찾기</a>
		                </form>

		            </div>
		    </div> 
	    </div>
    </section>                   
</div>

</html>