<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    <link rel="stylesheet"
        th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/barfiller.css}">
    <link rel="stylesheet" th:href="@{/css/nowfont.css}">
    <link rel="stylesheet" th:href="@{/css/rockville.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</th:block>

<!-- Content -->
<div layout:fragment="content">


    
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="#"><i class="fa fa-home"></i> Home </a>
                        <span>비밀번호 찾기</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <section class="discography spad">

        <div class="col-lg-12">
            <div class="section-title center-title">
                <h2>비밀번호 찾기</h2>
                <h1>Find Password</h1>
            </div>
        </div>
        
        <div class="container" style="text-align:center; padding-right: 90px; padding-left: 0px;">	        
		        <div class="blog__sidebar">
		            <div class="blog__sidebar__item">

		                <form th:action="@{/user/pwFind}" method="POST">

		                    <input type="text" name="memId" id="Id" required="" placeholder="아이디" style="width: calc(48% - 20px)"><br>
		                    <input type="email" name="memEmail" id="email" required="/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)?$/i" placeholder="이메일" style="width: calc(48% - 20px)"><br>

			                <button type="submit" class="site-btn" style="width: calc(48% - 20px)">비밀번호 찾기</button><br><br>
			                    
		                    <a href="/boot/user/join">회원가입</a><span> | </span>
		                    <a href="/boot/user/idFind">아이디 찾기</a>

		                </form>
		            </div>

		    </div> 
	    </div>
    </section>                   
</div>

</html>