<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}" >
     <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/barfiller.css}">
    <link rel="stylesheet" th:href="@{/css/nowfont.css}">
    <link rel="stylesheet" th:href="@{/css/rockville.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/teamhistory.css}">
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    
    <style>
        
        h6:hover{
            height: 50px;
            padding-top: 19px;
            font-weight: 600;
            background-color : #eee;
            color: black;
        }

        p{
            font-weight: 600;
        }
        
        tbody tr:hover{
            background-color : #eee;
        }

        .button{
            background-color: #96d2fa;
            border: #081c29;
            border-radius: 20%;
            height: 45px;
            float: right;
        }

        .alink{
            color: skyblue;
        }
    </style>
    
</th:block>


    <!-- sidebar-->
   <div layout:fragment="content"> 
   
       
    <div style="background-color: #eee">
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="#"><i class="fa fa-home"></i> <p th:text="${teamName}"></p> </a>
                        <span>팀이력/ 활동내역</span>
                        <!--<p th:each="empInfo : ${teamMemberList.teamName}"></p>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <!-- Breadcrumb End -->

	
   

    <!-- About Section Begin -->
    <section class="about about--page spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about__pic">
                        <img src="../img/team/basic.jpg" style="border-radius: 40px;">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about__text">
                        <div class="section-title" style="height: 200px; padding-top: 100px;">
                            <h2>팀프로필</h2>

                        </div>
                        <p>연락은 newjeans@gamil.com으로 부탁드립니다~</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>  
    
    <!-- About Section End -->
   
<!-- About Section Begin -->
<section class="about about--page spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                 <!--카테고리-->  
                 <div class="blog__sidebar__item">
                    <div class="blog__sidebar__title">
                        <strong><h4>팀 히스토리</h4></strong>
                    </div>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/team/teamhispage}"><h6>팀소개/ 이력</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/team/teamplan}"><h6>공연일정</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/team/practice}"><h6>연습영상/활동기록</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a href="#"><h6>소통창구</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/team/teamNotice}"><h6>공지사항</h6></a>
                        </div>
                    </a>

                      
                </div>
            </div>
            <div class="col-lg-9">
                <div class="col-lg-9" style="margin-top: 50px;">
                <div style="height: 400px;">
                <div ><a href="#" class="alink">조회순</a><a class="alink" href="#" style="margin-left: 8px;">최신순</a><a class="alink" href="#" style="margin-left: 8px;">댓글순</a></div>
                <script>
                    $('.alink').hover(function(){
                        $(this).css('color','black');
                    }, function(){
                        $(this).css('color','skyblue');
                    });
                </script>
                
                <br>
                <h1>연습영상</h1>
                <table class="table" style="text-align: center;">
                    <thead>
                        <tr>
                            <td>글번호</td>
                            <td>글제목</td>
                            <td>작성자</td>
                            <td>조회수</td>
                            <td>작성일자</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><a href="#" style="color: black;">3월 첫번째 연습!</a></td>
                            <td>민지</td>
                            <td>215</td>
                            <td>2023-03-10</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><a href="#" style="color: black;">안녕하세요</a></td>
                            <td>해인</td>
                            <td>10</td>
                            <td>2023-03-10</td>
                        </tr>
                    </tbody>
                </table><br>
                <button class="button">글쓰기</button>
                </div>

                

                <div class="pagination__links">
                    <a href="#"><</a>
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">></a>
                </div>

            </div>
                
            </div>
        </div>
    </div>
</section>
</div>
<!-- About Section End -->
       
   

  


</html>