<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}" >
     <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/barfiller.css}">
    <link rel="stylesheet" th:href="@{/css/nowfont.css}">
    <link rel="stylesheet" th:href="@{/css/rockville.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/teamhistory.css}">
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="https://kit.fontawesome.com/ada6fecb1f.js" crossorigin="anonymous"></script>
    
    <style>
        
        h6:hover{
            height: 50px;
            padding-top: 19px;
            font-weight: 600;
            background-color : #eee;
            color: black;
        }

        p{
            font-weight: 600;
        }
        
        tbody tr:hover{
            background-color : #eee;
        }

        .button{
            background-color: #96d2fa;
            border: #081c29;
            border-radius: 20%;
            height: 45px;
            float: right;
        }

        .alink{
            color: black;
        }

        .alink:hover{
            color:black;
            text-decoration: underline;
        }
    </style>


    
</th:block>


    <!-- sidebar-->
   <div layout:fragment="content"> 
   
       
    <div style="background-color: #eee">
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="#"><i class="fa fa-home"></i> <p th:text="${teamName}"></p> </a>
                        <span>팀이력/ 활동내역</span>
                        <!--<p th:each="empInfo : ${teamMemberList.teamName}"></p>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <!-- Breadcrumb End -->

	
   

    <!-- About Section Begin -->
    <section class="about about--page spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about__pic">
                        <img src="../img/team/basic.jpg" style="border-radius: 40px;">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about__text">
                        <div class="section-title" style="height: 200px; padding-top: 100px;">
                            <h2>팀프로필 </h2>
                            <!--<i class="fa-regular fa-heart"></i>-->
                            <a class="heart-click"><i class="fa-solid fa-heart"></i></a>
                        </div>
                        <p>연락은 newjeans@gamil.com으로 부탁드립니다~</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>  
    <script>
        //https://gimmesome.tistory.com/175
        //하트 누를때 로그인 한 회원의 id를 전달해서 team_like db update 필요 
        $(".heart-click").click(function(){

            var no = 1;

            //빈하트 눌렀을때
            if($(this).children('i').attr('class') == "fa-regular fa-heart"){

                $.ajax({
                    url:'/team/teamNotice',
                    type:'get',
                    data:{
                        no : no
                    },
                    success: function(result){
                        //page새로고침 document.location.reload(true)
                        console.log('빈하트 눌렀을때 통신 성공!')
                    },
                    error: function(){
                        alert('ajax 실패');
                    }
                });
                $(this).children('i').attr('class','fa-solid fa-heart');

            
            //꽉찬 하트 눌렀을때
            }else if($(this).children('i').attr('class') == "fa-solid fa-heart"){

                var no = 0;

                $.ajax({
                    url:'/team/teamNotice',
                    type:'get',
                    data:{
                        no : no
                    },
                    success: function(result){
                        //page새로고침 document.location.reload(true)
                        console.log('하트 눌렀을때 통신 성공!')

                        //$(this).children('i').html('')

                    },
                    error: function(){
                        alert('ajax 실패');
                    }
                });

                $(this).children('i').attr('class','fa-regular fa-heart');

            }

            
        });

        //로그인을 하지 않은 상태에서 하트 클릭하면 로그인 해야한다는 알림창 띄우기
        

    </script>
    
    <!-- About Section End -->
   
<!-- About Section Begin -->
<section class="about about--page spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                 <!--카테고리-->  
                 <div class="blog__sidebar__item">
                    <div class="blog__sidebar__title">
                        <strong><h4>팀 히스토리</h4></strong>
                    </div>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/team/teamhispage}"><h6>팀소개/ 이력</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/team/teamplan}"><h6>공연일정</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/team/practice}"><h6>연습영상/활동기록</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a href="#"><h6>소통창구</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/team/teamNotice}"><h6>공지사항</h6></a>
                        </div>
                    </a>

                      
                </div>
            </div>
            <div class="col-lg-9">
                <div class="col-lg-9" style="margin-top: 50px;">
                <div style="height: 400px;">
                <div ><a href="#" class="alink">조회순</a><a class="alink" href="#" style="margin-left: 8px;">최신순</a><a class="alink" href="#" style="margin-left: 8px;">댓글순</a></div>
                
                
                <br>
                <h1>공지사항</h1>
                <table class="table" style="text-align: center;">
                    <thead>
                        <tr>
                            <td>글번호</td>
                            <td>글제목</td>
                            <td>작성자</td>
                            <td>작성일자</td>
                            <td>조회수</td>

                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="notice : ${teamNotice}">
                            
                            <!--조회수 컬럼 추가 필요-->
                            <td th:text="${notice.noticeNo}"></td>
								<!-- <td th:text="${notice.noticeContent}"></td> -->
                                <!---->
								<td><a class="alink" th:text="${notice.noticeName}" th:href="@{/team/teamNoticeDetail(noticeNo=${notice.noticeNo}, viewCount=${notice.viewCount})}"></a></td>
								<td th:text="${notice.memNo}"></td>
								<td th:text="${notice.noticeDate}"></td>
								<td th:text="${notice.viewCount}"></td>

                        </tr>
                       
                    </tbody>
                </table><br>
                <button class="button">글쓰기</button>
                <div class="pagination__links" th:object="${pageMaker}">
                   

<!-- 
                    <a th:if="*{prev}" th:href="*{'/boot/team/teamNotice?pageNum='+(startPage - 1)}"><i
                        class="fa-solid fa-angles-left"></i></a>
    
                    <a th:if="*{criteria.pageNum > 1}" th:href="*{'/boot/team/teamNotice?pageNum='+(criteria.pageNum - 1)}">
                      <i class="fa fa-angle-left"></i>
                    </a>
    
                    <th:block th:each="num : ${#numbers.sequence(pageMaker.getStartPage(), pageMaker.getEndPage())}">
                      <th:block th:if="${pageMaker.criteria.getPageNum() != num}">
                        <a class="page-numbers current" th:href="${'/boot/team/teamNotice?pageNum='+num}" th:text="${num}"></a>
                      </th:block>
                      <th:block th:if="${pageMaker.criteria.getPageNum() == num}">
                        <a th:href="${'/boot/team/teamNotice?pageNum='+num}" th:text="${num}"></a>
                      </th:block>
                    </th:block>
    
                    <a th:if="*{criteria.pageNum < realEnd}" th:href="*{'/boot/team/teamNotice?pageNum='+(criteria.pageNum + 1)}">
                      <i class="fa fa-angle-right"></i>
                    </a>
    
                    <a th:if="*{next}" th:href="*{'/boot/team/teamNotice?pageNum='+(endPage)}"><i
                        class="fa-solid fa-angles-right"></i></a>
    
                    <form action="/boot/team/teamNotice" method="get" name="pageForm">
                        <input type="hidden" name="pageNum" value="${pageMaker.cri.pageNum }">
                        <input type="hidden" name="amount" value="${pageMaker.cri.amount }">
                        
                    </form>  

                
 

                     페이징 처리 
                <div class="pull-right">
                    <ul class="pagination">
                        <td:block th:if test="${pageMaker.prev }">
                            <li class="paginate_button previous">
                                <a th:href="${pageMaker.startPage -1}">Previous</a></li>
                        </th:block>

                        <th:each var="num" begin="${pageMaker.startPage }" end="${pageMaker.endPage }">
                            <li class="paginate_button ${pageMaker.cri.pageNum == num ? 'active' : '' }"><a
                                    href="${num }">${num }</a></li>
                        </c:forEach>

                        <c:if test="${pageMaker.next }">
                            <li class="paginate_button next">
                                <a href="${pageMaker.endPage +1}">Next</a></li>
                        </c:if>

                    </ul>
                </div> -->
               




                </div>
                </div>

                



                

            </div>
                
            </div>
        </div>
    </div>
</section>
</div>
<!-- About Section End -->
       



</html>