<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    <link rel="stylesheet"
        th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/barfiller.css}">
    <link rel="stylesheet" th:href="@{/css/nowfont.css}">
    <link rel="stylesheet" th:href="@{/css/rockville.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/funding.css}">
</th:block>


<!-- Discography Section Begin -->

    <div layout:fragment="content">
        <form  th:action="@{/mypage/freeList}" method="GET">
        <section class="discography spad">
            <div class="container">
                <div class="contact__form">
                    <div class="col-lg-12">
                        <div class="section-title center-title">
                            <h2>funding Insert</h2>
                            <h1>Funding Insert</h1>
                        </div>
                    </div>
                    <form action="#">
                        <div class="select">
                            <label class="label3">구분</label><input type="radio" id="select" name="shop"><label
                                for="select">팀</label>
                            <input type="radio" id="select2" name="shop"><label for="select2">개인</label>
                        </div>
                        <div class="input__list">
                            <label class="label1">펀딩이름</label> <input type="text"><br>
                            <label class="label1">신청자명</label> <input type="text"><br>
                            <label class="label1">펀딩기간</label> <input class="input3" type="date"> ~ <input
                                class="input3" type="date"><br>
                            <label class="label1">목표금액</label> <input type="text"><br>
                            <label class="label1">대표이미지</label> <input class="input2" type="text">
                            <button class="primary-btns2" type="submit">Browse</button><br>
                            <label class="label1">상세설명</label><textarea class="textarea"></textarea>
                            <button>등록</button>
                        </div>
                    </form>


                </div>
        </section>
        </form>
    </div>


</html>