<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}" >
     <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/barfiller.css}">
    <link rel="stylesheet" th:href="@{/css/nowfont.css}">
    <link rel="stylesheet" th:href="@{/css/rockville.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</th:block>

    <!-- Content -->
<div layout:fragment="content">
	
    <div th:each="ticketingRK, status:${ticketingRK}">
    <section class="hero spad set-bg" th:attr="data-setbg=|/boot/${ticketingRK.showImage}|" th:if="${status.index == 0}" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero__text">
                        <span th:text="${ticketingRK.showType}">New single</span>
                        <h1 th:text="${ticketingRK.showName}">Feel the heart beats</h1>
                        <p th:text="${ticketingRK.showPlace}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <br />tempor
                            incididunt ut labore et dolore magna aliqua.</p>
                        <a class="primary-btn" th:href="@{/show/showDetail(showNo=${ticketingRK.showNo},memNo=${memNo})}" th:onclick="|location.href='@{/show/showDetail(showNo=${ticketingRK.showNo},memNo=${memNo})}'|">확인하러가기!</a>  
                        
                        
                    </div>
                </div>
            </div>
        </div>        
    </section>
</div>
    <!-- Hero Section End -->

    <!-- Event Section Begin -->
    <section class="event spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>임박한 공연</h2>
                    </div>
                </div>
            </div>
<!-- <a th:href="@{/page/practiceSelecter(practiceNo=${practice.practiceNo}, memId=${practice.memId})}" th:text="${practice.practiceName}"></a> -->
            <!--  이미지 슬라이드 start  -->
            <div class="row">
                <div class="event__slider owl-carousel">
                    <div class="col-lg-4" th:each="imminent:${imminentShowList}">
                        <div class="event__item">
                            <div class="event__item__pic set-bg" th:attr="data-setbg=|/boot/${imminent.showImage}|">
                                <div class="tag-date">
                                    <span th:text="${#dates.format(imminent.showDate, 'yyyy-MM-dd')}">Dec 15, 2019</span>
                                </div>
                            </div>
                            <div class="event__item__text">
                                <a th:href="@{/show/showDetail(showNo=${imminent.showNo},memNo=${memNo})}" th:if="${memNo != null}"><h4 th:text="${imminent.showName}">David Guetta Miami Ultra</h4></a>
                                <a th:href="@{/user/login}" th:if="${memNo == null}" onclick=login()><h4 th:text="${imminent.showName}">David Guetta Miami Ultra</h4></a>
                                <p><i class="fa fa-map-marker"></i><span th:text="${imminent.showPlace}">Funkhaus Berlin, Berlin, Germany</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  이미지 슬라이드 end  -->
            
        </div>
    </section>
    <!-- Event Section End -->

    
<!-- Event Section Begin -->
    <section class="event spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>종료 임박 펀딩</h2>
                    </div>
                </div>
            </div>
<!-- <a th:href="@{/show/showDetail(showNo=${imminent.showNo},memNo=${memNo})}" th:if="${memNo != null}">-->
<!-- <a th:href="@{/user/login}" th:if="${memNo == null}" onclick=login()> -->
            <!--  이미지 슬라이드 start  -->
            <div class="row">
                <div class="event__slider owl-carousel">
                    <div class="col-lg-4" th:each="imminentfundingList:${imminentfundingList}">
                        <div class="event__item">
                            <div class="event__item__pic set-bg" th:attr="data-setbg=|/boot/${imminentfundingList.fundingImage}|">
                                <div class="tag-date">
                                    <span th:text="${#dates.format(imminentfundingList.fundingEnd, 'yyyy-MM-dd')}">Dec 15, 2019</span>
                                </div>
                            </div><!-- fundingCPrice -->
                            <div class="event__item__text">
                                <a th:href="@{/funding/fundingDetails(fundingNo=${imminentfundingList.fundingNo},memNo=${memNo})}"th:if="${memNo != null}"><h4 th:text="${imminentfundingList.fundingName}">David Guetta Miami Ultra</h4></a>
                                <a th:href="@{/user/login}" th:if="${memNo == null}" onclick=login()><h4 th:text="${imminentfundingList.fundingName}">David Guetta Miami Ultra</h4></a>
                                <p><span th:text="${'현재 금액 : '+imminentfundingList.fundingCPrice}"></span><span th:text="${' / 목표 금액 : '+imminentfundingList.fundingPrice}"></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  이미지 슬라이드 end  -->
            
        </div>
    </section>
    <!-- Event Section End -->
    <!-- Services Section Begin -->
    <section class="services">
        <div class="container-fluid">
        <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>최신 리뷰</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 p-0">
                    <div class="services__left set-bg" data-setbg="../img/skill-video.jpg">
                        <a href="https://www.youtube.com/watch?v=JGwWNGJdvx8" class="play-btn video-popup"><i class="fa fa-play"></i></a>
                    </div>
                </div>
                <!-- <a th:href="@{/show/showDetail(showNo=${imminent.showNo},memNo=${memNo})}" th:if="${memNo != null}">-->
				<!-- <a th:href="@{/user/login}" th:if="${memNo == null}" onclick=login()> -->
                <div class="col-lg-6 p-0">
                    <div class="row services__list">
                        <div class="col-lg-6 p-0 order-lg-1 col-md-6 order-md-1" th:each="showReviewList:${showReviewList}">
                            <div class="service__item deep-bg">
                                <img src="../img/services/service-4.png" alt="">
                                <a th:href="@{/show/showDetail(showNo=${showReviewList.showNo},memNo=${memNo})}" th:if="${memNo != null}"><h4 th:text="${'공연이름 : '+showReviewList.showName}">Wedding</h4>
                                <p th:text="${'리뷰 : '+showReviewList.commentContent}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p></a>
                                <a th:href="@{/user/login}" th:if="${memNo == null}" onclick=login()><h4 th:text="${'공연이름 : '+showReviewList.showName}">Wedding</h4>
                                <p th:text="${'리뷰 : '+showReviewList.commentContent}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section End -->

    <!-- Track Section Begin -->
    <!-- Event Section Begin -->
    <section class="event spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>최근 등록된 공간</h2>
                    </div>
                </div>
            </div>
            
            <!-- /page/spaceInfo -->
            <!-- <a th:href="@{/show/showDetail(showNo=${imminent.showNo},memNo=${memNo})}" th:if="${memNo != null}">-->
			<!-- <a th:href="@{/user/login}" th:if="${memNo == null}" onclick=login()> -->
            
            <!--  이미지 슬라이드 start  -->
            <div class="row">
                <div class="event__slider owl-carousel">
                    <div class="col-lg-4" th:each="space:${spaceList}">
                        <div class="event__item">
                            <div class="event__item__pic set-bg" th:attr="data-setbg=|/boot/${space.placeRepPhoto}|">
                                <div class="tag-date">
                                    <span th:text="${space.placeType}">Dec 15, 2019</span>
                                </div>
                            </div>
                            <div class="event__item__text">
                            	<a th:href="@{/page/spaceInfo(placeNo=${space.placeNo})}" th:if="${memNo != null}">
                            	<h4 th:text="${space.placeName}">David Guetta Miami Ultra</h4>
                                <p><i class="fa fa-map-marker"></i><span th:text="${space.placeAddress}"></span></p>
                            	</a>
                            	<a th:href="@{/user/login}" th:if="${memNo == null}" onclick=login()>
                            	<h4 th:text="${space.placeName}">David Guetta Miami Ultra</h4>
                                <p><i class="fa fa-map-marker"></i><span th:text="${space.placeAddress}"></span></p>                            	
                            	</a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  이미지 슬라이드 end  -->
            
        </div>
    </section>
    <!-- Event Section End -->


    <!-- Event Section End -->
    <script >
    	function login(){
    		alert("로그인이 필요합니다")
    	}
    </script>



    </div>

    
    
</html>