<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    <link rel="stylesheet"
        th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/barfiller.css}">
    <link rel="stylesheet" th:href="@{/css/nowfont.css}">
    <link rel="stylesheet" th:href="@{/css/rockville.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <style>
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropbtn_icon {
            font-family: 'Material Icons';
        }

        .dropbtn {
            border: 1px solid rgb(37, 37, 37);
            border-radius: 2px;
            background-color: #f5f5f5;
            font-weight: 400;
            color: rgb(37, 37, 37);
            padding: 5px;
            width: 150px;
            text-align: left;
            cursor: pointer;
            font-size: 12px;
            margin-left: 0px;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            z-index: 1;
            /*다른 요소들보다 앞에 배치*/
            font-weight: 400;
            background-color: #f9f9f9;
            min-width: 150px;
            margin-left: 0px;
        }

        .dropdown-content a {
            display: block;
            text-decoration: none;
            color: rgb(37, 37, 37);
            font-size: 12px;
            padding: 12px 20px;
        }

        .dropdown-content a:hover {
            background-color: #ececec
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>
</th:block>

<!-- Content -->
<div layout:fragment="content">


    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="#"><i class="fa fa-home"></i> Home</a>
                        <span>공간 대여</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Discography Section Begin -->
    <section class="discography spad">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title center-title">
                        <h2>공간 대여</h2>
                        <h1>Space Rental</h1>
                    </div>
                </div>
            </div>

            <!-- <form action="/boot/page/spaceList" id="selectSpace" method="get">
            	
            	<div class="dropdown">
			      <button class="dropbtn"> 
			        공연장 타입 선택
			      </button>
			      <div class="dropdown-content">
			        <a href="#">연습실</a>
			        <a href="#">공연장</a>
			      </div>
			    </div>
            
                <input type="text" placeholder="키워드를 검색하세요">
                <button type="submit" class="primary-btn border-btn2" style="margin-left: 10px; padding: 4px 10px 3px 10px">검색</button>
            </form><br> -->

            <form action="/boot/page/spaceList" id="searchForm2" method="get">

                <select name="type" class="dropbtn">
                    <!-- option의 값과 타입이 같으면 검색 후 seleted됨 -->
                    <option value="">공간 종류 선택</option>
                    <th:block th:if="${pageMaker.cri.type == 'N'}">
                        <option value="N" selected>연습실</option>
                    </th:block>
                    <th:block th:unless="${pageMaker.cri.type == 'N'}">
                        <option value="N">연습실</option>
                    </th:block>

                    <th:block th:if="${pageMaker.cri.type == 'C'}">
                        <option value="C" selected>공연장</option>
                    </th:block>
                    <th:block th:unless="${pageMaker.cri.type == 'C'}">
                        <option value="C">공연장</option>
                    </th:block>

                </select>
                <!-- 검색 후 이동한 페이지에 정보들이 저장됨 -->
                <input type="text" name="keyword" th:value="${pageMaker.cri.keyword}" placeholder="검색">
                <input type="hidden" name="pageNum" th:value='${pageMaker.cri.pageNum}'>
                <input type="hidden" name="amount" th:value="${pageMaker.cri.amount}">
                <button class="primary-btn border-btn2" value=""
                    style="margin-top: 3px; margin-left: 10px; padding: 4px 10px 3px 10px">Search</button>
                
                <input type="button" class="primary-btns" value="글 등록" onclick="location.href='/boot/page/spaceRegist'"
                    style="margin-top: 3px; margin-left: 10px; float:right; height:33.5px; padding: 4px 10px 3px 10px" ></input>                    
            </form>

            <br>


            <div class="row">
                <!-- 
                <div class="col-lg-4">
                    <div class="event__item">
                        <div class="event__item__pic space-item"
                            style="background-image : url(../img/events/event-1.jpg)" onclick="">
                            <div class="tag-date">
                                <span>Dec 15, 2019</span>
                            </div>
                        </div>
                        <div class="event__item__text">
                            <h4>David Guetta Miami Ultra</h4>
                            <p><i class="fa fa-map-marker"></i><span class="paddr"> Funkhaus Berlin, Berlin,
                                    Germany</span></p><br>
                            <p><img src="../img/human.png" height='15' width='20' alt=""
                                    style="margin-bottom: 3px"><span class="seat"></span></p>

                        </div>
                    </div>
                </div> -->

                <!--${place.placeRepPhoto}
                style='background-image: url(../img/space/image1.jpg)'
                th:style='background-image: url(../img/space/'+${place.placeRepPhoto}+')'
                -->

                <div class="col-lg-4" th:each="place:${spaceList}" th:if="${place.placeStatus==1}">
                    <div class="event__item">
                        <div class="event__item__pic space-item"
                            th:style="|background-image:url(/boot/${place.placeRepPhoto});|"
                            th:onclick="|location.href='@{/page/spaceInfo(placeNo=${place.placeNo})}'|">
                            <div class="tag-date">
                                <span><span th:text="${place.placeCost}"></span>원 /시간</span>
                            </div>
                        </div>
                        <div class="event__item__text">
                            <h4 th:text="${place.placeName}">대충 제목</h4>
                            <p><i class="fa fa-map-marker"></i>
                                <span th:if="${#strings.length(place.placeAddress) >= 12}" th:text="${#strings.substring(place.placeAddress,0,12)}+'...'"></span>
                                <span th:unless="${#strings.length(place.placeAddress) >= 12}" th:text="${place.placeAddress}"> </span>
                            </p><br>
                            <p><img src="../img/human.png" height='15' width='20' alt=""
                                    style="margin-bottom: 3px"><span th:text="${place.placeSeat}"></span></p>

                        </div>
                    </div>
                </div>

            </div>

            <!-- 페이징 처리 -->
            <div class="col-lg-12">
                <div class="pagination__links">
                    <!-- 이전으로 이동하는 페이지의 버튼 활성화 조건 boolean -->
                    <th:block th:if="${pageMaker.prev}">
                        <nobr><a th:href="${pageMaker.startPage -1 }">Previous</a></nobr>
                    </th:block>

                    <!-- #numbers.sequence(1,2) 시작과 끝 값을 매개변수로 받아 반복문을 돌린다 -->
                    <nobr th:each="num : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}">
                        
                        <!-- 페이지번호 버튼의 값이 0이면 비활성화 -->
                        <th:block th:if="${num == 0}">
                        
                        </th:block>
                        
                        <th:block th:if="${num != 0}">
                        <a th:href="${num}" th:text="${num}"></a>   
                        </th:block>
                        
                        </nobr>
                        
                        <!-- 다음으로 이동하는 페이지의 버튼 활성화 조건 boolean -->
                        <th:block th:if="${pageMaker.next }">
                        <nobr><a th:href="${pageMaker.endPage +1 }">Next</a></nobr>
                        </th:block>      
                        </div>
                </div>
                
                <!-- 페이징 된 버튼을 눌렀을때 이동한 페이지에 정보저장 -->
                <form id="actionForm2" action="/boot/page/spaceList" method="get">
                    <input type="hidden" name="pageNum" th:value="${pageMaker.cri.pageNum }">
                    <input type="hidden" name="amount" th:value="${pageMaker.cri.amount }">
                    <input type="hidden" name="type" th:value="${pageMaker.cri.type }">
                    <input type="hidden" name="keyword" th:value="${pageMaker.cri.keyword }">
                    
                </form>

    </section>

    
    <!-- <script th:src="@{/spaceJs/cloneSpace.js}"></script> -->
</div>

</html>