<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    <link rel="stylesheet"
        th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/barfiller.css}">
    <link rel="stylesheet" th:href="@{/css/nowfont.css}">
    <link rel="stylesheet" th:href="@{/css/rockville.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_blue.css">
</th:block>

<!-- Content -->
<div layout:fragment="content">

	<!-- jQuery CDN -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<!-- jQuery UI CDN -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
	<!-- jQuery UI CSS CDN -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
	<!-- codemirror CDN URL -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css" />
	<!-- TOAST UI Editor CDN URL(CSS) -->
	<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
	<!-- TOAST UI Editor CDN URL(JS) -->
	<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>Page Title</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>

	<!-- 디자인 수정용 CSS 추가 -->
<style>
#editor {
	/* border : 1px solid; */
	width: 70%;
	text-align: left;
	margin: 0 ;
}
/* editor content 받을 div태그 스타일 추가. */
#contents {
	width: 50%;
	height: 100px;
	margin: 30px auto;
	border: 1px solid;
}

#accordion {
	width: 70%;
	margin: 0 auto;
}
</style>
	
	    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="#"><i class="fa fa-home"></i> Home</a>
                        <span>공간 등록</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
    
    
        <!-- Discography Section Begin -->
    <section class="discography spad">
        

            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title center-title">
                        <h2>공간 등록</h2>
                        <h1>Space Registration</h1>
                    </div>
                </div>
            </div>
        <div class="container">    
            <div class="contact__form" style="left:50%; right:50%">
	            <form role="form" th:action="@{/page/spaceRegist}" method="POST" enctype="multipart/form-data">
	            	<div class="input__list">
	            
			            <label class="label1" for="spaceType">공간 타입</label>
			            <select name="placeType" class="dropbtn" style="margin:0px">
				          	<option value="공연장">공연장</option>
						    <option value="연습실">연습실</option>
						</select><br>

			            <label class="label1" for="name">공간 이름</label><br>
			         	<input type="text" name="placeName" id="name" required="" style="width: calc(48% - 20px)" placeholder="이름을 입력해 주세요."><br>
			         	
			         	<!-- <label class="label1" for="">대표 사진</label><br>
                        <input type="file" id="profile-img" name="teamImage" onchange="previewImage()" class="selectImage">
                        <div class="image-container">
                            <img id="preview-img" src="#" >
                        </div> -->
                        
                        <div class="form-group">
                            <label for="profile-image">공간 대표 사진</label><br>  
                            <input type="file"
                                id="profile-img" name="spaceImage" onchange="previewImage()" class="selectImage">
                            <div class="image-container">
                                <img id="preview-img" src="#" >
                            </div>
                        </div>

			         	<label class="label1" for="">대여 비용</label><br>
			         	<input type="text" name="placeCost" id="cost" required="" style="width: calc(48% - 20px)" placeholder="이름을 입력해 주세요."><br>
			         	
			         	<label class="label1" for="">공간 소개</label><br>
			         	<div id="editor"></div>
			         	<br>
			         	
			         	
			         	<label class="label1" for="">영업시간</label><br>
                        <input class="dateSelector" placeholder="ex) 2020-09-01" style="display: none;" />
			         	
	                    <span>영업시작시간</span>
                        <input placeholder="9: 00" class="timeSelector1" name="placeOpen" id="open" style="display: none;"  /><br>

                        <span>영업종료시간</span>
                        <input placeholder="9: 00" class="timeSelector2" name="placeClose" id="close" style="display: none;"  /><br>

<!--                         <label class="label1" for="">휴무일</label><br>
			         	<input type="text" name="placeHoliday" id="holiday" required="" style="width: calc(48% - 20px)" placeholder="휴무일을 입력해 주세요."><br>  -->
			         	
                        <label class="label1" for="">좌석수</label><br>
			         	<input type="text" name="placeSeat" id="seat" required="" style="width: calc(48% - 20px)" placeholder="좌석수를 입력해 주세요."><br>
			         				         	
			      		<label class="label1" for="">환불 규정</label><br>
			         	<textarea type="text" name="placeRefundRule" id="refund" required="" style="width: calc(48% - 20px)" placeholder="환불규정을 입력해 주세요."></textarea><br>
			         	
						<label class="label1" for="memTel">연락처</label><br>
                        <input type="text" name="placeTel" id="tel"  maxlength="13" style="width: calc(48% - 20px)" placeholder="전화번호를 입력해 주세요."><br>
                        
                        
                        <label class="label1" for="addr">주소</label><br>
                        <input type="text" name='addr' id="addr" required="" style="width: calc(33% - 20px); margin-right: 20px"
                            placeholder="주소를 입력해 주세요." readonly>
                        <br>
                        <label class="label1" for="memAddress">상세주소</label><br>
                        <input type="text" name="detailAddress" id="detailaddr" required="" style="width: calc(48% - 20px)" placeholder="상세주소를 입력해 주세요."><br>
                        
                        <button class="primary-btn border-btn2" type="submit" style="margin-right: 10px;">등록</button>
                        <button class="primary-btns" type="window.history.back()">취소</button>	         	
			         	         	
					</div>
				</form>
            </div>
        </div>
	</section>	
	
	<!-- flatpickr 날짜 -->
	<!-- //html 하단에 순서로 로드 -->
    <!-- <script src="js/flatpickr.js"></script> -->

    <!-- //언어설정을 위한 로드 -->
    <script src="https://npmcdn.com/flatpickr/dist/flatpickr.min.js"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/ko.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/ko.js"></script>
    
    <script>
        var dateSelector = document.querySelector('.dateSelector');
        dateSelector.flatpickr({
            dateFormat: "Y-m-d",
            monthSelectorType: "static",
            locale: "ko",
            allowInput: false,
        });

        flatpickr.localize(flatpickr.l10ns.ko);
        flatpickr(dateSelector);

        var timeSelector1 = document.querySelector(".timeSelector1");
        timeSelector1.flatpickr({
            enableTime: true,
            noCalendar: true,
            dateFormat: "H:i",
            defaultDate : "12:00",
            hourIncrement: 1,
            minuteIncrement:60,
            time_24hr:true,
            inline : true
        });

        var timeSelector2 = document.querySelector(".timeSelector2");
        timeSelector2.flatpickr({
            enableTime: true,
            noCalendar: true,
            dateFormat: "H:i",
            defaultDate : "12:00",
            hourIncrement: 1,
            minuteIncrement:60,
            time_24hr:true,
            inline : true
        });
    </script>
    
    
    <!-- toast 에디터 -->
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
		
	<script>
	 const onUploadImage = async (blob, callback) => {
         const formData = new FormData();
         formData.append("image", blob);
         formData.append("uri", window.location.pathname);
         
	      $.ajax({
           type: "post",
           url: "/boot/page/image",
           async: true,
           data: formData,
           processData: false,
           contentType: false,
           success: function (data) {
             imageURL = data;
             callback(imageURL, "image");
             console.log(imageURL)
           },
           error: function (request, status, error) {
             alert(request + ", " + status + ", " + error);
           },
         });
       };

       const editor = new toastui.Editor({
         el: document.querySelector("#editor"),
         height: "500px",
         initialEditType: "wysiwyg",
         placeholder: "내용을 입력해주세요",
         language: "ko-kr",
         hooks: {
           addImageBlobHook: onUploadImage
         }
       });
       
       
       var formObj = $('form[role="form"]')
    	$('button[type="submit"]').on('click',function(e){
        	e.preventDefault()//기본기능 차단
        	console.log('submit click')
			console.log(editor.getHTML())
        var str = "<input type='hidden' name='placeIntroduce' value='"+editor.getHTML()+"'>"
        formObj.append(str).submit()
    })
       
    </script>   

    <!-- 사진 등록-->
    <script>

        function previewImage() {
                    var preview = document.getElementById('preview');
                    var file = document.getElementById('profile-img').files[0];
                    var reader = new FileReader();

                    reader.onloadend = function() {
                        preview.src = reader.result;
                    }

                    if (file) {
                        reader.readAsDataURL(file);
                    } else {
                        preview.src = "";
                    }
                }

                var profileImgInput = document.getElementById('profile-img');
                var previewImg = document.getElementById('preview-img');

                profileImgInput.addEventListener('change', function(event) {
                    var file = event.target.files[0];
                    var reader = new FileReader();

                    reader.addEventListener('load', function() {
                        previewImg.src = reader.result;
                        previewImg.style.display = 'block';
                    });

                    if (file) {
                        reader.readAsDataURL(file);
                    }
                });
    </script>
    
    <!-- 주소 api -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script th:src="@{/joinJs/addressapi.js}"></script> 

</div>

</html>