<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    <link rel="stylesheet"
        th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/barfiller.css}">
    <link rel="stylesheet" th:href="@{/css/nowfont.css}">
    <link rel="stylesheet" th:href="@{/css/rockville.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" href="../css/jquery.timeselect.css" media="all" /> 
</th:block>


<!-- Content -->
<div layout:fragment="content">

	
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="#"><i class="fa fa-home"></i> Home</a>
                        <span>공간대여</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Blog Section Begin -->
    <section class="blog spad">

        <input type="hidden" th:value="${spaceInfo.placeName}" id="placeName">
        <input type="hidden" th:value="${spaceInfo.placeNo}" id="placeNo">
        <input type="hidden" id="rentalEnd">
        <input type="hidden" id="rentalStart">
        
        <th:block th:if="${session.memVO != null}">
            <input type="hidden" th:value="${session.memVO.memNo}" id="memNo">
            <input type="hidden" th:value="${session.memVO.memEmail}" id="memEmail">
            <input type="hidden" th:value="${session.memVO.memName}" id="memName">
            <input type="hidden" th:value="${session.memVO.addr}" id="memAddr1">
            <input type="hidden" th:value="${session.memVO.detailAddress}" id="memAddr2">
        </th:block>

        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="section-title">
                        <h2 th:text="${spaceInfo.placeName}">공간이름</h2>

                        <th:block th:if="${session.memVO != null}">
                            <a th:if="${session.memVO.memNo == spaceInfo.memNo}" class="primary-btn border-btn2" id="modifyButton" th:href="@{/page/spaceModifyForm(placeNo = ${spaceInfo.placeNo},
                            																																		placeType = ${spaceInfo.placeType},
                                                                                                                                                                    placeName = ${spaceInfo.placeName},
                                                                                                                                                                    placeRepPhoto = ${spaceInfo.placeRepPhoto} ,
                                                                                                                                                                    placeCost = ${spaceInfo.placeCost},
                                                                                                                                                                    placeIntroduce = ${spaceInfo.placeIntroduce},
                                                                                                                                                                    placeOpen = ${spaceInfo.placeOpen},
                                                                                                                                                                    placeClose = ${spaceInfo.placeClose},
                                                                                                                                                                    placeHoliday = ${spaceInfo.placeHoliday},
                                                                                                                                                                    placeSeat = ${spaceInfo.placeSeat},
                                                                                                                                                                    placeRefundRule = ${spaceInfo.placeRefundRule},
                                                                                                                                                                    placeTel = ${spaceInfo.placeTel},
                                                                                                                                                                    placeAddress = ${spaceInfo.placeAddress})}" 
                                                                                                                                                                    style="margin-top: 3px; margin-left: 0px; padding: 4px 10px 3px 10px;"> 수정 </a> 
                            <a th:if="${session.memVO.memNo == spaceInfo.memNo}" class="primary-btn border-btn2" id="deleteButton" th:href="@{/page/spaceInfo/delete(placeNo=${spaceInfo.placeNo})}" style="margin-top: 3px; margin-left: 10px; padding: 4px 10px 3px 10px;"> 삭제 </a>
                        </th:block>    
                    </div>
                    <div class="blog__large">
                        <div class="blog__large__pic set-bg" data-setbg="/boot/"
                            th:attrappend="data-setbg=${spaceInfo.placeRepPhoto}">
                        </div>
                        <div class="blog__large__text">
                            <span th:text="${spaceInfo.placeType}">연습실 , 공연장 구분</span>
                            <h2 th:text="${spaceInfo.placeName}">공간 이름</h2>
                            <p><i class="fa fa-map-marker"> </i> <span th:text="${spaceInfo.placeAddress}">위치</span></p>
                            <div class="blog__large__widget">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <ul>
                                            <li><span>수용인원</span></li>
                                            <li th:text="'최대 '+${spaceInfo.placeSeat}+'명'">20명</li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <ul class="right__widget">
                                            <li>시간당</li>
                                            <li th:text="${spaceInfo.placeCost}+'원'">30000 원</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <section class="event spad">
                            <div class="container">

                                <div class="col-lg-12">
                                    <div class="section-title">
                                        <h2>공간 소개(에디터사용)</h2>
                                    </div>

                                    <div id="viewer"></div>
                                    <textarea id="viewers" class="hidden"
                                        style="display : none;">[[${spaceInfo.placeIntroduce}]]</textarea>

                                </div>

                                <br><br>

                                <div class="col-lg-12">
                                    <div class="section-title">
                                        <h2>시설 이용 주의사항</h2>
                                    </div>

                                    <div>
                                        <p>
                                            <ul>
                                                <li th:text="'영업시간 : ' +${spaceInfo.placeOpen}+ ' ~ ' + ${spaceInfo.placeClose}">영업시간</li>
                                              <!--    <li th:text="'휴무일 : ' +${spaceInfo.placeHoliday}">휴무일</li> -->
                                            </ul>
                                        </p>
                                    </div>
                                </div>

                                <br><br>

                                <div class="col-lg-12">
                                    <div class="section-title">
                                        <h2>환불규정</h2>
                                    </div>

                                    <div>
                                        <p th:text="${spaceInfo.placeRefundRule}">ipsum Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti
                                            porro suscipit beatae, nostrum natus at, atque quibusdam officia animi odio
                                            temporibus eaque sed quis ut rem quos doloribus dignissimos. Neque!</p>
                                    </div>
                                </div>

                                <br><br>

                                <div class="col-lg-12">
                                    <div class="section-title">
                                        <h2>연락처</h2>
                                    </div>

                                    <div>
                                        <p th:text="${spaceInfo.placeTel}">010-0000-0000</p>
                                    </div>
                                </div>

                                <br><br>

                                <div class="col-lg-12">
                                    <div class="section-title">
                                        <h2>주소</h2>
                                    </div>

                                    <div>
                                        <p th:text="${spaceInfo.placeAddress}">주소 주소 주소 주소</p>
                                    </div>

                                    <div>
                                        <!-- 카카오 맵-->
                                        <p style="margin-top:-12px"></p>
                                        <div id="map" style="width:100%;height:350px;"></div>                                          
                                        
                                    </div>
                                </div>

                                <br><br>
                                
                                

                            </div>
                        </section>


                            

                        <div class="untree_co-section">
                            <div class="container">

                            <th:block th:if="${session.memVO != null}">
                                <input type="hidden" name="memNo" th:value="${session.memVO.memNo}" id="memberNo"  >
                            </th:block>
                    
                            
                            <h1 class="section-title text-left mb-4">REVIEW</h1>
                            <br><br>
                            <br>
                    
                            <th:block th:if="${session.memVO != null}">
                            <div style="width: 100px;  display: flex; display: inline-block; justify-content: center;  ">	
                                <p  style="width:100px; height: 30px; display: flex; display: inline-block; justify-content: center;" th:text="${session.memVO.memName}" id="memName">작성자</p>				
                                <p  style="width:100px; height: 30px; display: flex; display: inline-block; justify-content: center;" >내용</p>	
                            </div>
                            <div style="width: 600px; display: flex; display: inline-block; justify-content: center; top: 30px;">
                            <input type="text" placeholder="내용을 입력하세요." style="width: 600px;" id="content" >
                            </div>
                            <div style="display: inline-block;">
                            <p  style="display: inline-block; width: 100px;">별점</p>
					        1<input type="radio" id="star" name="star" value="1" style="width: 30px; height: 13px; "/>
					        2<input type="radio" id="star" name="star" value="2" style="width: 30px; height: 13px; "/>
					        3<input type="radio" id="star" name="star" value="3" style="width: 30px; height: 13px; "/>
					        4<input type="radio" id="star" name="star" value="4" style="width: 30px; height: 13px; "/>
					        5<input type="radio" id="star" name="star" value="5" style="width: 30px; height: 13px; "/>
                            <!-- <input type="text" id="star" placeholder="1~5까지의 숫자를 입력해주세요." vlaue="" style="display: inline-block; width: 600px;"/>  -->
                            </div>
                            <div style="width: 100px; height: 100px; display: flex; display: inline-block; justify-content: center;">
                            <button class="primary-btns" style="width: 100px; display: flex; display: inline-block; justify-content: center;" id="reviewAdd" >등록</button>
                            </div>
                            <br>
                            </th:block>
                    
                    
                            <div class="spaceReview">
                            
                            <div style="width: 650px; display: inline-block; padding-left:  520px;">
                            </div>
                            <br>
                            <div style="height: 100px; width: 800px; background-color: lightgray;">
                            <p style="display: flex; justify-content: left; margin-left: 60px; padding-top : 40px; ">아직 입력된 댓글이 없습니다.</p>
                            <p style="display: none; justify-content: left; margin-left: 60px;  ">★★★★★</p></div>
                            <br>
                            <div style=" width: 800px; display: flex; padding-left: 610px;">

                            
                            </div>
                            </div>
                            </div>
                        </div>


                        <!-- <div id="Reply" th:data-no="${spaceInfo.placeNo}"></div>

                        <script>
                            $(document).ready(function () {
                                var replyNo = $('#Reply').data("no");
                                $("#Reply").load('/boot/team/reply?noticeNo='+replyNo, function(){        		
                                    notice(1,replyNo);
                                })
                            })// $(document).ready 끝
                        </script> -->

                    

                        <div class="col-lg-12">
                            <!-- <div class="pagination__links blog__pagination">
                                <a href="#">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <a href="#">Next</a>
                            </div> -->
                        </div>
                    </div>
                </div>


                <div class="col-lg-4" style="padding-left: 30; float: right;">
                    <div class="blog__sidebar">
                        <div class="blog__sidebar__item">
                            <div class="blog__sidebar__title">
                                <h4>결제</h4>
                            </div>

                            <div class="reservation">
                                <div>
                                    <p>예약일</p>
                                    <!-- 달력 -->
                                    <input class="dateSelector" name="dateSel" id="dateSel" data-inline=true placeholder="ex) 2020-09-01" /><br><br>
                                    <!--style="display: none;"-->
                                    
									<!-- timebox -->
 									<p class="RentStart">예약시작시간</p>
 									<div id='start'></div>
 									<br>
 									
 									<p class="RentEnd">예약종료시간</p>
 									<div id='end'></div>
 									
									<script type="text/javascript" src="../spaceJs/jquery.timeselect.js"></script>
								    <script th:inline="javascript">
                                        let open = [[${#strings.substring(spaceInfo.placeOpen,0,2)}]];
                                        let close = [[${#strings.substring(spaceInfo.placeClose,0,2)}]];

								        $(document).ready(function () {
								            $("#start").timeselect1({
								            	format:"24h",
								            	interval:60,
								            	startHour: [[${#strings.substring(spaceInfo.placeOpen,0,2)}]],
								            	endHour: [[${#strings.substring(spaceInfo.placeClose,0,2)}]]-1,
								            	showSeparator:false								            	
								            });
								            
								            $("#end").timeselect2({
								            	format:"24h",
								            	interval:60,
								            	startHour: [[${#strings.substring(spaceInfo.placeOpen,0,2)}]],
								            	endHour: [[${#strings.substring(spaceInfo.placeClose,0,2)}]],
								            	showSeparator:false								            	
								            });
								        })
								    </script>
									
                                    <br>
									<h3>결제 금액 <span class="payAmount" style="color:#008000;"></span> 원</h3>                                  
                                    <br><br>                                    
                                    
                                    <button id="payment" class="site-btn" type="submit">결제하기</button>                                      

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Blog Section End -->
    
    <!-- toast editor viewer -->
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-viewer.js"></script>
    <script>
    	const editor = new toastui.Editor({
            				el: document.querySelector('#viewer'),
            				initialEditType: "markdown",
            	    		initialValue: document.querySelector("#viewers").value
            				});
    </script>
    

    <!--카카오 맵-->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e4c5d7477314735b8cd5027c17587990&libraries=services"></script>
    <script th:inline="javascript">
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
        mapOption = {
            center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };  

    // 지도를 생성합니다    
    var map = new kakao.maps.Map(mapContainer, mapOption); 

    // 주소-좌표 변환 객체를 생성합니다
    var geocoder = new kakao.maps.services.Geocoder();

    // 주소로 좌표를 검색합니다
    geocoder.addressSearch('[[${spaceInfo.placeAddress}]]', function(result, status) {

        // 정상적으로 검색이 완료됐으면 
        if (status === kakao.maps.services.Status.OK) {

            var place =  [[${spaceInfo.placeAddress}]];
            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

            // 결과값으로 받은 위치를 마커로 표시합니다
            var marker = new kakao.maps.Marker({
                map: map,
                position: coords
            });

            // 인포윈도우로 장소에 대한 설명을 표시합니다
            var infowindow = new kakao.maps.InfoWindow({
                content: '<a href="https://map.kakao.com/link/map/'+place+','+result[0].y+','+result[0].x+'" style="color:blue" target="_blank"><div style="width:150px;text-align:center;padding:6px 0;">[[${spaceInfo.placeName}]]</div></a>'
            });
            infowindow.open(map, marker);

            // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
            map.setCenter(coords);
        } 
    });    
    </script>       
	 
    <!-- flatpickr 달력 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_blue.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        var placeNo =  [[${spaceInfo.placeNo}]];
        var placeCost = [[${spaceInfo.placeCost}]];
        var dateSelector = document.querySelector('.dateSelector');
        dateSelector.flatpickr({
            dateFormat: "Y-m-d",
            monthSelectorType: "static",
            allowInput: false,
            minDate: "today", // today도 설정 가능 ( 오늘부터 시작이란 의미 )
            maxDate: new Date().fp_incr(14), // 지금부터 14일 이내
            onChange: function(dateObj, dateStr, instance) {
                console.log(dateStr,placeNo, placeCost);

                let dateSel = dateStr;
                dateScheduleCheck(dateSel, placeNo, placeCost);
            }        
        });

    </script>    

    <!-- 리뷰 -->
    <script type="text/javascript" th:inline="javascript">

    var placeNo =  [[${spaceInfo.placeNo}]];

    // 공간 리뷰

    $(document).ready(function () {

    // 리뷰 리스트 실행
    reviewList();


    // 리뷰 추가 실행
    $('#reviewAdd').on('click', function (e) {

        e.preventDefault();

        addReview();

    })


    // 리뷰 리스트
    function reviewList() {

        var str = "";

        $.ajax({
            url: '/boot/page/reviewList',
            type: 'post',
            data: {
                placeNo: placeNo,
                memNo: $('#memberNo').val()
            },
            success: function (result) {

                if (result != null) {

                    $('.spaceReview').html();

                    $.each(result, function (index, item) {

                        console.log(item);

                        var td = new Date(item.commentDate).toISOString().substring(0, 10);


                        if (Math.floor(item.commentScope) >= 5) {

                            star = "★★★★★";

                        } else if (Math.floor(item.commentScope) == 4) {

                            star = "★★★★";

                        } else if (Math.floor(item.commentScope) == 3) {

                            star = "★★★";

                        } else if (Math.floor(item.commentScope) == 2) {

                            star = "★★";

                        } else if (Math.floor(item.commentScope) == 1) {

                            star = "★";

                        } else {

                            star = "별점을 표시하지 않았습니다.";

                        }


                        str += "<div>"
                        str += "<p style='display: flex; margin-left: 30px; display: inline-block; justify-content: center; width: 100px;'>" + item.memName + "</p>";
                        str += "<p style='display: flex; display: inline-block; justify-content: center; width: 100px;'>" + td + "</p>";

                        // // 로그인시만 좋아요 버튼 보임
                        // if ($('#memberNo').val() != null) {

                        //     str += "<div style='width: 650px; display: inline-block; padding-left:  500px;'>";

                        //     if (item.likeBoolean == 0) {
                        //         str += "<div class='heartClick' style='display: flex; display: inline-block;'>";
                        //         str += "<i class='fa-regular fa-heart' style=' color: red;' ></i>";
                        //         str += "<input type='hidden'  value='" + item.reviewNo + "' >"
                        //         str += "<input type='hidden'  value='" + item.likeCount + "' ></div>"
                        //     } else if (item.likeBoolean == 1) {
                        //         str += "<div class='heartClick' style='display: flex; display: inline-block;'>";
                        //         str += "<i class='fa-solid fa-heart' style=' color: red;' ></i>";
                        //         str += "<input type='hidden'  value='" + item.reviewNo + "' >"
                        //         str += "<input type='hidden'  value='" + item.likeCount + "' ></div>"
                        //     }
                        //     str += "<div class='likeCount' style='display: flex; display: inline-block;'>"
                        //     str += "<p style='display: flex; display: inline-block;  width: 100px;'>" + item.likeCount + "</p></div>";
                        //     str += "</div><br>";
                        // }

                        str += "<div style='height: 150px; width: 800px; background-color: lightgray;'>";
                        str += "<p style='display: flex; justify-content: left; margin-left: 60px; padding-top : 40px; '>" + item.commentContent + "</p>";
                        str += "<p style='display: flex; justify-content: left; margin-left: 60px; color: yellow;  '>" + star + "</p></div><br>";
                        if ($('#memberNo').val() != null) {

                            if ($('#memberNo').val() == item.memNo) {

                                str += "<div class='deleteBtn' style='width: 800px; display: flex; padding-left: 700px;'>";
                                str += "<input type='hidden'  value='" + item.reviewNo + "' ><a style='display: inline-block;'>";
                                str += "<button class='primary-btn'>삭제</button></a></div><br><br>"
                            }
                        }
                        str += "</div>";

                        $('.spaceReview').html(str);

                        reviewHandler();

                    })

                } else {
                    console.log('값이 없음')
                }

                // 리뷰 삭제 실행				
                deleteReview();

            },
            error: function () {

                console.log('통신실패')
            }
        })
    }

    //리뷰 추가
    function addReview() {

        $.ajax({
            url: '/boot/page/addReview',
            type: 'post',
            data: {
                placeNo: placeNo,
                memNo: $('#memberNo').val(),
                commentContent: $('#content').val(),
                commentScope: $('input[name=star]:checked').val()
            },
            success: function (result) {

                if (result > 0) {

                    alert('리뷰등록 성공!!');

                    $('#content').val('');
                    $('#star').val('');


                    reviewList();

                }
            },
            error: function () {

                alert('리뷰등록 실패..');

            }
        })
    }
    
  //리뷰 삭제
    function deleteReview(){

    $('.deleteBtn').find('button').on('click', function(e) {

    e.preventDefault();

    var reviewNo= $(this).parent().parent().find('input').val();


    $.ajax({
    url:'/boot/page/deleteReview',
    type:'post',
    data: {   
       "memNo" :  $('#memberNo').val(),
       "reviewNo" : reviewNo
    },
    success: function(result){

       if( result > 0) {

          alert('리뷰삭제 성공!!');
          
          var str = "";

          if(reviewList() == null) {
             
             str += "<br><div style='height: 150px; width: 800px; background-color: lightgray;'>";
             str += "<h3 style='display: flex; justify-content: left; margin-left: 60px; padding-top : 60px;'>등록된 리뷰가 없습니다.</h3>"
             str += "<br></div>"
             
             $('.spaceReview').html(str);
             
          } else {
             
             reviewList()
             
          }

       }
    },
    error: function(){

       alert('리뷰삭제 실패..');
       
    }
    })



    }
    )}


    // 좋아요 상태변경, 좋아요 수 증감
    function reviewHandler() {

        $('.heartClick').on('click', function () {

            let heart = $(this).find('i');
            var memNo = $('#memberNo').val();
            var reviewNo = $(this).find('input').val();
            var count = $(this).find('input:eq(1)');
            var countText = $(this).parent().find('.likeCount').find('p');

            //비회원일때
            if (memNo < 0) {
                alert('로그인 후 이용할 수 있습니다.');
            }

            //빈하트 눌렀을때
            if ($(this).find('i').attr('class') == "fa-regular fa-heart") {

                $.ajax({
                    url: '/boot/page/reviewLike',
                    type: 'post',
                    data: {
                        memNo: memNo,
                        reviewNo: reviewNo,
                        placeNo: placeNo
                    },
                    success: function (result) {

                        if (result == 'success') {

                            heart.attr('class', 'fa-solid fa-heart').css('color', 'red');
                            countText.replaceWith("<p style='display: flex; display: inline-block;  width: 100px;'>" + (parseInt(count.val()) + 1) + "</p>")
                            count.val(parseInt(count.val()) + 1);
                        }
                    },
                    error: function () {

                        alert('좋아요 실패!!');
                    }
                });

                //꽉찬 하트 눌렀을때

            } else if ($(this).find('i').attr('class') == "fa-solid fa-heart") {

                $.ajax({
                    url: '/boot/page/reviewUnLike',
                    type: 'post',
                    data: {
                        memNo: memNo,
                        reviewNo: reviewNo,
                        placeNo: placeNo
                    },
                    success: function (result) {

                        if (result == 'success') {

                            heart.attr('class', 'fa-regular fa-heart').css('color', 'red');
                            countText.replaceWith("<p style='display: flex; display: inline-block;  width: 100px;'>" + (parseInt(count.val()) - 1) + "</p>")
                            count.val(parseInt(count.val()) - 1);
                        }
                    },
                    error: function () {
                        alert('좋아요 해제 실패!!');
                    }
                })

            }

        })

    }

    })
    </script>

    <!-- 결제 -->
    <script th:src="@{/spaceJs/spacePayment.js}" th:inline="javascript"></script>

    </div>

</html>
