<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
	<link rel="stylesheet"
		th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/css/barfiller.css}">
	<link rel="stylesheet" th:href="@{/css/nowfont.css}">
	<link rel="stylesheet" th:href="@{/css/rockville.css}">
	<link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
	<link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
	<link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">

	<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
	 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</th:block>

<!-- Content -->
<div layout:fragment="content">


	<!-- Breadcrumb Begin -->
	<div class="breadcrumb-option">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb__links">
						<a href="#"><i class="fa fa-home"></i> Home</a> <span>공간 대여</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Breadcrumb End -->

	<!-- Discography Section Begin -->
	<section class="discography spad">
		<div class="container">

			<div class="row">
				<div class="col-lg-12" style="min-height:100px;">
					<div class="section-title center-title">
						<h2>공간 대여 대시보드</h2>
						
					</div>
				</div>
			</div>
			
			
			<!-- 표 -->
			<div id="curve_chart" style="width: 1100px; height: 700px"></div>
			
			<!-- 불러온 데이터 정보 -->
			<div style="min-height: 50px;">
				<!-- 총 수익, 지난달 수익 기준 -->
				<table
					style="border-collapse: collapse; width: 100%; text-align: center; border: 1px solid #444444;">
					<tr>
						<td>총 수익</td>
						
						<td>티켓수익</td>
					</tr>
					<br>
					<tr>
						<td id="total-sum"></td>
						<td id="total-show"></td>
					</tr>
				</table>
			</div>

			<!--차트-->
			<div id="dashList" class="example" data-index="1"></div>



			<!--공간대여 내역 리스트-->
			
			<br><br>
			<div>
				<table class="table">
					<thead>
						<tr>
							<th>No</th>
							<th>장소명</th>
							<th>유형</th>
							<th>기간</th>
							<th>휴일</th>
							<th>Open</th>
							<th>Close</th>
							<th>누적수익</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="rental, status :${rentalList1} ">
							
							<td th:text="${status.index +1}"></td>
							<td th:text="${rental.placeName}"></td>
							<td th:text="${rental.placeType}"></td>
							<td th:text="${#dates.format(rental.placeApprovalDate, 'yyyy-MM-dd')}"></td>
							<td th:text="${rental.placeHoliday}"></td>
							<td th:text="${rental.placeOpen}"></td>
							<td th:text="${rental.placeClose}"></td>
							<td th:each="rentalList : ${rentalList}" th:if="${rental.placeNo == rentalList.key}">
						        <span th:text="${rentalList.value}"></span>
						    </td>
							
							
						</tr>
					</tbody>

				</table>

			</div>


	</section>

	<script>
		document
				.addEventListener(
						'DOMContentLoaded',
						function() {
							
							 google.charts.load('current', {'packages':['corechart']});
						     

							const model = document.querySelector('#dashList');
							const idValue = model.getAttribute('dashList'); // 'myDiv'
							
							$.ajax({
							    url: '/boot/page/spaceDashList',
							    type: "POST",
							    //dataType: "json",
							    success: function(data) {
							    	
							    	console.log(data);
							  
							    	 var monthlyTotal = {};
							    	 var total =0;
							    	 
							    	 for (var i = 0; i < data.length; i++) {
							             // 날짜에서 월 정보 추출
							             var date = new Date(data[i].payDate);
							             var month = date.getMonth() + 1; // JavaScript에서 월 정보는 0부터 시작하므로 1을 더해줌
										 
							             // 월별 price 합산값 계산
							             if (monthlyTotal[month]) {
							                 monthlyTotal[month] += data[i].payPrice;
							                 
							             } else {
							                 monthlyTotal[month] = data[i].payPrice;
							             }
							         }

							         // 결과 확인
							        
							         console.log(monthlyTotal); // 출력 결과, 객체타입으로 들어감
							         google.charts.setOnLoadCallback(drawChart(monthlyTotal)); //그래프 값 넣어주는 곳에 변수 담아주기
							         
							         //총 합산금액
							         for (var month in monthlyTotal) {
							        	  if (monthlyTotal.hasOwnProperty(month)) {
							        	    total += monthlyTotal[month];
							        	  }
							        	}

							        console.log(total + "공간대여 총 합산된 값");
							        var totalSumElement = document.getElementById('total-sum');
							        totalSumElement.textContent = total;
							    },
							    error: function() {
							        console.log("error");
							    }
							});
							
		

						});	//DOMContentLoaded End
			
		



		 function drawChart(monthlyTotal) {
			 	console.log(monthlyTotal)
			 
			 	
		        var data = google.visualization.arrayToDataTable([
		          ['month', '공간 수익'],
		          ['01',      monthlyTotal[1] || 0],
		          ['02',      monthlyTotal[2] || 0],
		          ['03',     monthlyTotal[3] || 0],
		          ['04',     monthlyTotal[4] || 0],
		          ['05',     monthlyTotal[5] || 0],
		          ['06',     monthlyTotal[6] || 0],
		          ['07',     monthlyTotal[7] || 0],
		          ['08',     monthlyTotal[8] || 0],
		          ['09',     monthlyTotal[9] || 0],
		          ['10',     monthlyTotal[10] || 0],
		          ['11',     monthlyTotal[11] || 0],
		          ['12',     monthlyTotal[12] || 0]
		        ]);

		        var options = {
		          title: 'Company Performance',
		          curveType: 'function',
		          legend: { position: 'bottom' }
		        };

		        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

		        chart.draw(data, options);
		      }
		 
		 
		 
	</script>


</div>

</html>