<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}" >
     <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/barfiller.css}">
    <link rel="stylesheet" th:href="@{/css/nowfont.css}">
    <link rel="stylesheet" th:href="@{/css/rockville.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</th:block>

	
	
    <!-- sidebar-->
   <div layout:fragment="content"> 
    
     <div>
                            <!--댓글 등록
                            <form th:action="@{/team/addReply}"  method="post">
                                <input type="hidden" th:value="${NoticeNo}" name="replyNoticeNo" />
                                <input type="hidden" th:value="${viewCount}" name="replyViewCount" />
                                <div style="display: flex;">
                                    <div style="width: 100px;"><p>user01  </p></div>
                                    <div><textarea placeholder="Comment" style="width: 600px;" name="content"></textarea></div>
                                    <div style="padding-left: 50px;"><button type="submit" class="site-btn" style="width: 100px;">등록</button></div>
                                </div>
                            </form>-->

                               <!--ajax 댓글 등록-->
                               <!--https://velog.io/@alstn_dev/%EA%B2%8C%EC%8B%9C%ED%8C%90-%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8-%EB%8C%93%EA%B8%80-%EB%B0%8F-%EB%8C%80%EB%8C%93%EA%B8%80#-%EB%8C%93%EA%B8%80-%EC%9E%91%EC%84%B1-->
                                <div style="display: flex;">
                                    <input type="hidden" th:value="${NoticeNo}" name="replyNoticeNo" id="replyNoticeNo"/>
                                    <input type="hidden" th:value="${viewCount}" name="replyViewCount" />
                                    <div style="width: 100px;"><p th:text="${session.memNo}">user01 </p></div><!--로그인한 유저의 id 수정 필요-->
                                    <div><textarea placeholder="Comment" style="width: 600px;" name="content" id="content"></textarea></div>
                                    <!--<th:block th:if="${#strings.isEmpty(content, '댓글 내용을 입력해주세요')}"></th:block>-->
                                    <div style="padding-left: 50px;"><button type="submit" class="site-btn" style="width: 100px;" id="replyAjax">등록</button></div>
                                </div>

                               
                            <br><br>
                            <!--댓글 리스트-->

                            <div th:each="reply : ${replyList}">
                                <p th:text="${reply.commentNo}" class="${reply.commentNo}" style="display: none;"></p>
                                <div style="display: flex; margin-left: 30px;">
                                    <p style="width: 100px;" th:text="${reply.name}">user01</p><p  th:text="${#dates.format(reply.commentDate, 'yyyy-MM-dd')}">2023-03-10</p>
                                    <!--${#dates.format(reply.commentDate, 'yyyy-MM-dd')}-->
                                    <!--답글달기-->
                                    <a  style="margin-left: 5px;" class="atag" data-toggle="collapse" th:href="@{#collapse{id}(id = ${reply.commentNo})}" aria-expanded="false" aria-controls="${reply.commentNo}" >대댓글</a>
                                    <div class="collapse" th:id="${'collapse'+reply.commentNo}">
                                    <div style="width: 100px;"><p th:text="${session.memNo}">user01 </p></div>
                                    <div><textarea placeholder="Comment" style="width: 400px;"></textarea></div>
                                    
                                    <div style="padding-left: 50px;"><button type="submit" class="site-btn" id="addReply" th:onclick="addReply([[${NoticeNo}]])" style="width: 100px;">등록</button></div>
                                    </div>
                                    <!--답글달기 끝-->
                                    
                                </div>
                               
                                <div style="background-color: #eee; height: 80px; width: 100%;  ">
                                    <br>
                                    <p style="margin-left: 60px;" th:text="${reply.commentContent}">안녕하세요</p>
                                </div> <br> 
                                <div style="justify-content: flex-end; margin-left: 30px; text-align:right ;" >
                                  
                                    <th:block th:if="${session.memNo} == ${reply.memNo}">
                                        <a style="display: inline-block; margin-right: 5px;"><button class="button">수정</button></a><button class="button">삭제</button>
                                    </th:block>
                                    <th:block th:if="${session.memNo} != ${reply.memNo}">
                                        <a style="display: inline-block; margin-right: 5px;"><button class="button">신고</button></a>
                                    </th:block>
                                    <!--<a style="display: inline-block; margin-right: 5px;"><button class="button">신고</button></a><button class="button">삭제</button>-->
                                </div>
                                
                                <!--대댓글 숨김-->
                                <a style="color:rgb(131, 49, 151)" data-toggle="collapse" th:href="@{#collapseExample{id}(id= ${reply.commentNo})}" aria-expanded="false" aria-controls="${reply.commentNo}" th:onclick="reReplyList(${reply.commentNo},${reply.noticeNo},${viewCount})">1개의 댓글 보기</a><br><br>
                                <div class="collapse" th:id="${'collapseExample'+reply.commentNo}" th:each="reReply : ${reRplyList}" >
                                    <div th:if="${reply.commentNo}==${reReply.commentPNo}">
                                    <div style="display: flex; margin-left: 30px;">
                                        <p style="width: 100px;" th:text="${reReply.name}">user01</p><p th:text="${#dates.format(reReply.commentDate, 'yyyy-MM-dd')}">2023-03-10</p>
                                    </div>
                                    <div style="background-color: #f8f7f7; height: 80px; width: 100%; ">
                                        <br>
                                        <p style="margin-left: 60px;" th:text="${reReply.commentContent}">안녕하세요</p>
                                    </div> <br> 
                                    <div style="justify-content: flex-end; margin-left: 30px; text-align:right ;" >
                                        <a style="display: inline-block; margin-right: 5px;"><button class="button">신고</button></a><button class="button">삭제</button>
                                    </div>
                                    <br><br>
                                    </div>
                                </div>
                                <!--대댓글 숨김 끝-->

                            </div>
                            <!---->
                          



	<!--  ㅁㅁ-->
	 <!--댓글입력-->
              <strong><h4>댓글 등록하기</h4></strong><br><br>
              <div style="display: flex;">
                  <div style="width: 100px;"><p>user01  </p></div>
                  <div><textarea placeholder="Comment" style="width: 600px;"></textarea></div>
                  <div style="padding-left: 50px;"><button type="submit" class="site-btn" style="width: 100px;" id="comuReply">등록</button></div>
              </div>
              <br>
              <!--댓글리스트-->
              <!--comreply table 에 team_no 컬럼 추가하기.-->
              <div style="height: 700px; ">
                  <br><hr><br>
                  <div>
                      <div style="display: flex; margin-left: 30px;">
                          <p style="width: 100px;">user01</p><p>2023-03-10</p>
                      </div>
                      <div style="background-color: #eee; height: 80px; width: 100%;  ">
                          <br>
                          <p style="margin-left: 60px;">안녕하세요</p>
                      </div> <br> 
                      <div style="justify-content: flex-end; margin-left: 30px; text-align:right ;" >
                          <a style="display: inline-block; margin-right: 5px;"><button class="button">신고</button></a><button class="button">삭제</button>
                      </div>
                      <br>
                      <a style="color:rgb(6, 110, 227)" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">1개의 댓글 보기</a><br><br>
                      <div class="collapse" id="collapseExample" >
                          <div style="display: flex; margin-left: 30px;">
                              <p style="width: 100px;">user01</p><p>2023-03-10</p>
                          </div>
                          <div style="background-color: #f8f7f7; height: 80px; width: 100%;  ">
                              <br>
                              <p style="margin-left: 60px;">안녕하세요</p>
                          </div> <br> 
                          <div style="justify-content: flex-end; margin-left: 30px; text-align:right ;" >
                              <a style="display: inline-block; margin-right: 5px;"><button class="button">신고</button></a><button class="button">삭제</button>
                          </div>
                          <br>
                      </div>

                  </div>
                  <br><hr> <br>
                  <div>
                      <div style="display: flex; margin-left: 30px;">
                          <p style="width: 100px;">user01</p><p>2023-03-10</p>
                      </div>
                      <div style="background-color: #eee; height: 80px; width: 100%; ">
                          <br>
                          <p style="margin-left: 60px;">안녕하세요</p>
                      </div> <br> 
                      <div style="justify-content: flex-end; margin-left: 30px; text-align:right ;" >
                          <a style="display: inline-block; margin-right: 5px;"><button class="button">신고</button></a><button class="button">삭제</button>
                      </div>
                  </div>
              </div>
              <!--댓글리스트-->
              

                            
                        </div>
    
    
    
    </div>
    <!-- Contact Section End -->

  


</html>