<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}" >
     <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/barfiller.css}">
    <link rel="stylesheet" th:href="@{/css/nowfont.css}">
    <link rel="stylesheet" th:href="@{/css/rockville.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/TeamCss/Comunity.css}">
    
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
    
    
   <!--   <link rel="stylesheet" th:href="@{/TeamCss/teamhistory.css}">-->
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="https://kit.fontawesome.com/ada6fecb1f.js" crossorigin="anonymous"></script>
    
   
</th:block>


    <!-- sidebar-->
   <div layout:fragment="content"> 
   
       
    <div style="background-color: #eee">
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                         <a th:href="@{/team/teamplan}"><i class="fa fa-home"></i>  <p th:text="${teamName}"></p> </a>
                        <span>팀이력/ 활동내역</span>
                        <!--<p th:each="empInfo : ${teamMemberList.teamName}"></p>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <!-- Breadcrumb End -->
   

    <!-- About Section Begin -->
    <section class="about about--page spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about__pic">
                       <th:block th:if="${session.teamList.teamImage != '/boot/image'}">
                    		<th:block th:if="${session.teamList.teamImage != null }">
                             	<img th:src="|/boot/${session.teamList.teamImage}|" style="border-radius: 40px;">
                        	</th:block>
                        	<th:block th:if="${session.teamList.teamImage == null }">
                        		 <img src="../img/team/basic.jpg" style="border-radius: 40px;">
                        	</th:block>
                        </th:block>
                        
                        <th:block th:if="${session.teamList.teamImage == '/boot/image'  || session.teamList.teamImage==null}">
                            <img src="../img/team/basic.jpg" style="border-radius: 40px;">
                        </th:block>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about__text">
                        <div class="section-title" style="min-height: 200px; ">
                            <h2 >[[${session.teamList.teamName}]]</h2><br>
                            <p>팀 소개 : [[${session.teamList.teamSpecificity}]]</p>
                            <p>목표는 [[${session.teamList.teamTarget}]] !</p>
                            <a class="heart-click">
                                <th:block th:if="${teamlikeInfo}==0">
                                    <i class="fa-regular fa-heart"></i>
                                </th:block>
                                <th:block th:if="${teamlikeInfo}==1">
                                    <i class="fa-solid fa-heart"></i>
                                </th:block>
                              
                            </a>
                            <input type="hidden" th:value="${session.memNo}" name="teamLike" id="teamLike"/>

                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>  
     
    
<!-- About Section Begin -->
<section class="about about--page spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                 <!--카테고리-->  
                 <div class="blog__sidebar__item">
                    <div class="blog__sidebar__title">
                        <strong><h4>팀 히스토리</h4></strong>
                    </div>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/team/teamhispage}"><h6>팀소개/ 이력</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/team/teamplan}"><h6>공연일정</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/team/practice}"><h6>연습게시판</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a href="#"><h6>소통창구</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/team/teamNotice}"><h6>공지사항</h6></a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-9">
                 <!--댓글-->
                    <div style="margin-left: 50px;">
                        <br>
                        <p style="padding:10px;">댓글  <span style="font-size: 12px; float:right;">   *악플은 동의없이 삭제 될 수 있습니다.</span></p>
                        <!--댓글 등록 창-->
                        <div style="display: flex;">
                            <div style="width: 100px;"><p th:text="${session.memVO.memName}"style="width:100px; text-align:center;"> </p></div>
                            <div><textarea placeholder="내용을 입력해 주세요" style="width: 600px;" name="content" id="content"></textarea></div>
                            <div style="padding-left: 30px;"><button type="button" class="site-btn" style="width: 100px;" id="replyAjax" th:onclick="addReply()">등록</button></div>
                        </div><br><br>
                        <!--댓글 등록 창-->


                        <!--댓글 리스트-->
                        <input type="hidden" th:value="${session.memVO.memNo}" name="memName1" id="memName1"/>
                        <input type="hidden" th:value="${session.memVO.memRating}" name="memRating" id="memRating"/>
                        <div class="ShowReply" id="ShowReply">
                        </div>
                         <!--댓글 리스트 끝-->



                        <br> <br>
                            <!-- 페이징 처리 -->
                        <div class="paging">
                            <div class="pagination__links">
                                        <!-- 이전으로 이동하는 페이지의 버튼 활성화 조건 boolean -->
                                        <th:block th:if="${pageMaker.prev}">
                                    <nobr><a th:href="${pageMaker.startPage -1 }">Previous</a></nobr>
                                </th:block>
                                
                                <!-- #numbers.sequence(1,2) 시작과 끝 값을 매개변수로 받아 반복문을 돌린다 -->
                                <nobr th:each="num : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}">
                                
                                <!-- 페이지번호 버튼의 값이 0이면 비활성화 -->
                                <th:block th:if="${num == 0}">
                                    
                                </th:block>
                                
                                <th:block th:if="${num != 0}">
                                <a th:href="${num}" th:text="${num}"></a>   
                                </th:block>
                                
                                </nobr>
                                
                                <!-- 다음으로 이동하는 페이지의 버튼 활성화 조건 boolean -->
                                <th:block th:if="${pageMaker.next }">
                                    <nobr><a th:href="${pageMaker.endPage +1 }">Next</a></nobr>
                                </th:block>      
                                </div>
                        </div>
                        
                        <!-- 페이징 된 버튼을 눌렀을때 이동한 페이지에 정보저장 -->
                        <form id="actionForm" action="/boot/team/communicate3" method="get">
                            <input type="hidden" name="pageNum" th:value="${pageMaker.cri.pageNum }">
                            <input type="hidden" name="amount" th:value="${pageMaker.cri.amount }">
                            
                        </form>


                    </div>
               		
            </div>
        </div>
    </div>
</section>

<script th:src="@{/Teamjs/Comunity.js}" th:inline="javascript"></script>

</div>
<!-- About Section End -->
       



</html>