<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
	<!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
	<link rel="stylesheet"
		th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/css/barfiller.css}">
	<link rel="stylesheet" th:href="@{/css/nowfont.css}">
	<link rel="stylesheet" th:href="@{/css/rockville.css}">
	<link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
	<link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
	<link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
</th:block>


<div layout:fragment="content">

	<section class="about about--page spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12" style="min-hight:500px" >
					
					
					<h1 style="text-align:center;">아직 팀이 결성되지 않았습니다. </h1>
					
				</div>
			</div>
		</div>
	</section>

</div>
<!-- content 끝 -->


</html>