<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}" >
     <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/barfiller.css}">
    <link rel="stylesheet" th:href="@{/css/nowfont.css}">
    <link rel="stylesheet" th:href="@{/css/rockville.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/TeamCss/teamhistory.css}">
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="https://kit.fontawesome.com/ada6fecb1f.js" crossorigin="anonymous"></script>

    <script src="https://uicdn.toast.com/editor/latest/i18n/ko-kr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

	<link rel="stylesheet" th:href="@{/TeamCss/practiceDetail.css}" />
    
</th:block>


   
   <div layout:fragment="content"> 
   
       
    <div style="background-color: #eee">
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                         <a th:href="@{/team/teamplan}"><i class="fa fa-home"></i> 
                       
                        <p th:text="${session.teamList.teamName}"></p>
                        </a>
                        <span>연습 게시판</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <!-- Breadcrumb End -->

	
   

    <!-- About Section Begin -->
    <section class="about about--page spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about__pic">
                        <th:block th:if="${session.teamList.teamImage != '/boot/image'}">
                    		<th:block th:if="${session.teamList.teamImage != null }">
                             	<img th:src="|/boot/${session.teamList.teamImage}|" style="border-radius: 40px;">
                        	</th:block>
                        	<th:block th:if="${session.teamList.teamImage == null }">
                        		 <img src="../img/team/basic.jpg" style="border-radius: 40px;">
                        	</th:block>
                        </th:block>
                        
                        <th:block th:if="${session.teamList.teamImage == '/boot/image'  || session.teamList.teamImage==null}">
                            <img src="../img/team/basic.jpg" style="border-radius: 40px;">
                        </th:block>
                        
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about__text">
                        <div class="section-title" style="min-height: 200px; ">
                            <h2 >[[${session.teamList.teamName}]]</h2><br>
                            <p>팀 소개 : [[${session.teamList.teamSpecificity}]]</p>
                            <p>목표는 [[${session.teamList.teamTarget}]] !</p>
                            <a class="heart-click">
                                <th:block th:if="${teamlikeInfo}==0">
                                    <i class="fa-regular fa-heart"></i>
                                </th:block>
                                <th:block th:if="${teamlikeInfo}==1">
                                    <i class="fa-solid fa-heart"></i>
                                </th:block>
                              
                            </a>
                            <input type="hidden" th:value="${session.memNo}" name="teamLike" id="teamLike"/>

                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>  
    
    <!-- About Section End -->
   
<!-- About Section Begin -->
<section class="about about--page spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                 <!--카테고리-->  
                 <div class="blog__sidebar__item">
                    <div class="blog__sidebar__title">
                        <strong><h4>팀 히스토리</h4></strong>
                    </div>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/team/teamhispage}"><h6>팀소개/ 이력</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/team/teamplan}"><h6>공연일정</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/team/practice}"><h6>연습게시판</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/team/communicate}"><h6>소통창구</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/team/teamNotice}"><h6>공지사항</h6></a>
                        </div>
                    </a>


                      
                </div>
            </div>
            <div class="col-lg-9">
              
                 <!--상세내용-->
                <div style="margin-left: 50px;" th:each="detail : ${teamNoticeboard}">
                    <input type ="hidden" th:value="${detail.practiceNo}" id="practiceNo"/>
                    <br>
                    <div class="boardpage">
                        <p class="ptag">글제목</p>
                        <p th:text="${detail.practiceName}"></p>
                    </div>
                    <hr>
                    <div class="boardpage">
                        <p class="ptag">작성자</p>
                        <p th:text="${detail.memNickName}"></p>
                    </div>
                   <hr>
                    <div class="boardpage">
                        <p class="ptag">작성일자</p>
                        <p th:text="${#dates.format(detail.practiceDate, 'yyyy-MM-dd')}">2023-03-14</p>
                    </div>
                    <hr>
                    <!--notice에 조회수 컬럼 추가-->
                    <div class="boardpage">
                        <p class="ptag">조회수</p>
                        <p th:text="${detail.practiceView}">0</p>
                    </div>
                    <hr><br>
                    <div class="boardpage" style="min-height: 200px;">
                    
                   
                        <p class="ptag" >내용</p>
                        <div id="viewer"></div>
                        <!-- <p th:text="${detail.noticeContent}">상세페이지 내용입니다.</p> -->
                       
                        <textarea id="viewers" class="hidden" style="display : none;">[[${detail.practiceContent}]]</textarea>

                    </div>
                    <hr>
                    <button class=primary-btns id="buttonList" >목록</button>
                    
                    <th:block th:if="${session.memVO.memNo != detail.memNo}">
                    	<button class="button1" id="reportBtn">신고</button>
                    </th:block>
                    <th:block th:if="${session.memVO.memNo == detail.memNo}">
	                    <a th:href="@{/team/practiceModForm(practiceNo=${detail.practiceNo}, memId=${detail.memId}, practiceName=${detail.practiceName}, practiceContent=${detail.practiceContent})}">
	                        <button id="btn" class="primary-btns" type="submit">수정</button>
	                    </a>
                    </th:block>
                    <br>
               
                
                <div id="reportModal" class="modal" style="text-align:center; margin: 0 auto; ">
				  <div class="modal-content">
				    <h2>신고하기</h2>
				    <div>
				      	<input type="hidden" th:value="${detail.practiceNo}" name="NoticeNo" id="NoticeNo"/>
				      	<input type="hidden" th:value="${detail.memNo}" name="memNo" id="memNo"/>
				     	<label class="label"><input type="radio" class="reportReason" name="postReportReason"   value="부적절한 내용" />부적절한 내용</label>
					 	<label class="label"><input type="radio" class="reportReason" name="postReportReason"  value="음란한 내용">음란한 내용</label>
					 	<label class="label"><input type="radio" class="reportReason" name="postReportReason"  value="폭력적인 내용">폭력적인 내용</label>
					 	<label class="label"><input type="radio" class="reportReason" name="postReportReason"  value="광고">광고</label>
				     </div> 
				      <div>
				      <textarea class="textArea" name="reportContent" id="postReportContent" rows="4" cols="50"></textarea>
				      </div>
				      <div>
				        <button type="submit" id="reportInModal">신고하기</button>
				        <button type="button" id="reportClose">닫기</button>
				      </div>
				    
				  </div>
				</div>
				
				
				 </div>
               
               
                <!--댓글-->
               
                <div>
                    
                    <div style="margin-left: 50px;">
                        <br>
                        <p style="padding:10px;">댓글</p>
                        <!--댓글 등록 창-->
                        <div style="display: flex;">
                            <input type="hidden" th:value="${NoticeNo}" name="replyNoticeNo" id="replyNoticeNo"/>
                            <input type="hidden" th:value="${viewCount}" name="replyViewCount" />
                            <div style="width: 100px;"><p th:text="${session.memVO.memName}"style="width:100px; text-align:center;"> </p></div><!--로그인한 유저의 id 수정 필요-->
                            <div><textarea placeholder="내용을 입력해 주세요" style="width: 600px;" name="content" id="content"></textarea></div>
                            <!--<th:block th:if="${#strings.isEmpty(content, '댓글 내용을 입력해주세요')}"></th:block>-->
                            <div style="padding-left: 30px;"><button type="submit" class="site-btn" style="width: 100px;" id="replyAjax" th:onclick="addReply()">등록</button></div>
                        </div><br><br>
                        <!--댓글 등록 창-->


                        <input type="hidden" th:value="${session.memVO.memName}" name="memName1" id="memName1"/>
                        <input type="hidden" th:value="${session.memVO.memNo}"  id="memNo1"/>
                        
                        <!--댓글 리스트-->
                        <div class="ShowReply" id="ShowReply">
                           
                        </div>
                         <!--댓글 리스트 끝-->


                        <br> <br>
                      
                           <!-- 페이징 처리 -->
                            <div class="col-lg-12">
                                <div class="pagination__links">
                                        <th:block th:if="${pageMaker.prev}">
                                        <nobr><a th:text="${pageMaker.startPage -1 }" class="replyPaging" th:onclick="|javascript:replyPaging('${pageMaker.startPage -1 }')|">Previous</a></nobr>
                                        <!-- <a th:href="${pageMaker.startPage -1 }" class="replyPaging" th:onclick="|javascript:replyPaging('${pageMaker.startPage -1 }')|">Previous</a>     -->
                                        </th:block>
                                        
                                    <nobr th:each="num : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}">
                                    
                                    <th:block th:if="${num == 0}">
                                        
                                    </th:block>
                                    
                                    <th:block th:if="${num != 0}">
                                    <!-- <a th:href="${num}" th:text="${num}" ></a>    -->
                                    <a value="${num}" th:text="${num}" class="currentPageNum" th:onclick="|javascript:noticeList('${num}')|"></a>   
                                    
                                    </th:block>
                                    
                                    </nobr>
                                    
                                    <th:block th:if="${pageMaker.next }">
                                        <nobr><a th:href="${pageMaker.endPage +1 }" class="replyPaging" th:onclick="|javascript:replyPaging('${pageMaker.startPage +1 }')|">Next</a></nobr>
                                    </th:block>      
                                </div>
                            </div>
                            <!-- 페이징 된 버튼을 눌렀을때 이동한 페이지에 정보저장 -->

                            
                            <!-- <input type="hidden" name="pageNum" id="pageNum" th:value="${pageMaker.cri.pageNum }"> -->
                            <input type="hidden" name="pageNum" id="pageNum" th:value="1">
                            <input type="hidden" name="amount" id="amount" th:value="5">
                               


                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>

<!-- About Section End -->
     <script src="https://uicdn.toast.com/editor/latest/toastui-editor-viewer.js"></script>
    
<script th:src="@{/Teamjs/practiceDetail.js}" th:inline="javascript"></script>
</div>

</html>