<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}" >
     <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/barfiller.css}">
    <link rel="stylesheet" th:href="@{/css/nowfont.css}">
    <link rel="stylesheet" th:href="@{/css/rockville.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/TeamCss/teamhistory.css}">
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="https://kit.fontawesome.com/ada6fecb1f.js" crossorigin="anonymous"></script>

</th:block>


    <!-- sidebar-->
   <div layout:fragment="content"> 
   
       
    <div style="background-color: #eee">
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a th:href="@{/team/teamplan}"><i class="fa fa-home"></i> 
                       
                        <p th:text="${session.teamList.teamName}"></p>
                        </a>
                        
                        <span>팀이력/ 활동내역</span>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <!-- Breadcrumb End -->

	
   

    <!-- About Section Begin -->
    <section class="about about--page spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about__pic">
                        
                        <th:block th:if="${session.teamList.teamImage != '/boot/image'}">
                    		<th:block th:if="${session.teamList.teamImage != null }">
                             	<img th:src="|/boot/${session.teamList.teamImage}|" style="border-radius: 40px;">
                        	</th:block>
                        	<th:block th:if="${session.teamList.teamImage == null }">
                        		 <img src="../img/team/basic.jpg" style="border-radius: 40px;">
                        	</th:block>
                        </th:block>
                        
                        <th:block th:if="${session.teamList.teamImage == '/boot/image'  || session.teamList.teamImage==null}">
                            <img src="../img/team/basic.jpg" style="border-radius: 40px;">
                        </th:block>
                        
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about__text">
                        <div class="section-title" style="min-height: 200px; ">
                            <h2 >[[${session.teamList.teamName}]]</h2><br>
                            <p>팀 소개 : [[${session.teamList.teamSpecificity}]]</p>
                            <p>목표는 [[${session.teamList.teamTarget}]] !</p>
                            <a class="heart-click">
                                <th:block th:if="${teamlikeInfo}==0">
                                    <i class="fa-regular fa-heart"></i>
                                </th:block>
                                <th:block th:if="${teamlikeInfo}==1">
                                    <i class="fa-solid fa-heart"></i>
                                </th:block>
                              
                            </a>
                            <input type="hidden" th:value="${session.memNo}" name="teamLike" id="teamLike"/>

                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>  
    <!-- About Section End -->
   
<!-- About Section Begin -->
<section class="about about--page spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                 <!--카테고리-->  
                 <div class="blog__sidebar__item">
                    <div class="blog__sidebar__title">
                        <strong><h4>팀 히스토리</h4></strong>
                    </div>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a href="#"><h6>팀소개/ 이력</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/team/teamplan}"><h6>공연일정</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/team/practice}"><h6>연습게시판</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/team/communicate}"><h6>소통창구</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/team/teamNotice}"><h6>공지사항</h6></a>
                        </div>
                    </a>

                      
                </div>
            </div>
            <div class="col-lg-9">
                <div class="about__text">
                    <div class="section-title">
                        <h2>팀소개/이력</h2>
                    </div>
                    <div class="mb-5" style="text-align:center;">
                    

                    	<th:block th:if="${session.teamList.teamImage != '/boot/image'}">

                    		<th:block th:if="${session.teamList.teamImage != null }">
                             	<img th:src="|/boot/${session.teamList.teamImage}|" style="border-radius: 40px;">
                        	</th:block>
                        	<th:block th:if="${session.teamList.teamImage == null }">
                        		 <img src="../img/team/basic.jpg" style="border-radius: 40px;">
                        	</th:block>
                        </th:block>
                        
                        <th:block th:if="${session.teamList.teamImage == '/boot/image'  || session.teamList.teamImage==null}">
                            <img src="../img/team/basic.jpg" style="border-radius: 40px;">
                        </th:block>
                    </div>
                </div>
                
				<!-- <th:block th:if="|/boot/${tmember.memProfilePic == test/xodus.jpg}|">
                    </th:block> -->
                <div style="display: flex;" class="mb-3" th:each="tmember : ${teamMemberList}">
                   	
                    <th:block th:if="${tmember.memProfilePic == 'test/member.png'}">
						<div th:style="'background-image:url(../img/member.png);'" class="teamprofile" >
		            	</div>
                    </th:block>
                    <th:block th:if="${tmember.memProfilePic != 'test/member.png' }">
			                    <div th:style="'background-image:url('+|/boot/${tmember.memProfilePic}|+');'" class="teamprofile" >
			                    </div>
                    </th:block>
                    
                    
                    <div style="padding-top: 30px; margin-left: 20px;">
                    <div style="display: flex;"><p>이름 :</p><p th:text="${tmember.memName}" style="margin-left: 10px;"></p></div>
                    <div style="display: flex;"><p>장르 :</p> <p th:text="${tmember.genreName}" style="margin-left: 10px;"></p></div>
                    <div style="display: flex;"><p>포지션 :</p><p th:text="${tmember.positionName}" style="margin-left: 10px;"></p></div>
                   
                    
                    </div>
                </div>

                <!--<div style="display: flex;" class="mb-3">
                    <div style=" border-radius: 50%; overflow: hidden; width: 150px; height: 150px; background-image: url('../img/team/다니엘.jpg'); background-position: center;
                    background-size: cover;" >
                    </div>
                    <div style="padding-top: 30px; margin-left: 20px;">
                    <p>이름 :</p>
                    <p>장르 :</p>
                    <p>포지션 :</p>
                    </div>
                </div>-->
                <br><br><br>
                <!-- 공연이력 :오늘 날짜를 기준으로 지난 공연만 표시-->
                <div style="text-align:center;" >
                	<table class = "table">
						<thead>
							<tr>
								<th>공연이름</th>
								<th>공연일자</th>
								<th>공연시간</th>
								<th>공연장소</th>
								<th>공연종류</th>
								<th>인원</th>
							</tr>
						</thead>
						<tbody th:each="show : ${concertHistory}">
							<tr>
								<td ><a href="#" th:text="${show.showName}" style="color:black;"></a></td>
								<td th:text="${#dates.format(show.showDate, 'yyyy-MM-dd')}"></td>
								<td th:text="${show.showTime}"></td>
								<td th:text="${show.showPlace}"></td>
								<td th:text="${show.showType}"></td>
								<td th:text="${show.showPNum}"></td>
							</tr>
						</tbody>                	
                	
                	</table>
                </div>
                
                <div class="col-lg-12">
             <div class="pagination__links">
             			<!-- 이전으로 이동하는 페이지의 버튼 활성화 조건 boolean -->
                         <th:block th:if="${pageMaker.prev}">
                     <nobr><a th:href="${pageMaker.startPage -1 }">Previous</a></nobr>
                  </th:block>
                  
                  <!-- #numbers.sequence(1,2) 시작과 끝 값을 매개변수로 받아 반복문을 돌린다 -->
                  <nobr th:each="num : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}">
                  
                  <!-- 페이지번호 버튼의 값이 0이면 비활성화 -->
                  <th:block th:if="${num == 0}">
                     
                  </th:block>
                  
                  <th:block th:if="${num != 0}">
                  <a th:href="${num}" th:text="${num}"></a>   
                  </th:block>
                  
                  </nobr>
                  
                  <!-- 다음으로 이동하는 페이지의 버튼 활성화 조건 boolean -->
                  <th:block th:if="${pageMaker.next }">
                     <nobr><a th:href="${pageMaker.endPage +1 }">Next</a></nobr>
                  </th:block>      
                    </div>
            </div>
            
            <!-- 페이징 된 버튼을 눌렀을때 이동한 페이지에 정보저장 -->
            <form id="actionForm" action="/boot/team/teamhispage" method="get">
               <input type="hidden" name="pageNum" th:value="${pageMaker.cri.pageNum }">
               <input type="hidden" name="amount" th:value="${pageMaker.cri.amount }">
               <input type="hidden" name="type" th:value="${pageMaker.cri.type }">
               <input type="hidden" name="keyword" th:value="${pageMaker.cri.keyword }">
               
            </form>
            
                
                
                
                
            </div>
        </div>
    </div>
</section>

<script th:src="@{/Teamjs/teamhistory.js}" th:inline="javascript"></script>
</div>
<!-- About Section End -->
       
   

  


</html>