<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
	<!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
	<link rel="stylesheet"
		th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/css/barfiller.css}">
	<link rel="stylesheet" th:href="@{/css/nowfont.css}">
	<link rel="stylesheet" th:href="@{/css/rockville.css}">
	<link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
	<link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
	<link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/TeamCss/teamhistory.css}">
	<link rel="stylesheet" th:href="@{/TeamCss/teamNoticeDetail.css}">
	<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
	<script src="https://kit.fontawesome.com/ada6fecb1f.js"
		crossorigin="anonymous"></script>


	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
	<script src="https://uicdn.toast.com/editor/latest/i18n/ko-kr.min.js"></script>
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css" />
	<link rel="stylesheet"
		href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
	<script
		src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
   


	<style>
		.swal2-radio {
			display: grid !important;
		  text-align: left !important;
		}
		
	</style>
</th:block>


<div layout:fragment="content">

	<div style="background-color: #eee">
		<!-- Breadcrumb Begin -->
		<div class="breadcrumb-option">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb__links">
							   <a th:href="@{/team/teamplan}"><i class="fa fa-home"></i> 
                       
		                        <p th:text="${session.teamList.teamName}"></p>
		                        </a>
		                        <span>공지사항</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Breadcrumb End -->

		<!-- About Section Begin -->
		<section class="about about--page spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="about__pic">
							<th:block th:if="${session.teamList.teamImage != '/boot/image'}">
                    		<th:block th:if="${session.teamList.teamImage != null }">
                             	<img th:src="|/boot/${session.teamList.teamImage}|" style="border-radius: 40px;">
                        	</th:block>
                        	<th:block th:if="${session.teamList.teamImage == null }">
                        		 <img src="../img/team/basic.jpg" style="border-radius: 40px;">
                        	</th:block>
                        </th:block>
                        
                        <th:block th:if="${session.teamList.teamImage == '/boot/image'  || session.teamList.teamImage==null}">
                            <img src="../img/team/basic.jpg" style="border-radius: 40px;">
                        </th:block>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="about__text">
							<div class="section-title" style="min-height: 200px;">
								<h2>[[${session.teamList.teamName}]]</h2>
								<br>
								<p>팀 소개 : [[${session.teamList.teamSpecificity}]]</p>
								<p>목표는 [[${session.teamList.teamTarget}]] !</p>
								<a class="heart-click"> <th:block th:if="${teamlikeInfo}==0">
										<i class="fa-regular fa-heart"></i>
									</th:block> <th:block th:if="${teamlikeInfo}==1">
										<i class="fa-solid fa-heart"></i>
									</th:block>

								</a> <input type="hidden" th:value="${session.memNo}"
									name="teamLike" id="teamLike" />

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	 
	<!-- About Section End -->

	<!-- About Section Begin -->
	<section class="about about--page spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<!--카테고리-->
					<div class="blog__sidebar__item">
						<div class="blog__sidebar__title">
							<strong><h4>팀 히스토리</h4></strong>
						</div>
						<a href="#" class="recent__item">
							<div class="recent__item__text">
								<a th:href="@{/team/teamhispage}"><h6>팀소개/ 이력</h6></a>
							</div>
						</a> <a href="#" class="recent__item">
							<div class="recent__item__text">
								<a th:href="@{/team/teamplan}"><h6>공연일정</h6></a>
							</div>
						</a> <a href="#" class="recent__item">
							<div class="recent__item__text">
								<a th:href="@{/team/practice}"><h6>연습게시판</h6></a>
							</div>
						</a> <a href="#" class="recent__item">
							<div class="recent__item__text">
								<a th:href="@{/team/communicate}"><h6>소통창구</h6></a>
							</div>
						</a> <a href="#" class="recent__item">
							<div class="recent__item__text">
								<a th:href="@{/team/teamNotice}"><h6>공지사항</h6></a>
							</div>
						</a>



					</div>
				</div>
				<div class="col-lg-9">

					<!--상세내용-->
					<div style="margin-left: 50px;"
						th:each="detail : ${teamNoticeboard}">
						<input type="hidden" th:value="${detail.noticeNo}" name="NoticeNo"
							id="NoticeNo" /> <br>
						<div class="boardpage">
							<p class="ptag">글제목</p>
							<p th:text="${detail.noticeName}"></p>
						</div>
						<hr>
						<div class="boardpage">
							<p class="ptag">작성자</p>
							<p th:text="${detail.memNo}"></p>
						</div>
						<hr>
						<div class="boardpage">
							<p class="ptag">작성일자</p>
							<p style="margin-left: auto;" th:text="${detail.noticeDate}">2023-03-14</p>
						</div>
						<hr>
						<!--notice에 조회수 컬럼 추가-->
						<div class="boardpage">
							<p class="ptag">조회수</p>
							<p style="margin-left: auto;" th:text="${detail.viewCount}">0</p>
						</div>
						<hr>
						<br>
						<div class="boardpage" style="height: 200px;">

							<p class="ptag">내용</p>
							<div id="viewer"></div>
							<!-- <p th:text="${detail.noticeContent}">상세페이지 내용입니다.</p> -->
							<textarea id="viewers" class="hidden" style="display: none;">[[${detail.noticeContent}]]</textarea>

						</div>
						<hr>
						<button class="primary-btns" id="buttonList">목록</button>
						<button class="primary-btns" id="reportBtn">신고</button>
						
						<th:block th:if="${session.memVO.memNo == detail.memNo}">
						<a
							th:href="@{/team/noticeModForm(noticeNo=${detail.noticeNo}, memNo=${detail.memNo}, noticeName=${detail.noticeName}, noticeContent=${detail.noticeContent})}">
							<button id="btn" class="primary-btns" type="submit">수정</button>
						</a> <br>
						</th:block>

						<div id="reportModal" class="modal"
							style="text-align: center; margin: 0 auto;">
							<div class="modal-content">
								<h2>신고하기</h2>
								<p>신고 내용을 입력해주세요.</p>
								<!--  <form role="form" th:action="@{/team/reportPractice}" method="POST">-->
								<input type="hidden" th:value="${detail.noticeNo}"
									name="NoticeNo" id="NoticeNo" /> 
								<input type="hidden"
									th:value="${detail.memNo}" name="memNo" id="memNo" /> 
								<label class="label"><input
									type="radio" class="reportReason" name="postReportReason"
									style="display: inline-block;" value="부적절한 내용">부적절한 내용</label> 
								<label class="label"><input
									type="radio" class="reportReason" name="postReportReason"
									style="display: inline-block;" value="음란한 내용">음란한 내용</label> 
								<label class="label"><input
									type="radio" class="reportReason" name="postReportReason"
									style="display: inline-block;" value="폭력적인 내용">폭력적인 내용</label> 
								<label class="label"><input
									type="radio" class="reportReason" name="postReportReason"
									style="display: inline-block;" value="광고">광고</label>
								<textarea name="reportContent" id="postReportContent" rows="4"
									cols="50"></textarea>
								<div>
									<button type="submit" id="reportInModal">신고하기</button>
									
									<button type="button" id="reportClose">닫기</button>
								</div>

							</div>
						</div>

					</div>
					
					<!--댓글

					<div id="Reply" th:data-no="${teamNoticeboard.noticeNo}"></div>-->

				</div>
			</div>
		</div>
	</section>

	<!-- About Section End -->
	<script
		src="https://uicdn.toast.com/editor/latest/toastui-editor-viewer.js"></script>
	
<script th:src="@{/Teamjs/teamNoticeDetael.js}" th:inline="javascript"></script>
</div>

</html>