<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}" >
     <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/barfiller.css}">
    <link rel="stylesheet" th:href="@{/css/nowfont.css}">
    <link rel="stylesheet" th:href="@{/css/rockville.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/TeamCss/teamhistory.css}">
    <link rel="stylesheet" th:href="@{/TeamCss/teamNotice.css}">
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="https://kit.fontawesome.com/ada6fecb1f.js" crossorigin="anonymous"></script>
    
</th:block>


    <!-- sidebar-->
   <div layout:fragment="content"> 
   
       
    <div style="background-color: #eee">
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                          <a th:href="@{/team/teamplan}"><i class="fa fa-home"></i> 
                       
                        <p th:text="${session.teamList.teamName}"></p>
                        </a>
                        <span>팀 공지</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <!-- Breadcrumb End -->
   

    <!-- About Section Begin -->
    <section class="about about--page spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about__pic">
                       <th:block th:if="${session.teamList.teamImage != '/boot/image'}">
                    		<th:block th:if="${session.teamList.teamImage != null }">
                             	<img th:src="|/boot/${session.teamList.teamImage}|" style="border-radius: 40px;">
                        	</th:block>
                        	<th:block th:if="${session.teamList.teamImage == null }">
                        		 <img src="../img/team/basic.jpg" style="border-radius: 40px;">
                        	</th:block>
                        </th:block>
                        
                        <th:block th:if="${session.teamList.teamImage == '/boot/image'  || session.teamList.teamImage==null}">
                            <img src="../img/team/basic.jpg" style="border-radius: 40px;">
                        </th:block>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about__text">
                        <div class="section-title" style="min-height: 200px; ">
                            <h2 >[[${session.teamList.teamName}]]</h2><br>
                            <p>팀 소개 : [[${session.teamList.teamSpecificity}]]</p>
                            <p>목표는 [[${session.teamList.teamTarget}]] !</p>
                            <a class="heart-click">
                                <th:block th:if="${teamlikeInfo}==0">
                                    <i class="fa-regular fa-heart"></i>
                                </th:block>
                                <th:block th:if="${teamlikeInfo}==1">
                                    <i class="fa-solid fa-heart"></i>
                                </th:block>
                              
                            </a>
                            <input type="hidden" th:value="${session.memNo}" name="teamLike" id="teamLike"/>

                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>  
   
<!-- About Section Begin -->
<section class="about about--page spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                 <!--카테고리-->  
                 <div class="blog__sidebar__item">
                    <div class="blog__sidebar__title">
                        <strong><h4>팀 히스토리</h4></strong>
                    </div>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/team/teamhispage}"><h6>팀소개/ 이력</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/team/teamplan}"><h6>공연일정</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/team/practice}"><h6>연습게시판</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/team/communicate}"><h6>소통창구</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/team/teamNotice}"><h6>공지사항</h6></a>
                        </div>
                    </a>

                      
                </div>
            </div>
            <div class="col-lg-9">
                <div class="col-lg-9" style="margin-top: 50px; max-width:100%;">
               
                <div style="display:flex;">
                	<div>
                		<h2>공지사항</h2>
                	</div>
                </div><br>
                
                <table class="table" style="text-align: center; min-height:200px;" >
                    <thead>
                        <tr>
                            <td>글번호</td>
                            <td>글제목</td>
                            <td>작성자</td>
                            <td>작성일자</td>
                            <td>조회수</td>

                        </tr>
                    </thead>
                    <tbody >
                      
                       <th:block th:each="notice, status : ${teamNotice}">
                          
                                <tr>
                                    <td><span th:text="${status.index +1}"></span></a></td>
                                    <td>
                                        <a class="alink" th:href="@{/team/teamNoticeDetail(noticeNo=${notice.noticeNo}, memNo=${notice.memNo},viewCount=${notice.viewCount})}">
                                            <span th:text="${notice.noticeName}"></span>
                                        </a>
                                    </td>
                                
                                    <td><span th:text="${notice.name}"></span></td>
                                    <td><span th:text="${notice.noticeDate}"></span></td>
                                    <td><span th:text="${notice.viewCount}"></span></td>s
                                </tr>
                           

                        </th:block>
                    
                    </tbody>
                </table><br>
               
                <div>
                	<th:block th:if="${session.memVO.teamNo == session.teamList.teamNo}">
	                    <a href="/boot/team/NoticeInsertForm">
	                    <button class="primary-btnO4" type="button" style="margin-left:750px; padding:2px;">글작성</button>
	                    </a>
	                </th:block>
                </div>
               
                   
                   <!-- 페이징 처리 -->
				<div class="col-lg-12">
	             <div class="pagination__links">
	                     <th:block th:if="${pageMaker.prev}">
	                     <nobr><a th:href="${pageMaker.startPage -1 }">Previous</a></nobr>
	                  	</th:block>
	                  
	                  <nobr th:each="num : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}">
	                  
	                  <th:block th:if="${num == 0}">
	                     
	                  </th:block>
	                  
	                  <th:block th:if="${num != 0}">
	                  <a th:href="${num}" th:text="${num}"></a>   
	                  </th:block>
	                  
	                  </nobr>
	                  
	                  <th:block th:if="${pageMaker.next }">
	                     <nobr><a th:href="${pageMaker.endPage +1 }">Next</a></nobr>
	                  </th:block>      
	                    </div>
	            </div>
            	<form id="actionForm" action="/boot/team/teamNotice" method="get">
	               <input type="hidden" name="pageNum" th:value="${pageMaker.cri.pageNum }">
	               <input type="hidden" name="amount" th:value="${pageMaker.cri.amount }">
	              
               
            	</form>




                </div>
                </div>

                



                

            </div>
                
            </div>
        </div>
    </div>
</section>


<script th:src="@{/Teamjs/teamNotice.js}" th:inline="javascript"></script>
</div>
<!-- About Section End -->

</html>