<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}" >
     <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/barfiller.css}">
    <link rel="stylesheet" th:href="@{/css/nowfont.css}">
    <link rel="stylesheet" th:href="@{/css/rockville.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/TeamCss/teamhistory.css}">
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    
    
    <!-- jQuery UI CDN -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
	<!-- jQuery UI CSS CDN -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
	<!-- codemirror CDN URL -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css" />
	<!-- TOAST UI Editor CDN URL(CSS) -->
	<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
	<!-- TOAST UI Editor CDN URL(JS) -->
	<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
	
	
	
	<style>
    #editor {
        /* border : 1px solid; */
        width: 70%;
        text-align: left;
        margin: 0 ;
    }
    /* editor content 받을 div태그 스타일 추가. */
    #contents {
        width: 50%;
        height: 100px;
        margin: 30px auto;
        border: 1px solid;
    }

    #accordion {
        width: 70%;
        margin: 0 auto;
    }
   

	</style>

</th:block>

	
    <!-- sidebar-->
<div layout:fragment="content"> 
    
        
    <div style="background-color: #eee">
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                          <a th:href="@{/team/teamplan}"><i class="fa fa-home"></i> 
                       
                        <p th:text="${session.teamList.teamName}"></p>
                        </a>
                        <span>공지사항</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- About Section Begin -->
    <section class="about about--page spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about__pic">
                        <th:block th:if="${session.teamList.teamImage != '/boot/image'}">
                    		<th:block th:if="${session.teamList.teamImage != null }">
                             	<img th:src="|/boot/${session.teamList.teamImage}|" style="border-radius: 40px;">
                        	</th:block>
                        	<th:block th:if="${session.teamList.teamImage == null }">
                        		 <img src="../img/team/basic.jpg" style="border-radius: 40px;">
                        	</th:block>
                        </th:block>
                        
                        <th:block th:if="${session.teamList.teamImage == '/boot/image'  || session.teamList.teamImage==null}">
                            <img src="../img/team/basic.jpg" style="border-radius: 40px;">
                        </th:block>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about__text">
                        <div class="section-title" style="min-height: 200px; ">
                            <h2 >[[${session.teamList.teamName}]]</h2><br>
                            <p>팀 소개 : [[${session.teamList.teamSpecificity}]]</p>
                            <p>목표는 [[${session.teamList.teamTarget}]] !</p>
                            <a class="heart-click">
                                <th:block th:if="${teamlikeInfo}==0">
                                    <i class="fa-regular fa-heart"></i>
                                </th:block>
                                <th:block th:if="${teamlikeInfo}==1">
                                    <i class="fa-solid fa-heart"></i>
                                </th:block>
                            </a>
                            <input type="hidden" th:value="${session.memNo}" name="teamLike" id="teamLike"/>

                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
   
    <!-- About Section End -->
   
<!-- About Section Begin -->
<section class="about about--page spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                 <!--카테고리-->  
                 <div class="blog__sidebar__item">
                    <div class="blog__sidebar__title">
                        <strong><h4>팀 히스토리</h4></strong>
                    </div>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/team/teamhispage}"><h6>팀소개/ 이력</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/team/teamplan}"><h6>공연일정</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/team/practice}"><h6>연습게시판</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/team/communicate}"><h6>소통창구</h6></a>
                        </div>
                    </a>
                    <a href="#" class="recent__item">   
                        <div class="recent__item__text">
                            <a th:href="@{/team/teamNotice}"><h6>공지사항</h6></a>
                        </div>
                    </a>
                      
                </div>
            </div>
            <!--사이드 끝-->

            <!--본문내용-->
            <div class="col-lg-10">
                <div class="container">
                    <div class="contact__form">
                            <div class="section-title">
                                <h2 >공지사항 글작성</h2>
                                <h1></h1><br>
                            </div>
                        
                        <form role="form" th:action="@{/team/noticeInsert}" method="POST">
                            <div class="input__list">
                            	<input type="hidden" th:value="${session.memVO.memNo}" name="memNo" />
                            	
                                <label class="label1" style="margin-left: 20px;">제목</label> 
                                <input name="noticeName" class="input" type="text" style="width: 72%;"><br>
                                <div id="editor" style="width: 800px;"></div>
                            </div>
                            
                            <div style="text-align: center;">
                                <a href="/boot/team/teamNotice" class="primary-btn border-btn2">목록으로</a>
                                <button id="btn" class="primary-btns" type="submit">등록</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>
        
   </div>
</section>
    
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script th:src="@{/Teamjs/teamNoticeInsertForm.js}" th:inline="javascript"></script>
    
    </div>
    
    </div>
    <!-- Contact Section End -->

  


</html>