<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
	<link rel="stylesheet"
		th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/css/barfiller.css}">
	<link rel="stylesheet" th:href="@{/css/nowfont.css}">
	<link rel="stylesheet" th:href="@{/css/rockville.css}">
	<link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
	<link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
	<link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/TeamCss/teamhistory.css}">
	<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
	<script src="https://kit.fontawesome.com/ada6fecb1f.js"
		crossorigin="anonymous"></script>

</th:block>

<!-- Page Preloder -->
<div id="preloder">
	<div class="loader"></div>
</div>

<!-- sidebar-->
<div layout:fragment="content">

	<div style="background-color: #eee">
		<!-- Breadcrumb Begin -->
		<div class="breadcrumb-option">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb__links">
							<a th:href="@{/team/teamplan}"><i class="fa fa-home"></i>

								<p th:text="${session.teamList.teamName}"></p> </a> <span>공연일정</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Breadcrumb End -->


		<!-- About Section Begin -->
		<section class="about about--page spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="about__pic">
							<th:block th:if="${session.teamList.teamImage != '/boot/image'}">
                    		<th:block th:if="${session.teamList.teamImage != null }">
                             	<img th:src="|/boot/${session.teamList.teamImage}|" style="border-radius: 40px;">
                        	</th:block>
                        	<th:block th:if="${session.teamList.teamImage == null }">
                        		 <img src="../img/team/basic.jpg" style="border-radius: 40px;">
                        	</th:block>
                        </th:block>
                        
                        <th:block th:if="${session.teamList.teamImage == '/boot/image'  || session.teamList.teamImage==null}">
                            <img src="../img/team/basic.jpg" style="border-radius: 40px;">
                        </th:block>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="about__text">
							<div class="section-title" style="min-height: 200px;">
								<h2>[[${session.teamList.teamName}]]</h2>
								<br>
								<p>팀 소개 : [[${session.teamList.teamSpecificity}]]</p>
								<p>목표는 [[${session.teamList.teamTarget}]] !</p>
								<a class="heart-click"> <th:block th:if="${teamlikeInfo}==0">
										<i class="fa-regular fa-heart"></i>
									</th:block> <th:block th:if="${teamlikeInfo}==1">
										<i class="fa-solid fa-heart"></i>
									</th:block>

								</a> <input type="hidden" th:value="${session.memNo}"
									name="teamLike" id="teamLike" />

							</div>


						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<script>
		//https://gimmesome.tistory.com/175
		//하트 누를때 로그인 한 회원의 id를 전달해서 team_like db update 필요 
		$(".heart-click")
				.on(
						'click',
						function() {
							var memNo = $('#teamLike').val();
							var emptyHeart = $('.fa-regular fa-heart');
							var fullHeart = $('.fa-solid fa-heart');
							//var no = 1;
							//비회원일때
							console.log("memNo" + memNo)

							if (memNo < 0) {
								alert('로그인 후 이용할 수 있습니다.');
							}

							//빈하트 눌렀을때
							if ($(this).children('i').attr('class') == "fa-regular fa-heart") {
								//JSON.stringify()
								$.ajax({
									url : '/boot/team/teamLike',
									type : 'post',
									contentType : false,
									processData : false,
									success : function(result) {
										$('.fa-regular.fa-heart').attr('class',
												'fa-solid fa-heart');

									},
									error : function() {
										alert('ajax 실패');
									}
								});

								//꽉찬 하트 눌렀을때
								//$(this).children('i').attr('class') == "fa-solid fa-heart"
							} else if ($(this).children('i').attr('class') == "fa-solid fa-heart") {

								var no = 0;

								$.ajax({
									url : '/boot/team/teamUnLike',
									type : 'post',
									contentType : false,
									processData : false,
									success : function(result) {
										$('.fa-solid.fa-heart').attr('class',
												'fa-regular fa-heart');

									},
									error : function() {
										alert('ajax 실패');
									}

								})

							}

						});

		//로그인을 하지 않은 상태에서 하트 클릭하면 로그인 해야한다는 알림창 띄우기
	</script>
	<!-- About Section End -->

	<!-- About Section Begin -->
	<section class="about about--page spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<!--카테고리-->
					<div class="blog__sidebar__item">
						<div class="blog__sidebar__title">
							<strong><h4>팀 히스토리</h4></strong>
						</div>
						<a href="#" class="recent__item">
							<div class="recent__item__text">
								<a th:href="@{/team/teamhispage}"><h6>팀소개/ 이력</h6></a>
							</div>
						</a> <a href="#" class="recent__item">
							<div class="recent__item__text">
								<a href="#"><h6>공연일정</h6></a>
							</div>
						</a> <a href="#" class="recent__item">
							<div class="recent__item__text">
								<a th:href="@{/team/practice}"><h6>연습게시판</h6></a>
							</div>
						</a> <a href="#" class="recent__item">
							<div class="recent__item__text">
								<a th:href="@{/team/communicate}"><h6>소통창구</h6></a>
							</div>
						</a> <a href="#" class="recent__item">
							<div class="recent__item__text">
								<a th:href="@{/team/teamNotice}"><h6>공지사항</h6></a>
							</div>
						</a>


					</div>
				</div>
				<div class="col-lg-9" style="margin-top: 50px;">
					<div style="min-height: 400px;">
							
						
						<table class="table" style="text-align: center;">
							<thead>
								<tr>
									<td>공연이름</td>
									<td>공연일자</td>
									<td>공연시간</td>
									<td>공연장소</td>
									<td>공연상태</td>
								</tr>
							</thead>
							<tbody>

								<tr th:each="show : ${concertHistory}" class="trTag">
									<input type="hidden" class="showNo" th:value="${show.showNo}" />
									<input type="hidden" class="memNo" th:value="${show.memNo}" />
									<td th:text="${show.showName}"></td>
									<td th:text="${#dates.format(show.showDate, 'yyyy-MM-dd')}"></td>
									<td th:text="${show.showTime}"></td>
									<td th:text="${show.showPlace}"></td>
									<!-- 조건 -->
									<th:block th:if="${show.showStatus==1}">
										<td>공연완료</td>
									</th:block>
									<th:block th:if="${show.showStatus==0}">
										<td>공연예정</td>
									</th:block>

								</tr>

							</tbody>
						</table>
						
						
					</div>


					<!-- 페이징 처리 -->
					<div class="col-lg-12">
						<div class="pagination__links">
							<!-- 이전으로 이동하는 페이지의 버튼 활성화 조건 boolean -->
							<th:block th:if="${pageMaker.prev}">
								<nobr>
									<a th:href="${pageMaker.startPage -1 }">Previous</a>
								</nobr>
							</th:block>

							<!-- #numbers.sequence(1,2) 시작과 끝 값을 매개변수로 받아 반복문을 돌린다 -->
							<nobr
								th:each="num : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}">

								<!-- 페이지번호 버튼의 값이 0이면 비활성화 -->
								<th:block th:if="${num == 0}">

								</th:block>

								<th:block th:if="${num != 0}">
									<a th:href="${num}" th:text="${num}"></a>
								</th:block>

							</nobr>

							<!-- 다음으로 이동하는 페이지의 버튼 활성화 조건 boolean -->
							<th:block th:if="${pageMaker.next }">
								<nobr>
									<a th:href="${pageMaker.endPage +1 }">Next</a>
								</nobr>
							</th:block>
						</div>
					</div>

					<!-- 페이징 된 버튼을 눌렀을때 이동한 페이지에 정보저장 -->
					<form id="actionForm" action="/boot/team/teamplan" method="get">
						<input type="hidden" name="pageNum"
							th:value="${pageMaker.cri.pageNum }"> <input
							type="hidden" name="amount" th:value="${pageMaker.cri.amount }">
						<input type="hidden" name="type" th:value="${pageMaker.cri.type }">
						<input type="hidden" name="keyword"
							th:value="${pageMaker.cri.keyword }">

					</form>



					<!-- <div class="pagination__links">
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">Next</a>
                </div>
				-->
				</div>
			</div>
		</div>
	</section>
	<!-- About Section End -->

	<script type="text/javascript">
		$(document).ready(
				function() {

					// paging 관련.
					var actionForm = $('#actionForm');

					$('.col-lg-12 a').on(
							'click',
							function(e) {
								e.preventDefault();
								actionForm.find("input[name='pageNum']").val(
										$(this).attr('href'))
								actionForm.submit();

							})

				})

		//tr영역 클릭시 공연 상세페이지 이동
		$('.trTag').on('click',function() {

			var showNo = $(this).children('input[class="showNo"]').val();
			var memNo = $(this).children('input[class="memNo"]').val();

			window.open("/boot/show/showDetail?showNo=" + showNo
						+ "&memNo=" + memNo, '_blank',
						"width=1400,height=800");

		})
				
				
				
	</script>


</div>
<!-- Contact Section End -->




</html>