<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
	<!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
	<link rel="stylesheet"
		th:href="@{https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap}">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/css/barfiller.css}">
	<link rel="stylesheet" th:href="@{/css/nowfont.css}">
	<link rel="stylesheet" th:href="@{/css/rockville.css}">
	<link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
	<link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
	<link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/TeamCss/teamhistory.css}">

</th:block>

<!-- Page Preloder -->
<div id="preloder">
	<div class="loader"></div>
</div>

<!-- sidebar-->
<div layout:fragment="content">

	<div style="background-color: #eee">
		<!-- Breadcrumb Begin -->
		<div class="breadcrumb-option">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb__links">
							<a href="#"><i class="fa fa-home"></i> ㅇㅇ팀</a> <span>팀이력/
								활동내역</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Breadcrumb End -->


		<!-- About Section Begin -->
		<section class="about about--page spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="about__pic">
							<img src="../img/team/basic.jpg" style="border-radius: 40px;">
						</div>
					</div>
					<div class="col-lg-6">
						<div class="about__text">
							<div class="section-title"
								style="height: 200px; padding-top: 100px;">
								<h2>팀프로필</h2>
								<a class="heart-click"> <th:block th:if="${session.teamlikeInfo}==0">
										<i class="fa-regular fa-heart"></i>
									</th:block> <th:block th:if="${session.teamlikeInfo}==1">
										<i class="fa-solid fa-heart"></i>
									</th:block>

								</a> <input type="hidden" th:value="${session.memNo}"
									name="teamLike" id="teamLike" />
							</div>
							<p>연락은 ㅇㅇㅇ@gamil.com으로 부탁드립니다~</p>

						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<script>
		//https://gimmesome.tistory.com/175
		//하트 누를때 로그인 한 회원의 id를 전달해서 team_like db update 필요 
		$(".heart-click")
				.on(
						'click',
						function() {
							var memNo = $('#teamLike').val();
							var emptyHeart = $('.fa-regular fa-heart');
							var fullHeart = $('.fa-solid fa-heart');
							//var no = 1;
							//비회원일때
							console.log("memNo" + memNo)

							if (memNo < 0) {
								alert('로그인 후 이용할 수 있습니다.');
							}

							//빈하트 눌렀을때
							if ($(this).children('i').attr('class') == "fa-regular fa-heart") {
								//JSON.stringify()
								$
										.ajax({
											url : '/boot/team/teamLike',
											type : 'post',
											data : {
												"memNo" : memNo
											},
											contentType : false,
											processData : false,
											success : function(result) {
												//page새로고침 document.location.reload(true)

												if (result == 'success') {
													console.log('성공?')
													$('.fa-regular.fa-heart')
															.attr('class',
																	'fa-solid fa-heart');
												}
											},
											error : function() {
												alert('ajax 실패');
											}
										});

								//꽉찬 하트 눌렀을때

							} else if ($(this).children('i').attr('class') == "fa-solid fa-heart") {

								var no = 0;

								$
										.ajax({
											url : '/boot/team/teamUnLike',
											type : 'post',
											data : {
												"memNo" : memNo
											},
											contentType : false,
											processData : false,
											success : function(result) {
												//page새로고침 document.location.reload(true)

												if (result == 'success') {
													$('.fa-solid.fa-heart')
															.attr('class',
																	'fa-regular fa-heart');
												}
											},
											error : function() {
												alert('ajax 실패');
											}

										//$(this).children('i').attr('class','fa-regular fa-heart');

										})

							}

						});

		//로그인을 하지 않은 상태에서 하트 클릭하면 로그인 해야한다는 알림창 띄우기
	</script>
	<!-- About Section End -->

	<!-- About Section Begin -->
	<section class="about about--page spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<!--카테고리-->
					<div class="blog__sidebar__item">
						<div class="blog__sidebar__title">
							<strong><h4>팀 히스토리</h4></strong>
						</div>
						<a href="#" class="recent__item">
							<div class="recent__item__text">
								<a th:href="@{/team/teamhispage}"><h6>팀소개/ 이력</h6></a>
							</div>
						</a> <a href="#" class="recent__item">
							<div class="recent__item__text">
								<a th:href="@{/team/teamplan}"><h6>공연일정</h6></a>
							</div>
						</a> <a href="#" class="recent__item">
							<div class="recent__item__text">
								<a th:href="@{/team/practice}"><h6>연습영상/활동기록</h6></a>
							</div>
						</a> <a href="#" class="recent__item">
							<div class="recent__item__text">
								<a th:href="@{/team/communicate}"><h6>소통창구</h6></a>
							</div>
						</a> <a href="#" class="recent__item">
							<div class="recent__item__text">
								<a th:href="@{/team/teamNotice}"><h6>공지사항</h6></a>
							</div>
						</a>


					</div>
				</div>
				<div class="col-lg-9" style="margin-top: 50px;">
					<div style="height: 400px;">
						<table class="table" style="text-align: center;">
							<thead>
								<tr>
									<td>공연이름</td>
									<td>공연일자</td>
									<td>공연시간</td>
									<td>공연장소</td>
									<td>공연종류</td>
									<td>공연상태</td>
									<td>공연상태</td>
								</tr>
							</thead>
							<tbody>
								<tr th:each="show : ${concertHistory}">
									<!-- <td>1</td>
                            <td><a href="#" style="color: black;">안녕하세요</a></td>
                            <td>민지</td>
                            <td>215</td>
                            <td>2023-03-10</td> -->
									<td th:text="${show.showName}"></td>
									<td th:text="${#dates.format(show.showDate, 'yyyy-MM-dd')}"></td>
									<td th:text="${show.showTime}"></td>
									<td th:text="${show.showPlace}"></td>
									<td th:text="${show.showType}"></td>
									<td th:text="${show.showStatus}"></td>

									<th:block th:if="${show.showStatus==1}">
										<td>공연완료</td>
									</th:block>
									<th:block th:if="${show.showStatus==0}">
										<td>공연예정</td>
									</th:block>

								</tr>

							</tbody>
						</table>
					</div>

					<div class="pagination__links">
						<a href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">Next</a>
					</div>

				</div>
			</div>
		</div>
	</section>
	<!-- About Section End -->




</div>
<!-- Contact Section End -->




</html>