@charset "UTF-8";

.select {
    padding: 15px 10px;
}
.select input[type=radio]{
    display: none;
}
.select input[type=radio]+label{
    display: inline-block;
    cursor: pointer;
    height: 24px;
    width: 90px;
    line-height: 24px;
    text-align: center;
    font-weight:bold;
    font-size:13px;
}
.select input[type=radio]+label{
    background-color: #fff;
    color: #333;
}
.select input[type=radio]:checked+label{
    background-color: #333;
    color:#fff;
}

.fundingBtn {
	background: transparent;
	border: 2px solid #fff;
	color: #111111;
    width: 100px;
    height: 45px;
    font-size: 18px;
    font-weight: bold;
    margin : 20px;
}

.fundingInsert {
	display: inline-block;
	font-size: 15px;
	text-transform: uppercase;
	padding: 14px 25px 12px;
    border: 2px solid #5c00ce;
	color: #ffffff;
	background: #5c00ce;
    font-weight: bolder;
    float: right;
    margin-top:15px;
}


  