@charset "UTF-8";

.inputTd{
	width: 80px;
}

input[type="checkbox"] {
	display: none;
}


.all_chcek_span{
	width:10px;
	height:10px;
}
.all_check_input{
	margin: 2px 0 2px 2px;
}
.all_chcek_span{
	padding-left: 8px;
	font-size: 15px;
	font-weight: bold;		
}
.primary-btnO4 {
	margin-top: 15px;
	display: inline-block;
	font-size: 15px;
	text-transform: uppercase;
	padding: 14px 20px 12px;
	color: #ffffff;
	background: #5c00ce;
	letter-spacing: 2px;
	border: white;
	font-weight: 600;
	width: 90px;
	height: 45px;
	margin-left: 650px;

}


.dropdown:hover .dropdown-content {display: block;}

.dropbtn{
  display : block;
  border : 2px solid rgb(94, 94, 94);
  border-radius : 4px;
  background-color: #fcfcfc;
  font-weight: 400;
  color : rgb(124, 124, 124);
  padding : 12px;
  width :140px;
  text-align: center;
  cursor : pointer;
  font-size : 12px;
  z-index :1;
  position : relative;
  margin-left: 600px;

}
.dropdown-content{
  display : none;
  position: absolute;
  font-weight: 400;
  background-color: #fcfcfc;
  color:black;
  min-width : 140px;
  border-radius: 8px;
  height : 100px;
  overflow : scroll;
  box-shadow: 0px 0px 10px 3px rgba(190, 190, 190, 0.6);
  margin-left: 600px;
}
.dropdown-content::-webkit-scrollbar{
  width : 5px;
  height : 10px;
}
.dropdown-content::-webkit-scrollbar-thumb{
  border-radius : 2px;
  background-color :rgb(194, 194, 194)
}

.dropdown-content div{
  display : block;
  text-decoration : none;
  color : rgb(37, 37, 37);
  font-size: 12px;
  padding : 12px 20px;
}
.dropdown-content div:hover{
  background-color:  #cba8f6;
}

.dropdown-content.show{
  display : block;
}

.dropdown-content a{
  color:black
}