@charset "UTF-8";

h6:hover{
    height: 50px;
    padding-top: 19px;
    font-weight: 600;
    background-color : #eee;
    color: black;
}

p{
    font-weight: 600;
}

tbody tr:hover{
    background-color : #eee;
}

.button{
    background-color: #96d2fa;
    border: #081c29;
    border-radius: 20%;
    height: 30px;
    float: right;
}


.ReplyMod, .DoReplyMod, .DeleteReply{
    	
    	font-size: 15px;
	    color: #ffffff;
	    background: #5c00ce;
	    font-weight: 700;
	    letter-spacing: 2px;
	    text-transform: uppercase;
	    display: inline-block;
	    padding: 14px 30px;
	    width: 100px;
    	border: 1px solid white;
    	} 
    	