@charset "UTF-8";


 .result-button {
            background-color: #5c00ce;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 10px;
            color: #ffffff;
            }

        .table td{
            vertical-align: middle;
        }

		table{
			text-align:center;
		}
		
        p{
            text-align: center;
        }


.modal {
		  display: none; /* 모달창은 기본적으로 보이지 않도록 함 */
		  position: fixed; /* 고정 위치 */
		  z-index: 1; /* 가장 위에 표시 */
		  left: 0;
		  top: 0;
		  width: 100%;
		  height: 100%;
		  overflow: auto; /* 스크롤 가능하도록 함 */
		  /*background-color: rgba(0,0,0,0.4);  배경을 어둡게 함 */
		}
		
		.modal-content {
		  background-color: #fefefe;
		  margin: auto; /* 수직/수평 가운데로 정렬 */
		  padding: 20px;
		  border: 1px solid #888;
		  width: 80%;
		  max-width: 600px; /* 모달창 최대 너비 */
		  position: relative; /* 모달창 내부 요소를 상대 위치로 지정 */
		  top: 50%; /* 수직 가운데 정렬 */
		  transform: translateY(-50%); /* 수직 가운데 정렬 */
		}
		
		/* 모달창 내부의 폼 요소에 스타일을 적용함 */
		.modal-content form {
		  display: flex;
		  flex-direction: column;
		}
		
		.modal-content form textarea {
		  margin-bottom: 10px;
		}
		
		.modal-content form label {
		  display: inline-block;
		  margin-bottom: 10px;
		}
		
		
		
		
		