@charset "UTF-8";


 h6:hover{
            height: 50px;
            padding-top: 19px;
            font-weight: 600;
            background-color : #eee;
            color: black;
        }

        p{
            font-weight: 600;
           
            
        }
        
        tbody tr:hover{
            background-color : #eee;
        }

        .button{
            background-color: #96d2fa;
            border: #081c29;
            border-radius: 20%;
            height: 45px;
            float: right;
        }

        .alink{
            color: skyblue;
        }

        .boardpage{
            display: flex;
        }

        .ptag{
            font-weight: 600;
            width: 100px;
            
        }

        .atag:hover{
            color: black;
        }
        
        #editor {
	/* border : 1px solid; */
	width: 70%;
	text-align: left;
	margin: 0 ;
}
/* editor content 받을 div태그 스타일 추가. */
#contents {
	width: 50%;
	height: 100px;
	margin: 30px auto;
	border: 1px solid;
}

#accordion {
	width: 70%;
	margin: 0 auto;
}
