@charset "UTF-8";

 h6:hover{
            height: 50px;
            padding-top: 19px;
            font-weight: 600;
            background-color : #eee;
            color: black;
        }

        p{
            font-weight: 600;
           
            
        }
        
        tbody tr:hover{
            background-color : #eee;
        }

       

        .alink{
            color: skyblue;
        }

        .boardpage{
            display: flex;
        }

        .ptag{
            font-weight: 600;
            width: 100px;
           
            
        }

        .atag:hover{
            color: black;
        }
        
        .modal, .modal1 {
		  display: none; /* 모달창은 기본적으로 보이지 않도록 함 */
		  position: fixed; /* 고정 위치 */
		  z-index: 1; /* 가장 위에 표시 */
		  left: 0;
		  top: 0;
		  width: 100%;
		  height: 100%;
		  overflow: auto; /* 스크롤 가능하도록 함 */
		  /*background-color: rgba(0,0,0,0.4);  배경을 어둡게 함 */
		}
		
		.modal-content, .modal-content1 {
		  background-color: #fefefe;
		  margin: auto; /* 수직/수평 가운데로 정렬 */
		  padding: 20px;
		  border: 1px solid #888;
		  width: 80%;
		  max-width: 600px; /* 모달창 최대 너비 */
		  position: relative; /* 모달창 내부 요소를 상대 위치로 지정 */
		  top: 50%; /* 수직 가운데 정렬 */
		  transform: translateY(-50%); /* 수직 가운데 정렬 */
		}
		
		/* 모달창 내부의 폼 요소에 스타일을 적용함 */
		.modal-content form , .modal-content form{
		  display: flex;
		  flex-direction: column;
		}
		
		.modal-content form textarea , .modal-content1 form textarea{
		  margin-bottom: 10px;
		}
		
		.modal-content form label,  .modal-content1 form label{
		  display: block;
		  margin-bottom: 10px;
		}
		
		.label {
		  display: flex; /* Change display to flex for label positioning */
		  align-items: center; /* Center label vertically */
		  margin-bottom: 10px;
		  margin : 0 auto;
		}
		
		.label input[type="radio"] {
		  margin-right: 5px; /* Add margin between radio button and label text */
		}
		
		
		.ReplyMod,.DeleteReply,.DoReplyMod,.button, .button1{
			font-size: 15px;
	    color: #ffffff;
	    background: #5c00ce;
	    font-weight: 700;
	    letter-spacing: 2px;
	    text-transform: uppercase;
	    display: inline-block;
	    padding: 14px 30px;
	    width: 100px;
    	border: 1px solid white;
		}