@charset "UTF-8";


/*모달*/
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

/* 모달 박스 내용 */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

/* 닫기 버튼 */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.container {
	max-width: 80%;
	margin: 0 auto;
	padding: 20px;
}

.form-group {
	margin-bottom: 20px;
}

label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}


input[type="text"], input[type="email"], input[type="tel"], span {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	box-sizing: border-box;
}

button[type="submit"] {
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}

button[type="submit"]:hover {
	background-color: #0069d9;
}

#preview-img {
	width: 600px; 
	height:500px;
	object-fit: cover; /* 이미지 비율 유지하며 크기 맞추기 */
	object-position: center;
	display: block; /* 이미지를 블록 요소로 만들어 가운데 정렬 가능하게 함 */
	margin: 0 auto; /* 가운데 정렬 */
	
}

.image-container {
	
	
	width: 600px; 
	height:500px;
	border-radius: 20%; /* 동그라미 모양으로 만들기 */
	overflow: hidden; /* 이미지가 요소를 벗어나는 것을 방지 */
}

.image-container img {
	width: 100%; /* 이미지 요소에 width를 100% 지정하여 크기 조정 */
	height: auto; /* 비율에 맞게 자동 조정 */
	display: block; /* 가운데 정렬을 위한 필수 속성 */
	margin: auto; /* 가운데 정렬 */
}

/*드롭다운*/
.dropdown {
	position: relative;
	display: inline-block;
}
/* 
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
} */
.dropdown:hover .dropdown-content {
	display: block;
}

.dropbtn {
	background-color: #5c00ce;
	color: white;
	padding: 12px;
	font-size: 16px;
	border: none;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.selectImage {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	box-sizing: border-box;
}





.exitTeam {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
}

/* 리스트 스타일 */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  
}

li span {
  font-size: 18px;
  font-weight: bold;
}

li button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

li button:hover {
  background-color: #da190b;
}


