@charset "UTF-8";


h6:hover {
	height: 50px;
	padding-top: 19px;
	font-weight: 600;
	background-color: #eee;
	color: black;
}

p {
	font-weight: 600;
	

}

tbody tr:hover {
	background-color: #eee;
}

 .button{
            background-color: #96d2fa;
            border: #081c29;
            border-radius: 20%;
            height: 45px;
            float: right;
        }

        .alink{
            color: black;
        }

        .alink:hover{
            color:black;
            text-decoration: underline;
        }

.teamprofile{
	border-radius: 50%;
	overflow: hidden; 
	width: 150px; 
	height: 150px;
	background-size: cover;
	background-position : center;
	
}


