@charset "UTF-8";


 .about__text {
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
        padding: 50px;
        background-color: #f9f9f9;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    .section-title {
        margin-bottom: 50px;
    }

    .section-title h2 {
        font-size: 36px;
        font-weight: bold;
        color: #333;
        text-transform: uppercase;
        margin: 0;
        letter-spacing: 2px;
    }

    .team-image {
        border-radius: 50%;
        margin-bottom: 50px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }

    .team-image img {
        max-width: 100%;
        height: auto;
    }

    .team-info {
        margin-bottom: 30px;
        text-align: left;
    }

    .team-info h3 {
        font-size: 24px;
        font-weight: bold;
        color: #333;
        margin-bottom: 10px;
        letter-spacing: 1px;
    }

    .team-info p {
        font-size: 16px;
        color: #666;
        margin: 0;
        line-height: 1.5;
    }

    .team-info p:last-child {
        margin-bottom: 0;
    }
    h3{
    	text-align: center;
    	
    }
    
    p{
    	text-align: center;
    	border:thin;
    	width: 100%;
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 5px;
		font-size: 16px;
		box-sizing: border-box;
    }
    
    